# Written by Synplify Pro version maplat, Build 1612R. Synopsys Run ID: sid1536450871 
# Top Level Design Parameters 

# Clocks 
create_clock -period 5.117 -waveform {0.000 2.558} -name {main|TVP_VSYNC} [get_ports {TVP_VSYNC}] 
create_clock -period 6.610 -waveform {0.000 3.305} -name {main|TVP_CLK} [get_ports {TVP_CLK}] 

# Virtual Clocks 

# Generated Clocks 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 
set_false_path -from [get_clocks {main|TVP_VSYNC}] -to [get_clocks {main|TVP_CLK}]
set_false_path -from [get_clocks {main|TVP_CLK}] -to [get_clocks {main|TVP_VSYNC}]

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 

# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

