ble_pack transmit_module.video_signal_controller.i1_2_lut_adj_16_LC_6_27_0 { transmit_module.video_signal_controller.i1_2_lut_adj_16 }
ble_pack transmit_module.video_signal_controller.i663_2_lut_LC_6_27_1 { transmit_module.video_signal_controller.i663_2_lut }
ble_pack transmit_module.video_signal_controller.i1_2_lut_adj_17_LC_6_27_5 { transmit_module.video_signal_controller.i1_2_lut_adj_17 }
clb_pack LT_6_27 { transmit_module.video_signal_controller.i1_2_lut_adj_16_LC_6_27_0, transmit_module.video_signal_controller.i663_2_lut_LC_6_27_1, transmit_module.video_signal_controller.i1_2_lut_adj_17_LC_6_27_5 }
set_location LT_6_27 6 27
ble_pack transmit_module.video_signal_controller.i660_2_lut_LC_6_30_1 { transmit_module.video_signal_controller.i660_2_lut }
clb_pack LT_6_30 { transmit_module.video_signal_controller.i660_2_lut_LC_6_30_1 }
set_location LT_6_30 6 30
ble_pack transmit_module.video_signal_controller.i627_2_lut_LC_6_31_7 { transmit_module.video_signal_controller.i627_2_lut }
clb_pack LT_6_31 { transmit_module.video_signal_controller.i627_2_lut_LC_6_31_7 }
set_location LT_6_31 6 31
ble_pack transmit_module.video_signal_controller.i1_2_lut_adj_18_LC_7_27_1 { transmit_module.video_signal_controller.i1_2_lut_adj_18 }
ble_pack transmit_module.video_signal_controller.i610_2_lut_LC_7_27_2 { transmit_module.video_signal_controller.i610_2_lut }
ble_pack transmit_module.video_signal_controller.i645_2_lut_LC_7_27_3 { transmit_module.video_signal_controller.i645_2_lut }
clb_pack LT_7_27 { transmit_module.video_signal_controller.i1_2_lut_adj_18_LC_7_27_1, transmit_module.video_signal_controller.i610_2_lut_LC_7_27_2, transmit_module.video_signal_controller.i645_2_lut_LC_7_27_3 }
set_location LT_7_27 7 27
ble_pack transmit_module.video_signal_controller.i630_2_lut_LC_7_31_3 { transmit_module.video_signal_controller.i630_2_lut }
clb_pack LT_7_31 { transmit_module.video_signal_controller.i630_2_lut_LC_7_31_3 }
set_location LT_7_31 7 31
ble_pack receive_module.rx_counter.i1_2_lut_LC_9_15_1 { receive_module.rx_counter.i1_2_lut }
clb_pack LT_9_15 { receive_module.rx_counter.i1_2_lut_LC_9_15_1 }
set_location LT_9_15 9 15
ble_pack receive_module.rx_counter.i5_4_lut_LC_9_16_0 { receive_module.rx_counter.i5_4_lut }
ble_pack receive_module.rx_counter.i2_2_lut_3_lut_LC_9_16_1 { receive_module.rx_counter.i2_2_lut_3_lut }
ble_pack receive_module.rx_counter.i3_2_lut_LC_9_16_2 { receive_module.rx_counter.i3_2_lut }
ble_pack receive_module.rx_counter.i2_2_lut_LC_9_16_3 { receive_module.rx_counter.i2_2_lut }
ble_pack receive_module.rx_counter.PULSE_1HZ_46_LC_9_16_4 { receive_module.rx_counter.i5_2_lut, receive_module.rx_counter.PULSE_1HZ_46 }
clb_pack LT_9_16 { receive_module.rx_counter.i5_4_lut_LC_9_16_0, receive_module.rx_counter.i2_2_lut_3_lut_LC_9_16_1, receive_module.rx_counter.i3_2_lut_LC_9_16_2, receive_module.rx_counter.i2_2_lut_LC_9_16_3, receive_module.rx_counter.PULSE_1HZ_46_LC_9_16_4 }
set_location LT_9_16 9 16
ble_pack receive_module.rx_counter.FRAME_COUNTER_74__i0_LC_9_17_0 { receive_module.rx_counter.FRAME_COUNTER_74_add_4_2_lut, receive_module.rx_counter.FRAME_COUNTER_74__i0, receive_module.rx_counter.FRAME_COUNTER_74_add_4_2 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_74__i1_LC_9_17_1 { receive_module.rx_counter.FRAME_COUNTER_74_add_4_3_lut, receive_module.rx_counter.FRAME_COUNTER_74__i1, receive_module.rx_counter.FRAME_COUNTER_74_add_4_3 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_74__i2_LC_9_17_2 { receive_module.rx_counter.FRAME_COUNTER_74_add_4_4_lut, receive_module.rx_counter.FRAME_COUNTER_74__i2, receive_module.rx_counter.FRAME_COUNTER_74_add_4_4 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_74__i3_LC_9_17_3 { receive_module.rx_counter.FRAME_COUNTER_74_add_4_5_lut, receive_module.rx_counter.FRAME_COUNTER_74__i3, receive_module.rx_counter.FRAME_COUNTER_74_add_4_5 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_74__i4_LC_9_17_4 { receive_module.rx_counter.FRAME_COUNTER_74_add_4_6_lut, receive_module.rx_counter.FRAME_COUNTER_74__i4, receive_module.rx_counter.FRAME_COUNTER_74_add_4_6 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_74__i5_LC_9_17_5 { receive_module.rx_counter.FRAME_COUNTER_74_add_4_7_lut, receive_module.rx_counter.FRAME_COUNTER_74__i5 }
clb_pack LT_9_17 { receive_module.rx_counter.FRAME_COUNTER_74__i0_LC_9_17_0, receive_module.rx_counter.FRAME_COUNTER_74__i1_LC_9_17_1, receive_module.rx_counter.FRAME_COUNTER_74__i2_LC_9_17_2, receive_module.rx_counter.FRAME_COUNTER_74__i3_LC_9_17_3, receive_module.rx_counter.FRAME_COUNTER_74__i4_LC_9_17_4, receive_module.rx_counter.FRAME_COUNTER_74__i5_LC_9_17_5 }
set_location LT_9_17 9 17
ble_pack receive_module.rx_counter.i202_2_lut_rep_4_LC_9_18_3 { receive_module.rx_counter.i202_2_lut_rep_4 }
ble_pack receive_module.rx_counter.old_VS_49_LC_9_18_4 { receive_module.rx_counter.old_VS_49_THRU_LUT4_0, receive_module.rx_counter.old_VS_49 }
clb_pack LT_9_18 { receive_module.rx_counter.i202_2_lut_rep_4_LC_9_18_3, receive_module.rx_counter.old_VS_49_LC_9_18_4 }
set_location LT_9_18 9 18
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i0_LC_9_27_0 { transmit_module.video_signal_controller.VGA_Y_71_add_4_2_lut, transmit_module.video_signal_controller.VGA_Y_71__i0, transmit_module.video_signal_controller.VGA_Y_71_add_4_2 }
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i1_LC_9_27_1 { transmit_module.video_signal_controller.VGA_Y_71_add_4_3_lut, transmit_module.video_signal_controller.VGA_Y_71__i1, transmit_module.video_signal_controller.VGA_Y_71_add_4_3 }
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i2_LC_9_27_2 { transmit_module.video_signal_controller.VGA_Y_71_add_4_4_lut, transmit_module.video_signal_controller.VGA_Y_71__i2, transmit_module.video_signal_controller.VGA_Y_71_add_4_4 }
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i3_LC_9_27_3 { transmit_module.video_signal_controller.VGA_Y_71_add_4_5_lut, transmit_module.video_signal_controller.VGA_Y_71__i3, transmit_module.video_signal_controller.VGA_Y_71_add_4_5 }
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i4_LC_9_27_4 { transmit_module.video_signal_controller.VGA_Y_71_add_4_6_lut, transmit_module.video_signal_controller.VGA_Y_71__i4, transmit_module.video_signal_controller.VGA_Y_71_add_4_6 }
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i5_LC_9_27_5 { transmit_module.video_signal_controller.VGA_Y_71_add_4_7_lut, transmit_module.video_signal_controller.VGA_Y_71__i5, transmit_module.video_signal_controller.VGA_Y_71_add_4_7 }
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i6_LC_9_27_6 { transmit_module.video_signal_controller.VGA_Y_71_add_4_8_lut, transmit_module.video_signal_controller.VGA_Y_71__i6, transmit_module.video_signal_controller.VGA_Y_71_add_4_8 }
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i7_LC_9_27_7 { transmit_module.video_signal_controller.VGA_Y_71_add_4_9_lut, transmit_module.video_signal_controller.VGA_Y_71__i7, transmit_module.video_signal_controller.VGA_Y_71_add_4_9 }
clb_pack LT_9_27 { transmit_module.video_signal_controller.VGA_Y_71__i0_LC_9_27_0, transmit_module.video_signal_controller.VGA_Y_71__i1_LC_9_27_1, transmit_module.video_signal_controller.VGA_Y_71__i2_LC_9_27_2, transmit_module.video_signal_controller.VGA_Y_71__i3_LC_9_27_3, transmit_module.video_signal_controller.VGA_Y_71__i4_LC_9_27_4, transmit_module.video_signal_controller.VGA_Y_71__i5_LC_9_27_5, transmit_module.video_signal_controller.VGA_Y_71__i6_LC_9_27_6, transmit_module.video_signal_controller.VGA_Y_71__i7_LC_9_27_7 }
set_location LT_9_27 9 27
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i8_LC_9_28_0 { transmit_module.video_signal_controller.VGA_Y_71_add_4_10_lut, transmit_module.video_signal_controller.VGA_Y_71__i8, transmit_module.video_signal_controller.VGA_Y_71_add_4_10 }
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i9_LC_9_28_1 { transmit_module.video_signal_controller.VGA_Y_71_add_4_11_lut, transmit_module.video_signal_controller.VGA_Y_71__i9, transmit_module.video_signal_controller.VGA_Y_71_add_4_11 }
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i10_LC_9_28_2 { transmit_module.video_signal_controller.VGA_Y_71_add_4_12_lut, transmit_module.video_signal_controller.VGA_Y_71__i10, transmit_module.video_signal_controller.VGA_Y_71_add_4_12 }
ble_pack transmit_module.video_signal_controller.VGA_Y_71__i11_LC_9_28_3 { transmit_module.video_signal_controller.VGA_Y_71_add_4_13_lut, transmit_module.video_signal_controller.VGA_Y_71__i11 }
clb_pack LT_9_28 { transmit_module.video_signal_controller.VGA_Y_71__i8_LC_9_28_0, transmit_module.video_signal_controller.VGA_Y_71__i9_LC_9_28_1, transmit_module.video_signal_controller.VGA_Y_71__i10_LC_9_28_2, transmit_module.video_signal_controller.VGA_Y_71__i11_LC_9_28_3 }
set_location LT_9_28 9 28
ble_pack transmit_module.video_signal_controller.i1_2_lut_adj_13_LC_9_29_1 { transmit_module.video_signal_controller.i1_2_lut_adj_13 }
ble_pack transmit_module.video_signal_controller.i7_4_lut_LC_9_29_2 { transmit_module.video_signal_controller.i7_4_lut }
ble_pack transmit_module.video_signal_controller.i10_4_lut_LC_9_29_3 { transmit_module.video_signal_controller.i10_4_lut }
ble_pack transmit_module.video_signal_controller.i947_2_lut_LC_9_29_5 { transmit_module.video_signal_controller.i947_2_lut }
ble_pack transmit_module.video_signal_controller.i957_4_lut_LC_9_29_6 { transmit_module.video_signal_controller.i957_4_lut }
clb_pack LT_9_29 { transmit_module.video_signal_controller.i1_2_lut_adj_13_LC_9_29_1, transmit_module.video_signal_controller.i7_4_lut_LC_9_29_2, transmit_module.video_signal_controller.i10_4_lut_LC_9_29_3, transmit_module.video_signal_controller.i947_2_lut_LC_9_29_5, transmit_module.video_signal_controller.i957_4_lut_LC_9_29_6 }
set_location LT_9_29 9 29
ble_pack transmit_module.video_signal_controller.i1_2_lut_adj_15_LC_9_30_0 { transmit_module.video_signal_controller.i1_2_lut_adj_15 }
ble_pack transmit_module.video_signal_controller.i626_2_lut_LC_9_30_2 { transmit_module.video_signal_controller.i626_2_lut }
ble_pack transmit_module.video_signal_controller.i629_2_lut_LC_9_30_4 { transmit_module.video_signal_controller.i629_2_lut }
clb_pack LT_9_30 { transmit_module.video_signal_controller.i1_2_lut_adj_15_LC_9_30_0, transmit_module.video_signal_controller.i626_2_lut_LC_9_30_2, transmit_module.video_signal_controller.i629_2_lut_LC_9_30_4 }
set_location LT_9_30 9 30
ble_pack transmit_module.video_signal_controller.i7_4_lut_adj_14_LC_10_27_0 { transmit_module.video_signal_controller.i7_4_lut_adj_14 }
ble_pack transmit_module.video_signal_controller.i9_4_lut_LC_10_27_1 { transmit_module.video_signal_controller.i9_4_lut }
ble_pack transmit_module.video_signal_controller.i3_4_lut_LC_10_27_5 { transmit_module.video_signal_controller.i3_4_lut }
clb_pack LT_10_27 { transmit_module.video_signal_controller.i7_4_lut_adj_14_LC_10_27_0, transmit_module.video_signal_controller.i9_4_lut_LC_10_27_1, transmit_module.video_signal_controller.i3_4_lut_LC_10_27_5 }
set_location LT_10_27 10 27
ble_pack transmit_module.video_signal_controller.i2_3_lut_LC_10_28_1 { transmit_module.video_signal_controller.i2_3_lut }
ble_pack transmit_module.video_signal_controller.i4_2_lut_LC_10_28_2 { transmit_module.video_signal_controller.i4_2_lut }
ble_pack transmit_module.video_signal_controller.i10_4_lut_adj_19_LC_10_28_3 { transmit_module.video_signal_controller.i10_4_lut_adj_19 }
ble_pack transmit_module.video_signal_controller.i1_2_lut_adj_10_LC_10_28_4 { transmit_module.video_signal_controller.i1_2_lut_adj_10 }
ble_pack transmit_module.video_signal_controller.i4_4_lut_adj_11_LC_10_28_5 { transmit_module.video_signal_controller.i4_4_lut_adj_11 }
ble_pack transmit_module.video_signal_controller.i690_4_lut_LC_10_28_6 { transmit_module.video_signal_controller.i690_4_lut }
ble_pack transmit_module.video_signal_controller.i692_2_lut_LC_10_28_7 { transmit_module.video_signal_controller.i692_2_lut }
clb_pack LT_10_28 { transmit_module.video_signal_controller.i2_3_lut_LC_10_28_1, transmit_module.video_signal_controller.i4_2_lut_LC_10_28_2, transmit_module.video_signal_controller.i10_4_lut_adj_19_LC_10_28_3, transmit_module.video_signal_controller.i1_2_lut_adj_10_LC_10_28_4, transmit_module.video_signal_controller.i4_4_lut_adj_11_LC_10_28_5, transmit_module.video_signal_controller.i690_4_lut_LC_10_28_6, transmit_module.video_signal_controller.i692_2_lut_LC_10_28_7 }
set_location LT_10_28 10 28
ble_pack transmit_module.video_signal_controller.i1_2_lut_rep_5_LC_10_29_0 { transmit_module.video_signal_controller.i1_2_lut_rep_5 }
ble_pack transmit_module.video_signal_controller.VGA_VISIBLE_I_0_4_lut_LC_10_29_1 { transmit_module.video_signal_controller.VGA_VISIBLE_I_0_4_lut }
ble_pack transmit_module.video_signal_controller.i1_2_lut_adj_9_LC_10_29_3 { transmit_module.video_signal_controller.i1_2_lut_adj_9 }
ble_pack transmit_module.video_signal_controller.i4_4_lut_LC_10_29_4 { transmit_module.video_signal_controller.i4_4_lut }
ble_pack transmit_module.video_signal_controller.i137_4_lut_LC_10_29_5 { transmit_module.video_signal_controller.i137_4_lut }
ble_pack transmit_module.video_signal_controller.i960_3_lut_4_lut_LC_10_29_6 { transmit_module.video_signal_controller.i960_3_lut_4_lut }
clb_pack LT_10_29 { transmit_module.video_signal_controller.i1_2_lut_rep_5_LC_10_29_0, transmit_module.video_signal_controller.VGA_VISIBLE_I_0_4_lut_LC_10_29_1, transmit_module.video_signal_controller.i1_2_lut_adj_9_LC_10_29_3, transmit_module.video_signal_controller.i4_4_lut_LC_10_29_4, transmit_module.video_signal_controller.i137_4_lut_LC_10_29_5, transmit_module.video_signal_controller.i960_3_lut_4_lut_LC_10_29_6 }
set_location LT_10_29 10 29
ble_pack transmit_module.video_signal_controller.i2_3_lut_adj_12_LC_10_30_0 { transmit_module.video_signal_controller.i2_3_lut_adj_12 }
ble_pack transmit_module.video_signal_controller.i32_4_lut_LC_10_30_1 { transmit_module.video_signal_controller.i32_4_lut }
ble_pack transmit_module.video_signal_controller.i628_2_lut_LC_10_30_4 { transmit_module.video_signal_controller.i628_2_lut }
ble_pack transmit_module.video_signal_controller.i1_3_lut_LC_10_30_7 { transmit_module.video_signal_controller.i1_3_lut }
clb_pack LT_10_30 { transmit_module.video_signal_controller.i2_3_lut_adj_12_LC_10_30_0, transmit_module.video_signal_controller.i32_4_lut_LC_10_30_1, transmit_module.video_signal_controller.i628_2_lut_LC_10_30_4, transmit_module.video_signal_controller.i1_3_lut_LC_10_30_7 }
set_location LT_10_30 10 30
ble_pack transmit_module.video_signal_controller.i1_2_lut_LC_10_31_2 { transmit_module.video_signal_controller.i1_2_lut }
ble_pack transmit_module.video_signal_controller.i600_2_lut_LC_10_31_4 { transmit_module.video_signal_controller.i600_2_lut }
ble_pack transmit_module.video_signal_controller.i625_2_lut_LC_10_31_6 { transmit_module.video_signal_controller.i625_2_lut }
clb_pack LT_10_31 { transmit_module.video_signal_controller.i1_2_lut_LC_10_31_2, transmit_module.video_signal_controller.i600_2_lut_LC_10_31_4, transmit_module.video_signal_controller.i625_2_lut_LC_10_31_6 }
set_location LT_10_31 10 31
ble_pack transmit_module.video_signal_controller.i1_2_lut_adj_7_LC_10_32_1 { transmit_module.video_signal_controller.i1_2_lut_adj_7 }
ble_pack transmit_module.video_signal_controller.i1_2_lut_adj_8_LC_10_32_2 { transmit_module.video_signal_controller.i1_2_lut_adj_8 }
ble_pack transmit_module.video_signal_controller.i599_2_lut_LC_10_32_6 { transmit_module.video_signal_controller.i599_2_lut }
clb_pack LT_10_32 { transmit_module.video_signal_controller.i1_2_lut_adj_7_LC_10_32_1, transmit_module.video_signal_controller.i1_2_lut_adj_8_LC_10_32_2, transmit_module.video_signal_controller.i599_2_lut_LC_10_32_6 }
set_location LT_10_32 10 32
ble_pack transmit_module.video_signal_controller.VGA_X_72_73__i1_LC_11_28_0 { transmit_module.video_signal_controller.VGA_X_72_73_add_4_2_lut, transmit_module.video_signal_controller.VGA_X_72_73__i1, transmit_module.video_signal_controller.VGA_X_72_73_add_4_2 }
ble_pack transmit_module.video_signal_controller.VGA_X_72_73__i2_LC_11_28_1 { transmit_module.video_signal_controller.VGA_X_72_73_add_4_3_lut, transmit_module.video_signal_controller.VGA_X_72_73__i2, transmit_module.video_signal_controller.VGA_X_72_73_add_4_3 }
ble_pack transmit_module.video_signal_controller.VGA_X_72_73__i3_LC_11_28_2 { transmit_module.video_signal_controller.VGA_X_72_73_add_4_4_lut, transmit_module.video_signal_controller.VGA_X_72_73__i3, transmit_module.video_signal_controller.VGA_X_72_73_add_4_4 }
ble_pack transmit_module.video_signal_controller.VGA_X_72_73__i4_LC_11_28_3 { transmit_module.video_signal_controller.VGA_X_72_73_add_4_5_lut, transmit_module.video_signal_controller.VGA_X_72_73__i4, transmit_module.video_signal_controller.VGA_X_72_73_add_4_5 }
ble_pack transmit_module.video_signal_controller.VGA_X_72_73__i5_LC_11_28_4 { transmit_module.video_signal_controller.VGA_X_72_73_add_4_6_lut, transmit_module.video_signal_controller.VGA_X_72_73__i5, transmit_module.video_signal_controller.VGA_X_72_73_add_4_6 }
ble_pack transmit_module.video_signal_controller.VGA_X_72_73__i6_LC_11_28_5 { transmit_module.video_signal_controller.VGA_X_72_73_add_4_7_lut, transmit_module.video_signal_controller.VGA_X_72_73__i6, transmit_module.video_signal_controller.VGA_X_72_73_add_4_7 }
ble_pack transmit_module.video_signal_controller.VGA_X_72_73__i7_LC_11_28_6 { transmit_module.video_signal_controller.VGA_X_72_73_add_4_8_lut, transmit_module.video_signal_controller.VGA_X_72_73__i7, transmit_module.video_signal_controller.VGA_X_72_73_add_4_8 }
ble_pack transmit_module.video_signal_controller.VGA_X_72_73__i8_LC_11_28_7 { transmit_module.video_signal_controller.VGA_X_72_73_add_4_9_lut, transmit_module.video_signal_controller.VGA_X_72_73__i8, transmit_module.video_signal_controller.VGA_X_72_73_add_4_9 }
clb_pack LT_11_28 { transmit_module.video_signal_controller.VGA_X_72_73__i1_LC_11_28_0, transmit_module.video_signal_controller.VGA_X_72_73__i2_LC_11_28_1, transmit_module.video_signal_controller.VGA_X_72_73__i3_LC_11_28_2, transmit_module.video_signal_controller.VGA_X_72_73__i4_LC_11_28_3, transmit_module.video_signal_controller.VGA_X_72_73__i5_LC_11_28_4, transmit_module.video_signal_controller.VGA_X_72_73__i6_LC_11_28_5, transmit_module.video_signal_controller.VGA_X_72_73__i7_LC_11_28_6, transmit_module.video_signal_controller.VGA_X_72_73__i8_LC_11_28_7 }
set_location LT_11_28 11 28
ble_pack transmit_module.video_signal_controller.VGA_X_72_73__i9_LC_11_29_0 { transmit_module.video_signal_controller.VGA_X_72_73_add_4_10_lut, transmit_module.video_signal_controller.VGA_X_72_73__i9, transmit_module.video_signal_controller.VGA_X_72_73_add_4_10 }
ble_pack transmit_module.video_signal_controller.VGA_X_72_73__i10_LC_11_29_1 { transmit_module.video_signal_controller.VGA_X_72_73_add_4_11_lut, transmit_module.video_signal_controller.VGA_X_72_73__i10, transmit_module.video_signal_controller.VGA_X_72_73_add_4_11 }
ble_pack transmit_module.video_signal_controller.VGA_X_72_73__i11_LC_11_29_2 { transmit_module.video_signal_controller.VGA_X_72_73_add_4_12_lut, transmit_module.video_signal_controller.VGA_X_72_73__i11 }
clb_pack LT_11_29 { transmit_module.video_signal_controller.VGA_X_72_73__i9_LC_11_29_0, transmit_module.video_signal_controller.VGA_X_72_73__i10_LC_11_29_1, transmit_module.video_signal_controller.VGA_X_72_73__i11_LC_11_29_2 }
set_location LT_11_29 11 29
ble_pack transmit_module.video_signal_controller.i1_2_lut_adj_6_LC_11_31_7 { transmit_module.video_signal_controller.i1_2_lut_adj_6 }
clb_pack LT_11_31 { transmit_module.video_signal_controller.i1_2_lut_adj_6_LC_11_31_7 }
set_location LT_11_31 11 31
ble_pack transmit_module.video_signal_controller.i624_2_lut_LC_11_32_2 { transmit_module.video_signal_controller.i624_2_lut }
clb_pack LT_11_32 { transmit_module.video_signal_controller.i624_2_lut_LC_11_32_2 }
set_location LT_11_32 11 32
ble_pack transmit_module.video_signal_controller.i623_2_lut_LC_12_30_6 { transmit_module.video_signal_controller.i623_2_lut }
clb_pack LT_12_30 { transmit_module.video_signal_controller.i623_2_lut_LC_12_30_6 }
set_location LT_12_30 12 30
ble_pack transmit_module.video_signal_controller.i617_2_lut_LC_12_31_1 { transmit_module.video_signal_controller.i617_2_lut }
clb_pack LT_12_31 { transmit_module.video_signal_controller.i617_2_lut_LC_12_31_1 }
set_location LT_12_31 12 31
ble_pack transmit_module.video_signal_controller.i620_2_lut_LC_12_32_2 { transmit_module.video_signal_controller.i620_2_lut }
clb_pack LT_12_32 { transmit_module.video_signal_controller.i620_2_lut_LC_12_32_2 }
set_location LT_12_32 12 32
ble_pack GB_BUFFER_TVP_CLK_c_THRU_LUT4_0_LC_16_1_0 { GB_BUFFER_TVP_CLK_c_THRU_LUT4_0 }
clb_pack LT_16_1 { GB_BUFFER_TVP_CLK_c_THRU_LUT4_0_LC_16_1_0 }
set_location LT_16_1 16 1
ble_pack CONSTANT_ONE_LUT4_LC_19_32_3 { CONSTANT_ONE_LUT4 }
clb_pack LT_19_32 { CONSTANT_ONE_LUT4_LC_19_32_3 }
set_location LT_19_32 19 32
set_io DEBUG[1] J1
set_io ADV_R[0] C4
set_io ADV_B[7] A11
set_io ADV_G[5] A4
set_io DEBUG[7] E2
set_io ADV_R[6] B1
set_io ADV_B[5] B9
set_io DEBUG[6] F2
set_io ADV_R[7] B2
set_io ADV_G[3] A3
set_io ADV_CLK C9
set_io ADV_B[2] A8
set_io DEBUG[5] D5
set_io ADV_R[4] C1
set_io ADV_G[2] B3
set_io ADV_B[3] B8
set_io DEBUG[4] F1
set_io ADV_R[5] C2
set_io ADV_G[1] A2
set_io ADV_B[0] A6
set_io DEBUG[3] G2
set_io ADV_R[2] D1
set_io ADV_HSYNC D3
set_io ADV_G[0] A1
set_io ADV_B[1] A7
set_io TVP_VSYNC J5
set_io TVP_CLK K6
set_io DEBUG[2] H2
set_io ADV_R[3] D2
set_io ADV_G[7] A5
set_io ADV_B[6] A10
set_io ADV_VSYNC E1
set_io ADV_G[6] B5
set_io ADV_BLANK_N C7
set_io LED J8
set_io DEBUG[0] J2
set_io ADV_R[1] C3
set_io ADV_B[4] A9
set_io ADV_SYNC_N C8
set_io ADV_G[4] B4
