set_location IN_MUX_bfv_9_27_0_ 9 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_28_0_ 9 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_28_0_ 11 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_29_0_ 11 29 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_17_0_ 9 17 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 19 32 3 #SB_LUT4
set_location GB_BUFFER_TVP_CLK_c_THRU_LUT4_0 16 1 0 #SB_LUT4
set_location receive_module.rx_counter.old_VS_49_THRU_LUT4_0 9 18 4 #SB_LUT4
set_location transmit_module.video_signal_controller.i7_4_lut_adj_14 10 27 0 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut_adj_7 10 32 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut_adj_16 6 27 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_12_lut 9 28 2 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73__i4 11 28 3 #SB_DFFSR
set_location transmit_module.video_signal_controller.i957_4_lut 9 29 6 #SB_LUT4
set_location receive_module.rx_counter.PULSE_1HZ_46 9 16 4 #SB_DFFE
set_location receive_module.rx_counter.FRAME_COUNTER_74__i3 9 17 3 #SB_DFFESR
set_location transmit_module.video_signal_controller.i1_2_lut_adj_8 10 32 2 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_4_lut 9 17 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i9_4_lut 10 27 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i645_2_lut 7 27 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_6_lut 9 27 4 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_4 11 28 2 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73__i10 11 29 1 #SB_DFFSR
set_location transmit_module.video_signal_controller.i4_2_lut 10 28 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i10_4_lut 9 29 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_7_lut 9 27 5 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_5 9 27 3 #SB_CARRY
set_location transmit_module.video_signal_controller.i630_2_lut 7 31 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i1 9 27 1 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_10 11 29 0 #SB_CARRY
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_2 9 17 0 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_4_lut 9 27 2 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_3_lut 9 17 1 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_11_lut 11 29 1 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73__i7 11 28 6 #SB_DFFSR
set_location transmit_module.video_signal_controller.i629_2_lut 9 30 4 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74__i0 9 17 0 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_3_lut 9 27 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut 10 31 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i10_4_lut_adj_19 10 28 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i9 9 28 1 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73__i2 11 28 1 #SB_DFFSR
set_location transmit_module.video_signal_controller.i690_4_lut 10 28 6 #SB_LUT4
set_location transmit_module.video_signal_controller.i627_2_lut 6 31 7 #SB_LUT4
set_location transmit_module.video_signal_controller.i620_2_lut 12 32 2 #SB_LUT4
set_location receive_module.rx_counter.i2_2_lut_3_lut 9 16 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i960_3_lut_4_lut 10 29 6 #SB_LUT4
set_location transmit_module.video_signal_controller.i599_2_lut 10 32 6 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_8 9 27 6 #SB_CARRY
set_location receive_module.rx_counter.old_VS_49 9 18 4 #SB_DFF
set_location receive_module.rx_counter.FRAME_COUNTER_74__i4 9 17 4 #SB_DFFESR
set_location transmit_module.video_signal_controller.i610_2_lut 7 27 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i3_4_lut 10 27 5 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut_adj_10 10 28 4 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_5_lut 9 27 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i2 9 27 2 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_2 11 28 0 #SB_CARRY
set_location transmit_module.video_signal_controller.i692_2_lut 10 28 7 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73__i6 11 28 5 #SB_DFFSR
set_location transmit_module.video_signal_controller.i623_2_lut 12 30 6 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_3 9 27 1 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_10_lut 9 28 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_12_lut 11 29 2 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_10_lut 11 29 0 #SB_LUT4
set_location receive_module.rx_counter.i1_2_lut 9 15 1 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74__i1 9 17 1 #SB_DFFESR
set_location transmit_module.video_signal_controller.i617_2_lut 12 31 1 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i7 9 27 7 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73__i8 11 28 7 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location transmit_module.video_signal_controller.i947_2_lut 9 29 5 #SB_LUT4
set_location transmit_module.video_signal_controller.i4_4_lut_adj_11 10 28 5 #SB_LUT4
set_location transmit_module.video_signal_controller.i4_4_lut 10 29 4 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_10 9 28 0 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_9_lut 11 28 7 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_6 11 28 4 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73__i1 11 28 0 #SB_DFFSR
set_location receive_module.rx_counter.i5_2_lut 9 16 4 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_5 9 17 3 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_7 9 27 5 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_8 11 28 6 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_4_lut 11 28 2 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74__i5 9 17 5 #SB_DFFESR
set_location transmit_module.video_signal_controller.i1_3_lut 10 30 7 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut_adj_6 11 31 7 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut_adj_17 6 27 5 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i3 9 27 3 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_3 11 28 1 #SB_CARRY
set_location transmit_module.video_signal_controller.i1_2_lut_adj_18 7 27 1 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_8_lut 11 28 6 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73__i5 11 28 4 #SB_DFFSR
set_location receive_module.rx_counter.i202_2_lut_rep_4 9 18 3 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_2_lut 9 17 0 #SB_LUT4
set_location transmit_module.video_signal_controller.i137_4_lut 10 29 5 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_8_lut 9 27 6 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_2 9 27 0 #SB_CARRY
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_7_lut 9 17 5 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_6_lut 9 17 4 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_5_lut 9 17 3 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74__i2 9 17 2 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_Y_71__i4 9 27 4 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_Y_71__i11 9 28 3 #SB_DFFESR
set_location transmit_module.video_signal_controller.i624_2_lut 11 32 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut_adj_13 9 29 1 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_13_lut 9 28 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_11 9 28 1 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_7 11 28 5 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_VISIBLE_I_0_4_lut 10 29 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i7_4_lut 9 29 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i628_2_lut 10 30 4 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_6_lut 11 28 4 #SB_LUT4
set_location receive_module.rx_counter.i5_4_lut 9 16 0 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_4 9 17 2 #SB_CARRY
set_location transmit_module.video_signal_controller.i663_2_lut 6 27 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i660_2_lut 6 30 1 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_6 9 27 4 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_9 11 28 7 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_5_lut 11 28 3 #SB_LUT4
set_location transmit_module.video_signal_controller.i626_2_lut 9 30 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i625_2_lut 10 31 6 #SB_LUT4
set_location transmit_module.video_signal_controller.i2_3_lut_adj_12 10 30 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i0 9 27 0 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_11 11 29 1 #SB_CARRY
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_3 9 17 1 #SB_CARRY
set_location receive_module.rx_counter.i3_2_lut 9 16 2 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i5 9 27 5 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_Y_71__i10 9 28 2 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_12 9 28 2 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_9_lut 9 27 7 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_3_lut 11 28 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i32_4_lut 10 30 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut_adj_15 9 30 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_11_lut 9 28 1 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_7_lut 11 28 5 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_2_lut 9 27 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i8 9 28 0 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73__i3 11 28 2 #SB_DFFSR
set_location transmit_module.video_signal_controller.i600_2_lut 10 31 4 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut_adj_9 10 29 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_9 9 27 7 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_5 11 28 3 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73__i11 11 29 2 #SB_DFFSR
set_location receive_module.rx_counter.i2_2_lut 9 16 3 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_6 9 17 4 #SB_CARRY
set_location transmit_module.video_signal_controller.i1_2_lut_rep_5 10 29 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_4 9 27 2 #SB_CARRY
set_location transmit_module.video_signal_controller.i2_3_lut 10 28 1 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i6 9 27 6 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_2_lut 11 28 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73__i9 11 29 0 #SB_DFFSR
set_io DEBUG[1] J1
set_io ADV_R[0] C4
set_io ADV_B[7] A11
set_io ADV_G[5] A4
set_io DEBUG[7] E2
set_io ADV_R[6] B1
set_io ADV_B[5] B9
set_io DEBUG[6] F2
set_io ADV_R[7] B2
set_io ADV_G[3] A3
set_io ADV_CLK C9
set_io ADV_B[2] A8
set_io DEBUG[5] D5
set_io ADV_R[4] C1
set_io ADV_G[2] B3
set_io ADV_B[3] B8
set_io DEBUG[4] F1
set_io ADV_R[5] C2
set_io ADV_G[1] A2
set_io ADV_B[0] A6
set_io DEBUG[3] G2
set_io ADV_R[2] D1
set_io ADV_HSYNC D3
set_io ADV_G[0] A1
set_io ADV_B[1] A7
set_io TVP_VSYNC J5
set_io TVP_CLK K6
set_io DEBUG[2] H2
set_io ADV_R[3] D2
set_io ADV_G[7] A5
set_io ADV_B[6] A10
set_io ADV_VSYNC E1
set_io ADV_G[6] B5
set_io ADV_BLANK_N C7
set_io LED J8
set_io DEBUG[0] J2
set_io ADV_R[1] C3
set_io ADV_B[4] A9
set_io ADV_SYNC_N C8
set_io ADV_G[4] B4
