ble_pack transmit_module.Y_DELTA_PATTERN_i37_LC_2_15_1 { transmit_module.Y_DELTA_PATTERN_i37_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i37 }
ble_pack transmit_module.Y_DELTA_PATTERN_i38_LC_2_15_7 { transmit_module.Y_DELTA_PATTERN_i38_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i38 }
clb_pack LT_2_15 { transmit_module.Y_DELTA_PATTERN_i37_LC_2_15_1, transmit_module.Y_DELTA_PATTERN_i38_LC_2_15_7 }
set_location LT_2_15 2 15
ble_pack transmit_module.Y_DELTA_PATTERN_i79_LC_2_16_4 { transmit_module.Y_DELTA_PATTERN_i79_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i79 }
ble_pack transmit_module.Y_DELTA_PATTERN_i78_LC_2_16_5 { transmit_module.Y_DELTA_PATTERN_i78_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i78 }
ble_pack transmit_module.Y_DELTA_PATTERN_i40_LC_2_16_6 { transmit_module.Y_DELTA_PATTERN_i40_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i40 }
ble_pack transmit_module.Y_DELTA_PATTERN_i39_LC_2_16_7 { transmit_module.Y_DELTA_PATTERN_i39_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i39 }
clb_pack LT_2_16 { transmit_module.Y_DELTA_PATTERN_i79_LC_2_16_4, transmit_module.Y_DELTA_PATTERN_i78_LC_2_16_5, transmit_module.Y_DELTA_PATTERN_i40_LC_2_16_6, transmit_module.Y_DELTA_PATTERN_i39_LC_2_16_7 }
set_location LT_2_16 2 16
ble_pack transmit_module.Y_DELTA_PATTERN_i41_LC_2_17_1 { transmit_module.Y_DELTA_PATTERN_i41_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i41 }
ble_pack transmit_module.Y_DELTA_PATTERN_i81_LC_2_17_2 { transmit_module.Y_DELTA_PATTERN_i81_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i81 }
ble_pack transmit_module.Y_DELTA_PATTERN_i82_LC_2_17_4 { transmit_module.Y_DELTA_PATTERN_i82_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i82 }
ble_pack transmit_module.Y_DELTA_PATTERN_i80_LC_2_17_6 { transmit_module.Y_DELTA_PATTERN_i80_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i80 }
clb_pack LT_2_17 { transmit_module.Y_DELTA_PATTERN_i41_LC_2_17_1, transmit_module.Y_DELTA_PATTERN_i81_LC_2_17_2, transmit_module.Y_DELTA_PATTERN_i82_LC_2_17_4, transmit_module.Y_DELTA_PATTERN_i80_LC_2_17_6 }
set_location LT_2_17 2 17
ble_pack transmit_module.Y_DELTA_PATTERN_i88_LC_2_18_0 { transmit_module.Y_DELTA_PATTERN_i88_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i88 }
ble_pack transmit_module.Y_DELTA_PATTERN_i85_LC_2_18_1 { transmit_module.Y_DELTA_PATTERN_i85_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i85 }
ble_pack transmit_module.Y_DELTA_PATTERN_i90_LC_2_18_2 { transmit_module.Y_DELTA_PATTERN_i90_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i90 }
ble_pack transmit_module.Y_DELTA_PATTERN_i86_LC_2_18_3 { transmit_module.Y_DELTA_PATTERN_i86_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i86 }
ble_pack transmit_module.Y_DELTA_PATTERN_i89_LC_2_18_4 { transmit_module.Y_DELTA_PATTERN_i89_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i89 }
ble_pack transmit_module.Y_DELTA_PATTERN_i84_LC_2_18_5 { transmit_module.Y_DELTA_PATTERN_i84_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i84 }
ble_pack transmit_module.Y_DELTA_PATTERN_i87_LC_2_18_6 { transmit_module.Y_DELTA_PATTERN_i87_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i87 }
ble_pack transmit_module.Y_DELTA_PATTERN_i83_LC_2_18_7 { transmit_module.Y_DELTA_PATTERN_i83_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i83 }
clb_pack LT_2_18 { transmit_module.Y_DELTA_PATTERN_i88_LC_2_18_0, transmit_module.Y_DELTA_PATTERN_i85_LC_2_18_1, transmit_module.Y_DELTA_PATTERN_i90_LC_2_18_2, transmit_module.Y_DELTA_PATTERN_i86_LC_2_18_3, transmit_module.Y_DELTA_PATTERN_i89_LC_2_18_4, transmit_module.Y_DELTA_PATTERN_i84_LC_2_18_5, transmit_module.Y_DELTA_PATTERN_i87_LC_2_18_6, transmit_module.Y_DELTA_PATTERN_i83_LC_2_18_7 }
set_location LT_2_18 2 18
ble_pack transmit_module.Y_DELTA_PATTERN_i96_LC_2_19_0 { transmit_module.Y_DELTA_PATTERN_i96_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i96 }
ble_pack transmit_module.Y_DELTA_PATTERN_i92_LC_2_19_1 { transmit_module.Y_DELTA_PATTERN_i92_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i92 }
ble_pack transmit_module.Y_DELTA_PATTERN_i91_LC_2_19_2 { transmit_module.Y_DELTA_PATTERN_i91_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i91 }
ble_pack transmit_module.Y_DELTA_PATTERN_i97_LC_2_19_3 { transmit_module.Y_DELTA_PATTERN_i97_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i97 }
ble_pack transmit_module.Y_DELTA_PATTERN_i98_LC_2_19_4 { transmit_module.Y_DELTA_PATTERN_i98_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i98 }
ble_pack transmit_module.Y_DELTA_PATTERN_i93_LC_2_19_5 { transmit_module.Y_DELTA_PATTERN_i93_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i93 }
ble_pack transmit_module.Y_DELTA_PATTERN_i95_LC_2_19_6 { transmit_module.Y_DELTA_PATTERN_i95_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i95 }
ble_pack transmit_module.Y_DELTA_PATTERN_i94_LC_2_19_7 { transmit_module.Y_DELTA_PATTERN_i94_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i94 }
clb_pack LT_2_19 { transmit_module.Y_DELTA_PATTERN_i96_LC_2_19_0, transmit_module.Y_DELTA_PATTERN_i92_LC_2_19_1, transmit_module.Y_DELTA_PATTERN_i91_LC_2_19_2, transmit_module.Y_DELTA_PATTERN_i97_LC_2_19_3, transmit_module.Y_DELTA_PATTERN_i98_LC_2_19_4, transmit_module.Y_DELTA_PATTERN_i93_LC_2_19_5, transmit_module.Y_DELTA_PATTERN_i95_LC_2_19_6, transmit_module.Y_DELTA_PATTERN_i94_LC_2_19_7 }
set_location LT_2_19 2 19
ble_pack ADV_R__i3_LC_2_21_1 { transmit_module.video_signal_controller.i361_1_lut, ADV_R__i3 }
ble_pack ADV_R__i1_LC_2_21_2 { transmit_module.video_signal_controller.VGA_Y_7__I_0_inv_0_i1_1_lut, ADV_R__i1 }
ble_pack ADV_R__i7_LC_2_21_6 { transmit_module.video_signal_controller.VGA_Y_7__I_0_inv_0_i7_1_lut, ADV_R__i7 }
clb_pack LT_2_21 { ADV_R__i3_LC_2_21_1, ADV_R__i1_LC_2_21_2, ADV_R__i7_LC_2_21_6 }
set_location LT_2_21 2 21
ble_pack transmit_module.Y_DELTA_PATTERN_i60_LC_3_13_6 { transmit_module.Y_DELTA_PATTERN_i60_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i60 }
clb_pack LT_3_13 { transmit_module.Y_DELTA_PATTERN_i60_LC_3_13_6 }
set_location LT_3_13 3 13
ble_pack transmit_module.Y_DELTA_PATTERN_i74_LC_3_14_1 { transmit_module.Y_DELTA_PATTERN_i74_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i74 }
ble_pack transmit_module.Y_DELTA_PATTERN_i61_LC_3_14_2 { transmit_module.Y_DELTA_PATTERN_i61_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i61 }
ble_pack transmit_module.Y_DELTA_PATTERN_i64_LC_3_14_3 { transmit_module.Y_DELTA_PATTERN_i64_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i64 }
ble_pack transmit_module.Y_DELTA_PATTERN_i65_LC_3_14_4 { transmit_module.Y_DELTA_PATTERN_i65_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i65 }
ble_pack transmit_module.Y_DELTA_PATTERN_i62_LC_3_14_5 { transmit_module.Y_DELTA_PATTERN_i62_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i62 }
ble_pack transmit_module.Y_DELTA_PATTERN_i63_LC_3_14_6 { transmit_module.Y_DELTA_PATTERN_i63_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i63 }
clb_pack LT_3_14 { transmit_module.Y_DELTA_PATTERN_i74_LC_3_14_1, transmit_module.Y_DELTA_PATTERN_i61_LC_3_14_2, transmit_module.Y_DELTA_PATTERN_i64_LC_3_14_3, transmit_module.Y_DELTA_PATTERN_i65_LC_3_14_4, transmit_module.Y_DELTA_PATTERN_i62_LC_3_14_5, transmit_module.Y_DELTA_PATTERN_i63_LC_3_14_6 }
set_location LT_3_14 3 14
ble_pack transmit_module.Y_DELTA_PATTERN_i58_LC_3_15_0 { transmit_module.Y_DELTA_PATTERN_i58_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i58 }
ble_pack transmit_module.Y_DELTA_PATTERN_i34_LC_3_15_1 { transmit_module.Y_DELTA_PATTERN_i34_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i34 }
ble_pack transmit_module.Y_DELTA_PATTERN_i59_LC_3_15_2 { transmit_module.Y_DELTA_PATTERN_i59_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i59 }
ble_pack transmit_module.Y_DELTA_PATTERN_i76_LC_3_15_3 { transmit_module.Y_DELTA_PATTERN_i76_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i76 }
ble_pack transmit_module.Y_DELTA_PATTERN_i68_LC_3_15_4 { transmit_module.Y_DELTA_PATTERN_i68_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i68 }
ble_pack transmit_module.Y_DELTA_PATTERN_i75_LC_3_15_5 { transmit_module.Y_DELTA_PATTERN_i75_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i75 }
ble_pack transmit_module.Y_DELTA_PATTERN_i77_LC_3_15_6 { transmit_module.Y_DELTA_PATTERN_i77_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i77 }
ble_pack transmit_module.Y_DELTA_PATTERN_i36_LC_3_15_7 { transmit_module.Y_DELTA_PATTERN_i36_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i36 }
clb_pack LT_3_15 { transmit_module.Y_DELTA_PATTERN_i58_LC_3_15_0, transmit_module.Y_DELTA_PATTERN_i34_LC_3_15_1, transmit_module.Y_DELTA_PATTERN_i59_LC_3_15_2, transmit_module.Y_DELTA_PATTERN_i76_LC_3_15_3, transmit_module.Y_DELTA_PATTERN_i68_LC_3_15_4, transmit_module.Y_DELTA_PATTERN_i75_LC_3_15_5, transmit_module.Y_DELTA_PATTERN_i77_LC_3_15_6, transmit_module.Y_DELTA_PATTERN_i36_LC_3_15_7 }
set_location LT_3_15 3 15
ble_pack transmit_module.Y_DELTA_PATTERN_i69_LC_3_16_0 { transmit_module.Y_DELTA_PATTERN_i69_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i69 }
ble_pack transmit_module.Y_DELTA_PATTERN_i70_LC_3_16_1 { transmit_module.Y_DELTA_PATTERN_i70_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i70 }
ble_pack transmit_module.Y_DELTA_PATTERN_i72_LC_3_16_2 { transmit_module.Y_DELTA_PATTERN_i72_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i72 }
ble_pack transmit_module.Y_DELTA_PATTERN_i35_LC_3_16_4 { transmit_module.Y_DELTA_PATTERN_i35_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i35 }
ble_pack transmit_module.Y_DELTA_PATTERN_i73_LC_3_16_6 { transmit_module.Y_DELTA_PATTERN_i73_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i73 }
ble_pack transmit_module.Y_DELTA_PATTERN_i71_LC_3_16_7 { transmit_module.Y_DELTA_PATTERN_i71_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i71 }
clb_pack LT_3_16 { transmit_module.Y_DELTA_PATTERN_i69_LC_3_16_0, transmit_module.Y_DELTA_PATTERN_i70_LC_3_16_1, transmit_module.Y_DELTA_PATTERN_i72_LC_3_16_2, transmit_module.Y_DELTA_PATTERN_i35_LC_3_16_4, transmit_module.Y_DELTA_PATTERN_i73_LC_3_16_6, transmit_module.Y_DELTA_PATTERN_i71_LC_3_16_7 }
set_location LT_3_16 3 16
ble_pack transmit_module.Y_DELTA_PATTERN_i45_LC_3_17_0 { transmit_module.Y_DELTA_PATTERN_i45_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i45 }
ble_pack transmit_module.Y_DELTA_PATTERN_i44_LC_3_17_1 { transmit_module.Y_DELTA_PATTERN_i44_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i44 }
ble_pack transmit_module.Y_DELTA_PATTERN_i48_LC_3_17_2 { transmit_module.Y_DELTA_PATTERN_i48_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i48 }
ble_pack transmit_module.Y_DELTA_PATTERN_i56_LC_3_17_3 { transmit_module.Y_DELTA_PATTERN_i56_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i56 }
ble_pack transmit_module.Y_DELTA_PATTERN_i57_LC_3_17_4 { transmit_module.Y_DELTA_PATTERN_i57_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i57 }
ble_pack transmit_module.Y_DELTA_PATTERN_i47_LC_3_17_5 { transmit_module.Y_DELTA_PATTERN_i47_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i47 }
ble_pack transmit_module.Y_DELTA_PATTERN_i55_LC_3_17_6 { transmit_module.Y_DELTA_PATTERN_i55_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i55 }
ble_pack transmit_module.Y_DELTA_PATTERN_i46_LC_3_17_7 { transmit_module.Y_DELTA_PATTERN_i46_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i46 }
clb_pack LT_3_17 { transmit_module.Y_DELTA_PATTERN_i45_LC_3_17_0, transmit_module.Y_DELTA_PATTERN_i44_LC_3_17_1, transmit_module.Y_DELTA_PATTERN_i48_LC_3_17_2, transmit_module.Y_DELTA_PATTERN_i56_LC_3_17_3, transmit_module.Y_DELTA_PATTERN_i57_LC_3_17_4, transmit_module.Y_DELTA_PATTERN_i47_LC_3_17_5, transmit_module.Y_DELTA_PATTERN_i55_LC_3_17_6, transmit_module.Y_DELTA_PATTERN_i46_LC_3_17_7 }
set_location LT_3_17 3 17
ble_pack transmit_module.video_signal_controller.i280_2_lut_3_lut_4_lut_LC_3_18_0 { transmit_module.video_signal_controller.i280_2_lut_3_lut_4_lut }
ble_pack transmit_module.video_signal_controller.i280_2_lut_3_lut_4_lut_rep_23_LC_3_18_2 { transmit_module.video_signal_controller.i280_2_lut_3_lut_4_lut_rep_23 }
ble_pack transmit_module.video_signal_controller.SYNC_BUFF1_57_LC_3_18_5 { transmit_module.video_signal_controller.SYNC_BUFF1_57_THRU_LUT4_0, transmit_module.video_signal_controller.SYNC_BUFF1_57 }
ble_pack transmit_module.video_signal_controller.SYNC_BUFF2_58_LC_3_18_7 { transmit_module.video_signal_controller.SYNC_BUFF2_58_THRU_LUT4_0, transmit_module.video_signal_controller.SYNC_BUFF2_58 }
clb_pack LT_3_18 { transmit_module.video_signal_controller.i280_2_lut_3_lut_4_lut_LC_3_18_0, transmit_module.video_signal_controller.i280_2_lut_3_lut_4_lut_rep_23_LC_3_18_2, transmit_module.video_signal_controller.SYNC_BUFF1_57_LC_3_18_5, transmit_module.video_signal_controller.SYNC_BUFF2_58_LC_3_18_7 }
set_location LT_3_18 3 18
ble_pack transmit_module.i2_4_lut_LC_3_19_2 { transmit_module.i2_4_lut }
ble_pack transmit_module.video_signal_controller.i1_2_lut_LC_3_19_3 { transmit_module.video_signal_controller.i1_2_lut }
ble_pack transmit_module.video_signal_controller.i1_4_lut_adj_16_LC_3_19_4 { transmit_module.video_signal_controller.i1_4_lut_adj_16 }
ble_pack transmit_module.video_signal_controller.i3_4_lut_LC_3_19_6 { transmit_module.video_signal_controller.i3_4_lut }
ble_pack transmit_module.video_signal_controller.SYNC_EN_SMOOTH_64_LC_3_19_7 { transmit_module.video_signal_controller.i1_4_lut, transmit_module.video_signal_controller.SYNC_EN_SMOOTH_64 }
clb_pack LT_3_19 { transmit_module.i2_4_lut_LC_3_19_2, transmit_module.video_signal_controller.i1_2_lut_LC_3_19_3, transmit_module.video_signal_controller.i1_4_lut_adj_16_LC_3_19_4, transmit_module.video_signal_controller.i3_4_lut_LC_3_19_6, transmit_module.video_signal_controller.SYNC_EN_SMOOTH_64_LC_3_19_7 }
set_location LT_3_19 3 19
ble_pack transmit_module.video_signal_controller.i6_4_lut_LC_3_20_0 { transmit_module.video_signal_controller.i6_4_lut }
ble_pack transmit_module.video_signal_controller.i1958_2_lut_4_lut_LC_3_20_1 { transmit_module.video_signal_controller.i1958_2_lut_4_lut }
ble_pack transmit_module.video_signal_controller.i1_2_lut_3_lut_4_lut_LC_3_20_2 { transmit_module.video_signal_controller.i1_2_lut_3_lut_4_lut }
ble_pack transmit_module.video_signal_controller.i2_4_lut_adj_12_LC_3_20_3 { transmit_module.video_signal_controller.i2_4_lut_adj_12 }
ble_pack transmit_module.video_signal_controller.i2_3_lut_adj_15_LC_3_20_4 { transmit_module.video_signal_controller.i2_3_lut_adj_15 }
ble_pack transmit_module.video_signal_controller.i4_4_lut_LC_3_20_5 { transmit_module.video_signal_controller.i4_4_lut }
ble_pack transmit_module.video_signal_controller.i1_3_lut_LC_3_20_6 { transmit_module.video_signal_controller.i1_3_lut }
ble_pack transmit_module.video_signal_controller.VGA_VS_61_LC_3_20_7 { transmit_module.video_signal_controller.i5_4_lut, transmit_module.video_signal_controller.VGA_VS_61 }
clb_pack LT_3_20 { transmit_module.video_signal_controller.i6_4_lut_LC_3_20_0, transmit_module.video_signal_controller.i1958_2_lut_4_lut_LC_3_20_1, transmit_module.video_signal_controller.i1_2_lut_3_lut_4_lut_LC_3_20_2, transmit_module.video_signal_controller.i2_4_lut_adj_12_LC_3_20_3, transmit_module.video_signal_controller.i2_3_lut_adj_15_LC_3_20_4, transmit_module.video_signal_controller.i4_4_lut_LC_3_20_5, transmit_module.video_signal_controller.i1_3_lut_LC_3_20_6, transmit_module.video_signal_controller.VGA_VS_61_LC_3_20_7 }
set_location LT_3_20 3 20
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i0_LC_3_21_0 { transmit_module.video_signal_controller.VGA_Y_274_add_4_2_lut, transmit_module.video_signal_controller.VGA_Y_274__i0, transmit_module.video_signal_controller.VGA_Y_274_add_4_2 }
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i1_LC_3_21_1 { transmit_module.video_signal_controller.VGA_Y_274_add_4_3_lut, transmit_module.video_signal_controller.VGA_Y_274__i1, transmit_module.video_signal_controller.VGA_Y_274_add_4_3 }
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i2_LC_3_21_2 { transmit_module.video_signal_controller.VGA_Y_274_add_4_4_lut, transmit_module.video_signal_controller.VGA_Y_274__i2, transmit_module.video_signal_controller.VGA_Y_274_add_4_4 }
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i3_LC_3_21_3 { transmit_module.video_signal_controller.VGA_Y_274_add_4_5_lut, transmit_module.video_signal_controller.VGA_Y_274__i3, transmit_module.video_signal_controller.VGA_Y_274_add_4_5 }
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i4_LC_3_21_4 { transmit_module.video_signal_controller.VGA_Y_274_add_4_6_lut, transmit_module.video_signal_controller.VGA_Y_274__i4, transmit_module.video_signal_controller.VGA_Y_274_add_4_6 }
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i5_LC_3_21_5 { transmit_module.video_signal_controller.VGA_Y_274_add_4_7_lut, transmit_module.video_signal_controller.VGA_Y_274__i5, transmit_module.video_signal_controller.VGA_Y_274_add_4_7 }
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i6_LC_3_21_6 { transmit_module.video_signal_controller.VGA_Y_274_add_4_8_lut, transmit_module.video_signal_controller.VGA_Y_274__i6, transmit_module.video_signal_controller.VGA_Y_274_add_4_8 }
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i7_LC_3_21_7 { transmit_module.video_signal_controller.VGA_Y_274_add_4_9_lut, transmit_module.video_signal_controller.VGA_Y_274__i7, transmit_module.video_signal_controller.VGA_Y_274_add_4_9 }
clb_pack LT_3_21 { transmit_module.video_signal_controller.VGA_Y_274__i0_LC_3_21_0, transmit_module.video_signal_controller.VGA_Y_274__i1_LC_3_21_1, transmit_module.video_signal_controller.VGA_Y_274__i2_LC_3_21_2, transmit_module.video_signal_controller.VGA_Y_274__i3_LC_3_21_3, transmit_module.video_signal_controller.VGA_Y_274__i4_LC_3_21_4, transmit_module.video_signal_controller.VGA_Y_274__i5_LC_3_21_5, transmit_module.video_signal_controller.VGA_Y_274__i6_LC_3_21_6, transmit_module.video_signal_controller.VGA_Y_274__i7_LC_3_21_7 }
set_location LT_3_21 3 21
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i8_LC_3_22_0 { transmit_module.video_signal_controller.VGA_Y_274_add_4_10_lut, transmit_module.video_signal_controller.VGA_Y_274__i8, transmit_module.video_signal_controller.VGA_Y_274_add_4_10 }
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i9_LC_3_22_1 { transmit_module.video_signal_controller.VGA_Y_274_add_4_11_lut, transmit_module.video_signal_controller.VGA_Y_274__i9, transmit_module.video_signal_controller.VGA_Y_274_add_4_11 }
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i10_LC_3_22_2 { transmit_module.video_signal_controller.VGA_Y_274_add_4_12_lut, transmit_module.video_signal_controller.VGA_Y_274__i10, transmit_module.video_signal_controller.VGA_Y_274_add_4_12 }
ble_pack transmit_module.video_signal_controller.VGA_Y_274__i11_LC_3_22_3 { transmit_module.video_signal_controller.VGA_Y_274_add_4_13_lut, transmit_module.video_signal_controller.VGA_Y_274__i11 }
clb_pack LT_3_22 { transmit_module.video_signal_controller.VGA_Y_274__i8_LC_3_22_0, transmit_module.video_signal_controller.VGA_Y_274__i9_LC_3_22_1, transmit_module.video_signal_controller.VGA_Y_274__i10_LC_3_22_2, transmit_module.video_signal_controller.VGA_Y_274__i11_LC_3_22_3 }
set_location LT_3_22 3 22
ble_pack ADV_G__i7_LC_3_23_4 { transmit_module.video_signal_controller.VGA_X_7__I_0_inv_0_i7_1_lut, ADV_G__i7 }
ble_pack ADV_R__i2_LC_3_23_7 { transmit_module.video_signal_controller.i1541_1_lut, ADV_R__i2 }
clb_pack LT_3_23 { ADV_G__i7_LC_3_23_4, ADV_R__i2_LC_3_23_7 }
set_location LT_3_23 3 23
ble_pack receive_module.BRAM_ADDR__i0_LC_4_7_0 { receive_module.add_12_2_lut, receive_module.BRAM_ADDR__i0, receive_module.add_12_2 }
ble_pack receive_module.BRAM_ADDR__i1_LC_4_7_1 { receive_module.add_12_3_lut, receive_module.BRAM_ADDR__i1, receive_module.add_12_3 }
ble_pack receive_module.BRAM_ADDR__i2_LC_4_7_2 { receive_module.add_12_4_lut, receive_module.BRAM_ADDR__i2, receive_module.add_12_4 }
ble_pack receive_module.BRAM_ADDR__i3_LC_4_7_3 { receive_module.add_12_5_lut, receive_module.BRAM_ADDR__i3, receive_module.add_12_5 }
ble_pack receive_module.BRAM_ADDR__i4_LC_4_7_4 { receive_module.add_12_6_lut, receive_module.BRAM_ADDR__i4, receive_module.add_12_6 }
ble_pack receive_module.BRAM_ADDR__i5_LC_4_7_5 { receive_module.add_12_7_lut, receive_module.BRAM_ADDR__i5, receive_module.add_12_7 }
ble_pack receive_module.BRAM_ADDR__i6_LC_4_7_6 { receive_module.add_12_8_lut, receive_module.BRAM_ADDR__i6, receive_module.add_12_8 }
ble_pack receive_module.BRAM_ADDR__i7_LC_4_7_7 { receive_module.add_12_9_lut, receive_module.BRAM_ADDR__i7, receive_module.add_12_9 }
clb_pack LT_4_7 { receive_module.BRAM_ADDR__i0_LC_4_7_0, receive_module.BRAM_ADDR__i1_LC_4_7_1, receive_module.BRAM_ADDR__i2_LC_4_7_2, receive_module.BRAM_ADDR__i3_LC_4_7_3, receive_module.BRAM_ADDR__i4_LC_4_7_4, receive_module.BRAM_ADDR__i5_LC_4_7_5, receive_module.BRAM_ADDR__i6_LC_4_7_6, receive_module.BRAM_ADDR__i7_LC_4_7_7 }
set_location LT_4_7 4 7
ble_pack receive_module.BRAM_ADDR__i8_LC_4_8_0 { receive_module.add_12_10_lut, receive_module.BRAM_ADDR__i8, receive_module.add_12_10 }
ble_pack receive_module.BRAM_ADDR__i9_LC_4_8_1 { receive_module.add_12_11_lut, receive_module.BRAM_ADDR__i9, receive_module.add_12_11 }
ble_pack receive_module.BRAM_ADDR__i10_LC_4_8_2 { receive_module.add_12_12_lut, receive_module.BRAM_ADDR__i10, receive_module.add_12_12 }
ble_pack receive_module.BRAM_ADDR__i11_LC_4_8_3 { receive_module.add_12_13_lut, receive_module.BRAM_ADDR__i11, receive_module.add_12_13 }
ble_pack receive_module.BRAM_ADDR__i12_LC_4_8_4 { receive_module.add_12_14_lut, receive_module.BRAM_ADDR__i12, receive_module.add_12_14 }
ble_pack receive_module.BRAM_ADDR__i13_LC_4_8_5 { receive_module.add_12_15_lut, receive_module.BRAM_ADDR__i13 }
clb_pack LT_4_8 { receive_module.BRAM_ADDR__i8_LC_4_8_0, receive_module.BRAM_ADDR__i9_LC_4_8_1, receive_module.BRAM_ADDR__i10_LC_4_8_2, receive_module.BRAM_ADDR__i11_LC_4_8_3, receive_module.BRAM_ADDR__i12_LC_4_8_4, receive_module.BRAM_ADDR__i13_LC_4_8_5 }
set_location LT_4_8 4 8
ble_pack transmit_module.ADDR_Y_COMPONENT__i4_LC_4_14_0 { transmit_module.ADDR_Y_COMPONENT__i4_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i4 }
clb_pack LT_4_14 { transmit_module.ADDR_Y_COMPONENT__i4_LC_4_14_0 }
set_location LT_4_14 4 14
ble_pack transmit_module.Y_DELTA_PATTERN_i33_LC_4_15_0 { transmit_module.Y_DELTA_PATTERN_i33_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i33 }
ble_pack transmit_module.Y_DELTA_PATTERN_i67_LC_4_15_2 { transmit_module.Y_DELTA_PATTERN_i67_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i67 }
ble_pack transmit_module.Y_DELTA_PATTERN_i66_LC_4_15_3 { transmit_module.Y_DELTA_PATTERN_i66_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i66 }
clb_pack LT_4_15 { transmit_module.Y_DELTA_PATTERN_i33_LC_4_15_0, transmit_module.Y_DELTA_PATTERN_i67_LC_4_15_2, transmit_module.Y_DELTA_PATTERN_i66_LC_4_15_3 }
set_location LT_4_15 4 15
ble_pack transmit_module.Y_DELTA_PATTERN_i53_LC_4_16_1 { transmit_module.Y_DELTA_PATTERN_i53_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i53 }
ble_pack transmit_module.Y_DELTA_PATTERN_i52_LC_4_16_5 { transmit_module.Y_DELTA_PATTERN_i52_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i52 }
ble_pack transmit_module.Y_DELTA_PATTERN_i54_LC_4_16_6 { transmit_module.Y_DELTA_PATTERN_i54_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i54 }
clb_pack LT_4_16 { transmit_module.Y_DELTA_PATTERN_i53_LC_4_16_1, transmit_module.Y_DELTA_PATTERN_i52_LC_4_16_5, transmit_module.Y_DELTA_PATTERN_i54_LC_4_16_6 }
set_location LT_4_16 4 16
ble_pack transmit_module.Y_DELTA_PATTERN_i43_LC_4_17_0 { transmit_module.Y_DELTA_PATTERN_i43_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i43 }
ble_pack transmit_module.Y_DELTA_PATTERN_i49_LC_4_17_2 { transmit_module.Y_DELTA_PATTERN_i49_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i49 }
ble_pack transmit_module.Y_DELTA_PATTERN_i42_LC_4_17_4 { transmit_module.Y_DELTA_PATTERN_i42_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i42 }
ble_pack transmit_module.Y_DELTA_PATTERN_i51_LC_4_17_6 { transmit_module.Y_DELTA_PATTERN_i51_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i51 }
ble_pack transmit_module.Y_DELTA_PATTERN_i50_LC_4_17_7 { transmit_module.Y_DELTA_PATTERN_i50_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i50 }
clb_pack LT_4_17 { transmit_module.Y_DELTA_PATTERN_i43_LC_4_17_0, transmit_module.Y_DELTA_PATTERN_i49_LC_4_17_2, transmit_module.Y_DELTA_PATTERN_i42_LC_4_17_4, transmit_module.Y_DELTA_PATTERN_i51_LC_4_17_6, transmit_module.Y_DELTA_PATTERN_i50_LC_4_17_7 }
set_location LT_4_17 4 17
ble_pack transmit_module.video_signal_controller.i2_3_lut_LC_4_18_0 { transmit_module.video_signal_controller.i2_3_lut }
ble_pack transmit_module.video_signal_controller.i1954_4_lut_LC_4_18_1 { transmit_module.video_signal_controller.i1954_4_lut }
ble_pack transmit_module.video_signal_controller.VGA_HS_60_LC_4_18_2 { transmit_module.video_signal_controller.i1963_4_lut, transmit_module.video_signal_controller.VGA_HS_60 }
ble_pack transmit_module.video_signal_controller.i433_2_lut_rep_18_LC_4_18_4 { transmit_module.video_signal_controller.i433_2_lut_rep_18 }
ble_pack transmit_module.old_VGA_HS_34_LC_4_18_6 { transmit_module.old_VGA_HS_34_THRU_LUT4_0, transmit_module.old_VGA_HS_34 }
ble_pack transmit_module.video_signal_controller.i319_3_lut_LC_4_18_7 { transmit_module.video_signal_controller.i319_3_lut }
clb_pack LT_4_18 { transmit_module.video_signal_controller.i2_3_lut_LC_4_18_0, transmit_module.video_signal_controller.i1954_4_lut_LC_4_18_1, transmit_module.video_signal_controller.VGA_HS_60_LC_4_18_2, transmit_module.video_signal_controller.i433_2_lut_rep_18_LC_4_18_4, transmit_module.old_VGA_HS_34_LC_4_18_6, transmit_module.video_signal_controller.i319_3_lut_LC_4_18_7 }
set_location LT_4_18 4 18
ble_pack transmit_module.video_signal_controller.i1_2_lut_rep_10_3_lut_LC_4_19_0 { transmit_module.video_signal_controller.i1_2_lut_rep_10_3_lut }
ble_pack transmit_module.video_signal_controller.i1677_4_lut_LC_4_19_1 { transmit_module.video_signal_controller.i1677_4_lut }
ble_pack transmit_module.video_signal_controller.i1690_4_lut_LC_4_19_2 { transmit_module.video_signal_controller.i1690_4_lut }
ble_pack transmit_module.video_signal_controller.i1_4_lut_3_lut_rep_11_LC_4_19_3 { transmit_module.video_signal_controller.i1_4_lut_3_lut_rep_11 }
ble_pack transmit_module.video_signal_controller.i357_2_lut_3_lut_4_lut_LC_4_19_4 { transmit_module.video_signal_controller.i357_2_lut_3_lut_4_lut }
ble_pack transmit_module.video_signal_controller.i1_2_lut_rep_8_4_lut_LC_4_19_5 { transmit_module.video_signal_controller.i1_2_lut_rep_8_4_lut }
ble_pack transmit_module.video_signal_controller.i3_3_lut_LC_4_19_6 { transmit_module.video_signal_controller.i3_3_lut }
clb_pack LT_4_19 { transmit_module.video_signal_controller.i1_2_lut_rep_10_3_lut_LC_4_19_0, transmit_module.video_signal_controller.i1677_4_lut_LC_4_19_1, transmit_module.video_signal_controller.i1690_4_lut_LC_4_19_2, transmit_module.video_signal_controller.i1_4_lut_3_lut_rep_11_LC_4_19_3, transmit_module.video_signal_controller.i357_2_lut_3_lut_4_lut_LC_4_19_4, transmit_module.video_signal_controller.i1_2_lut_rep_8_4_lut_LC_4_19_5, transmit_module.video_signal_controller.i3_3_lut_LC_4_19_6 }
set_location LT_4_19 4 19
ble_pack ADV_R__i6_LC_4_20_0 { transmit_module.video_signal_controller.i1540_1_lut, ADV_R__i6 }
ble_pack ADV_R__i4_LC_4_20_2 { transmit_module.video_signal_controller.VGA_Y_7__I_0_inv_0_i4_1_lut, ADV_R__i4 }
ble_pack ADV_B__i6_LC_4_20_4 { ADV_B__i6_THRU_LUT4_0, ADV_B__i6 }
ble_pack ADV_G__i1_LC_4_20_5 { transmit_module.video_signal_controller.VGA_X_7__I_0_inv_0_i1_1_lut, ADV_G__i1 }
ble_pack ADV_R__i5_LC_4_20_7 { transmit_module.video_signal_controller.VGA_Y_7__I_0_inv_0_i5_1_lut, ADV_R__i5 }
clb_pack LT_4_20 { ADV_R__i6_LC_4_20_0, ADV_R__i4_LC_4_20_2, ADV_B__i6_LC_4_20_4, ADV_G__i1_LC_4_20_5, ADV_R__i5_LC_4_20_7 }
set_location LT_4_20 4 20
ble_pack transmit_module.video_signal_controller.i1_4_lut_adj_13_LC_4_21_3 { transmit_module.video_signal_controller.i1_4_lut_adj_13 }
ble_pack transmit_module.video_signal_controller.i1_4_lut_adj_10_LC_4_21_4 { transmit_module.video_signal_controller.i1_4_lut_adj_10 }
ble_pack transmit_module.video_signal_controller.i1055_1_lut_2_lut_4_lut_LC_4_21_5 { transmit_module.video_signal_controller.i1055_1_lut_2_lut_4_lut }
clb_pack LT_4_21 { transmit_module.video_signal_controller.i1_4_lut_adj_13_LC_4_21_3, transmit_module.video_signal_controller.i1_4_lut_adj_10_LC_4_21_4, transmit_module.video_signal_controller.i1055_1_lut_2_lut_4_lut_LC_4_21_5 }
set_location LT_4_21 4 21
ble_pack transmit_module.video_signal_controller.i1_2_lut_rep_16_LC_4_22_0 { transmit_module.video_signal_controller.i1_2_lut_rep_16 }
ble_pack transmit_module.video_signal_controller.i2_3_lut_rep_15_LC_4_22_1 { transmit_module.video_signal_controller.i2_3_lut_rep_15 }
ble_pack transmit_module.video_signal_controller.i1_3_lut_4_lut_adj_14_LC_4_22_2 { transmit_module.video_signal_controller.i1_3_lut_4_lut_adj_14 }
ble_pack transmit_module.video_signal_controller.i2_4_lut_LC_4_22_3 { transmit_module.video_signal_controller.i2_4_lut }
ble_pack transmit_module.video_signal_controller.i1_2_lut_rep_13_LC_4_22_4 { transmit_module.video_signal_controller.i1_2_lut_rep_13 }
ble_pack transmit_module.video_signal_controller.i1_4_lut_adj_11_LC_4_22_5 { transmit_module.video_signal_controller.i1_4_lut_adj_11 }
ble_pack transmit_module.video_signal_controller.i335_3_lut_LC_4_22_6 { transmit_module.video_signal_controller.i335_3_lut }
ble_pack transmit_module.video_signal_controller.i1_rep_4_2_lut_LC_4_22_7 { transmit_module.video_signal_controller.i1_rep_4_2_lut }
clb_pack LT_4_22 { transmit_module.video_signal_controller.i1_2_lut_rep_16_LC_4_22_0, transmit_module.video_signal_controller.i2_3_lut_rep_15_LC_4_22_1, transmit_module.video_signal_controller.i1_3_lut_4_lut_adj_14_LC_4_22_2, transmit_module.video_signal_controller.i2_4_lut_LC_4_22_3, transmit_module.video_signal_controller.i1_2_lut_rep_13_LC_4_22_4, transmit_module.video_signal_controller.i1_4_lut_adj_11_LC_4_22_5, transmit_module.video_signal_controller.i335_3_lut_LC_4_22_6, transmit_module.video_signal_controller.i1_rep_4_2_lut_LC_4_22_7 }
set_location LT_4_22 4 22
ble_pack ADV_G__i4_LC_4_23_5 { transmit_module.video_signal_controller.VGA_X_7__I_0_inv_0_i4_1_lut, ADV_G__i4 }
ble_pack ADV_B__i4_LC_4_23_7 { ADV_B__i4_THRU_LUT4_0, ADV_B__i4 }
clb_pack LT_4_23 { ADV_G__i4_LC_4_23_5, ADV_B__i4_LC_4_23_7 }
set_location LT_4_23 4 23
ble_pack receive_module.rx_counter.i26_1_lut_rep_19_LC_5_6_3 { receive_module.rx_counter.i26_1_lut_rep_19 }
clb_pack LT_5_6 { receive_module.rx_counter.i26_1_lut_rep_19_LC_5_6_3 }
set_location LT_5_6 5 6
ble_pack receive_module.rx_counter.SYNC_45_LC_5_8_0 { receive_module.rx_counter.i1966_4_lut, receive_module.rx_counter.SYNC_45 }
ble_pack receive_module.rx_counter.i35_4_lut_LC_5_8_4 { receive_module.rx_counter.i35_4_lut }
ble_pack receive_module.rx_counter.i1973_4_lut_LC_5_8_5 { receive_module.rx_counter.i1973_4_lut }
ble_pack receive_module.i1969_2_lut_LC_5_8_6 { receive_module.i1969_2_lut }
clb_pack LT_5_8 { receive_module.rx_counter.SYNC_45_LC_5_8_0, receive_module.rx_counter.i35_4_lut_LC_5_8_4, receive_module.rx_counter.i1973_4_lut_LC_5_8_5, receive_module.i1969_2_lut_LC_5_8_6 }
set_location LT_5_8 5 8
ble_pack receive_module.rx_counter.i2_3_lut_adj_19_LC_5_9_0 { receive_module.rx_counter.i2_3_lut_adj_19 }
ble_pack receive_module.rx_counter.i1871_3_lut_LC_5_9_3 { receive_module.rx_counter.i1871_3_lut }
clb_pack LT_5_9 { receive_module.rx_counter.i2_3_lut_adj_19_LC_5_9_0, receive_module.rx_counter.i1871_3_lut_LC_5_9_3 }
set_location LT_5_9 5 9
ble_pack receive_module.rx_counter.i2_3_lut_LC_5_10_6 { receive_module.rx_counter.i2_3_lut }
clb_pack LT_5_10 { receive_module.rx_counter.i2_3_lut_LC_5_10_6 }
set_location LT_5_10 5 10
ble_pack receive_module.rx_counter.X_272__i0_LC_5_11_0 { receive_module.rx_counter.X_272_add_4_2_lut, receive_module.rx_counter.X_272__i0, receive_module.rx_counter.X_272_add_4_2 }
ble_pack receive_module.rx_counter.X_272__i1_LC_5_11_1 { receive_module.rx_counter.X_272_add_4_3_lut, receive_module.rx_counter.X_272__i1, receive_module.rx_counter.X_272_add_4_3 }
ble_pack receive_module.rx_counter.X_272__i2_LC_5_11_2 { receive_module.rx_counter.X_272_add_4_4_lut, receive_module.rx_counter.X_272__i2, receive_module.rx_counter.X_272_add_4_4 }
ble_pack receive_module.rx_counter.X_272__i3_LC_5_11_3 { receive_module.rx_counter.X_272_add_4_5_lut, receive_module.rx_counter.X_272__i3, receive_module.rx_counter.X_272_add_4_5 }
ble_pack receive_module.rx_counter.X_272__i4_LC_5_11_4 { receive_module.rx_counter.X_272_add_4_6_lut, receive_module.rx_counter.X_272__i4, receive_module.rx_counter.X_272_add_4_6 }
ble_pack receive_module.rx_counter.X_272__i5_LC_5_11_5 { receive_module.rx_counter.X_272_add_4_7_lut, receive_module.rx_counter.X_272__i5, receive_module.rx_counter.X_272_add_4_7 }
ble_pack receive_module.rx_counter.X_272__i6_LC_5_11_6 { receive_module.rx_counter.X_272_add_4_8_lut, receive_module.rx_counter.X_272__i6, receive_module.rx_counter.X_272_add_4_8 }
ble_pack receive_module.rx_counter.X_272__i7_LC_5_11_7 { receive_module.rx_counter.X_272_add_4_9_lut, receive_module.rx_counter.X_272__i7, receive_module.rx_counter.X_272_add_4_9 }
clb_pack LT_5_11 { receive_module.rx_counter.X_272__i0_LC_5_11_0, receive_module.rx_counter.X_272__i1_LC_5_11_1, receive_module.rx_counter.X_272__i2_LC_5_11_2, receive_module.rx_counter.X_272__i3_LC_5_11_3, receive_module.rx_counter.X_272__i4_LC_5_11_4, receive_module.rx_counter.X_272__i5_LC_5_11_5, receive_module.rx_counter.X_272__i6_LC_5_11_6, receive_module.rx_counter.X_272__i7_LC_5_11_7 }
set_location LT_5_11 5 11
ble_pack receive_module.rx_counter.X_272__i8_LC_5_12_0 { receive_module.rx_counter.X_272_add_4_10_lut, receive_module.rx_counter.X_272__i8, receive_module.rx_counter.X_272_add_4_10 }
ble_pack receive_module.rx_counter.X_272__i9_LC_5_12_1 { receive_module.rx_counter.X_272_add_4_11_lut, receive_module.rx_counter.X_272__i9 }
clb_pack LT_5_12 { receive_module.rx_counter.X_272__i8_LC_5_12_0, receive_module.rx_counter.X_272__i9_LC_5_12_1 }
set_location LT_5_12 5 12
ble_pack transmit_module.BRAM_ADDR__i4_LC_5_14_3 { transmit_module.video_signal_controller.i978_3_lut_4_lut, transmit_module.BRAM_ADDR__i4 }
clb_pack LT_5_14 { transmit_module.BRAM_ADDR__i4_LC_5_14_3 }
set_location LT_5_14 5 14
ble_pack transmit_module.add_13_2_lut_LC_5_15_0 { transmit_module.add_13_2_lut, transmit_module.add_13_2 }
ble_pack transmit_module.add_13_3_lut_LC_5_15_1 { transmit_module.add_13_3_lut, transmit_module.add_13_3 }
ble_pack transmit_module.add_13_4_lut_LC_5_15_2 { transmit_module.add_13_4_lut, transmit_module.add_13_4 }
ble_pack transmit_module.add_13_5_lut_LC_5_15_3 { transmit_module.add_13_5_lut, transmit_module.add_13_5 }
ble_pack transmit_module.add_13_6_lut_LC_5_15_4 { transmit_module.add_13_6_lut, transmit_module.add_13_6 }
ble_pack transmit_module.add_13_7_lut_LC_5_15_5 { transmit_module.add_13_7_lut, transmit_module.add_13_7 }
ble_pack transmit_module.add_13_8_lut_LC_5_15_6 { transmit_module.add_13_8_lut, transmit_module.add_13_8 }
ble_pack transmit_module.add_13_9_lut_LC_5_15_7 { transmit_module.add_13_9_lut, transmit_module.add_13_9 }
clb_pack LT_5_15 { transmit_module.add_13_2_lut_LC_5_15_0, transmit_module.add_13_3_lut_LC_5_15_1, transmit_module.add_13_4_lut_LC_5_15_2, transmit_module.add_13_5_lut_LC_5_15_3, transmit_module.add_13_6_lut_LC_5_15_4, transmit_module.add_13_7_lut_LC_5_15_5, transmit_module.add_13_8_lut_LC_5_15_6, transmit_module.add_13_9_lut_LC_5_15_7 }
set_location LT_5_15 5 15
ble_pack transmit_module.add_13_10_lut_LC_5_16_0 { transmit_module.add_13_10_lut, transmit_module.add_13_10 }
ble_pack transmit_module.add_13_11_lut_LC_5_16_1 { transmit_module.add_13_11_lut, transmit_module.add_13_11 }
ble_pack transmit_module.add_13_12_lut_LC_5_16_2 { transmit_module.add_13_12_lut, transmit_module.add_13_12 }
ble_pack transmit_module.add_13_13_lut_LC_5_16_3 { transmit_module.add_13_13_lut, transmit_module.add_13_13 }
ble_pack transmit_module.add_13_14_lut_LC_5_16_4 { transmit_module.add_13_14_lut, transmit_module.add_13_14 }
ble_pack transmit_module.add_13_15_lut_LC_5_16_5 { transmit_module.add_13_15_lut }
ble_pack transmit_module.ADDR_Y_COMPONENT__i9_LC_5_16_6 { transmit_module.ADDR_Y_COMPONENT__i9_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i9 }
clb_pack LT_5_16 { transmit_module.add_13_10_lut_LC_5_16_0, transmit_module.add_13_11_lut_LC_5_16_1, transmit_module.add_13_12_lut_LC_5_16_2, transmit_module.add_13_13_lut_LC_5_16_3, transmit_module.add_13_14_lut_LC_5_16_4, transmit_module.add_13_15_lut_LC_5_16_5, transmit_module.ADDR_Y_COMPONENT__i9_LC_5_16_6 }
set_location LT_5_16 5 16
ble_pack transmit_module.BRAM_ADDR__i11_LC_5_17_0 { transmit_module.video_signal_controller.i964_3_lut_4_lut, transmit_module.BRAM_ADDR__i11 }
ble_pack transmit_module.BRAM_ADDR__i8_LC_5_17_1 { transmit_module.video_signal_controller.i970_3_lut_4_lut, transmit_module.BRAM_ADDR__i8 }
ble_pack transmit_module.BRAM_ADDR__i12_LC_5_17_3 { transmit_module.video_signal_controller.i962_3_lut_4_lut, transmit_module.BRAM_ADDR__i12 }
ble_pack transmit_module.BRAM_ADDR__i0_LC_5_17_4 { transmit_module.video_signal_controller.mux_18_i1_3_lut_4_lut, transmit_module.BRAM_ADDR__i0 }
ble_pack transmit_module.BRAM_ADDR__i9_LC_5_17_5 { transmit_module.video_signal_controller.i968_3_lut_4_lut, transmit_module.BRAM_ADDR__i9 }
ble_pack transmit_module.BRAM_ADDR__i10_LC_5_17_6 { transmit_module.video_signal_controller.i966_3_lut_4_lut, transmit_module.BRAM_ADDR__i10 }
ble_pack transmit_module.BRAM_ADDR__i2_LC_5_17_7 { transmit_module.video_signal_controller.i982_3_lut_4_lut, transmit_module.BRAM_ADDR__i2 }
clb_pack LT_5_17 { transmit_module.BRAM_ADDR__i11_LC_5_17_0, transmit_module.BRAM_ADDR__i8_LC_5_17_1, transmit_module.BRAM_ADDR__i12_LC_5_17_3, transmit_module.BRAM_ADDR__i0_LC_5_17_4, transmit_module.BRAM_ADDR__i9_LC_5_17_5, transmit_module.BRAM_ADDR__i10_LC_5_17_6, transmit_module.BRAM_ADDR__i2_LC_5_17_7 }
set_location LT_5_17 5 17
ble_pack transmit_module.video_signal_controller.i280_2_lut_3_lut_4_lut_rep_22_LC_5_18_2 { transmit_module.video_signal_controller.i280_2_lut_3_lut_4_lut_rep_22 }
ble_pack transmit_module.video_signal_controller.i1_2_lut_rep_9_3_lut_LC_5_18_3 { transmit_module.video_signal_controller.i1_2_lut_rep_9_3_lut }
ble_pack transmit_module.i1633_4_lut_LC_5_18_4 { transmit_module.i1633_4_lut }
ble_pack transmit_module.video_signal_controller.i1_2_lut_rep_20_LC_5_18_5 { transmit_module.video_signal_controller.i1_2_lut_rep_20 }
ble_pack transmit_module.video_signal_controller.i1_3_lut_4_lut_LC_5_18_6 { transmit_module.video_signal_controller.i1_3_lut_4_lut }
clb_pack LT_5_18 { transmit_module.video_signal_controller.i280_2_lut_3_lut_4_lut_rep_22_LC_5_18_2, transmit_module.video_signal_controller.i1_2_lut_rep_9_3_lut_LC_5_18_3, transmit_module.i1633_4_lut_LC_5_18_4, transmit_module.video_signal_controller.i1_2_lut_rep_20_LC_5_18_5, transmit_module.video_signal_controller.i1_3_lut_4_lut_LC_5_18_6 }
set_location LT_5_18 5 18
ble_pack transmit_module.video_signal_controller.VGA_X_275_276__i1_LC_5_19_0 { transmit_module.video_signal_controller.VGA_X_275_276_add_4_2_lut, transmit_module.video_signal_controller.VGA_X_275_276__i1, transmit_module.video_signal_controller.VGA_X_275_276_add_4_2 }
ble_pack transmit_module.video_signal_controller.VGA_X_275_276__i2_LC_5_19_1 { transmit_module.video_signal_controller.VGA_X_275_276_add_4_3_lut, transmit_module.video_signal_controller.VGA_X_275_276__i2, transmit_module.video_signal_controller.VGA_X_275_276_add_4_3 }
ble_pack transmit_module.video_signal_controller.VGA_X_275_276__i3_LC_5_19_2 { transmit_module.video_signal_controller.VGA_X_275_276_add_4_4_lut, transmit_module.video_signal_controller.VGA_X_275_276__i3, transmit_module.video_signal_controller.VGA_X_275_276_add_4_4 }
ble_pack transmit_module.video_signal_controller.VGA_X_275_276__i4_LC_5_19_3 { transmit_module.video_signal_controller.VGA_X_275_276_add_4_5_lut, transmit_module.video_signal_controller.VGA_X_275_276__i4, transmit_module.video_signal_controller.VGA_X_275_276_add_4_5 }
ble_pack transmit_module.video_signal_controller.VGA_X_275_276__i5_LC_5_19_4 { transmit_module.video_signal_controller.VGA_X_275_276_add_4_6_lut, transmit_module.video_signal_controller.VGA_X_275_276__i5, transmit_module.video_signal_controller.VGA_X_275_276_add_4_6 }
ble_pack transmit_module.video_signal_controller.VGA_X_275_276__i6_LC_5_19_5 { transmit_module.video_signal_controller.VGA_X_275_276_add_4_7_lut, transmit_module.video_signal_controller.VGA_X_275_276__i6, transmit_module.video_signal_controller.VGA_X_275_276_add_4_7 }
ble_pack transmit_module.video_signal_controller.VGA_X_275_276__i7_LC_5_19_6 { transmit_module.video_signal_controller.VGA_X_275_276_add_4_8_lut, transmit_module.video_signal_controller.VGA_X_275_276__i7, transmit_module.video_signal_controller.VGA_X_275_276_add_4_8 }
ble_pack transmit_module.video_signal_controller.VGA_X_275_276__i8_LC_5_19_7 { transmit_module.video_signal_controller.VGA_X_275_276_add_4_9_lut, transmit_module.video_signal_controller.VGA_X_275_276__i8, transmit_module.video_signal_controller.VGA_X_275_276_add_4_9 }
clb_pack LT_5_19 { transmit_module.video_signal_controller.VGA_X_275_276__i1_LC_5_19_0, transmit_module.video_signal_controller.VGA_X_275_276__i2_LC_5_19_1, transmit_module.video_signal_controller.VGA_X_275_276__i3_LC_5_19_2, transmit_module.video_signal_controller.VGA_X_275_276__i4_LC_5_19_3, transmit_module.video_signal_controller.VGA_X_275_276__i5_LC_5_19_4, transmit_module.video_signal_controller.VGA_X_275_276__i6_LC_5_19_5, transmit_module.video_signal_controller.VGA_X_275_276__i7_LC_5_19_6, transmit_module.video_signal_controller.VGA_X_275_276__i8_LC_5_19_7 }
set_location LT_5_19 5 19
ble_pack transmit_module.video_signal_controller.VGA_X_275_276__i9_LC_5_20_0 { transmit_module.video_signal_controller.VGA_X_275_276_add_4_10_lut, transmit_module.video_signal_controller.VGA_X_275_276__i9, transmit_module.video_signal_controller.VGA_X_275_276_add_4_10 }
ble_pack transmit_module.video_signal_controller.VGA_X_275_276__i10_LC_5_20_1 { transmit_module.video_signal_controller.VGA_X_275_276_add_4_11_lut, transmit_module.video_signal_controller.VGA_X_275_276__i10, transmit_module.video_signal_controller.VGA_X_275_276_add_4_11 }
ble_pack transmit_module.video_signal_controller.VGA_X_275_276__i11_LC_5_20_2 { transmit_module.video_signal_controller.VGA_X_275_276_add_4_12_lut, transmit_module.video_signal_controller.VGA_X_275_276__i11 }
clb_pack LT_5_20 { transmit_module.video_signal_controller.VGA_X_275_276__i9_LC_5_20_0, transmit_module.video_signal_controller.VGA_X_275_276__i10_LC_5_20_1, transmit_module.video_signal_controller.VGA_X_275_276__i11_LC_5_20_2 }
set_location LT_5_20 5 20
ble_pack ADV_G__i3_LC_5_21_0 { transmit_module.video_signal_controller.VGA_X_7__I_0_inv_0_i3_1_lut, ADV_G__i3 }
ble_pack ADV_B__i5_LC_5_21_1 { ADV_B__i5_THRU_LUT4_0, ADV_B__i5 }
ble_pack ADV_B__i1_LC_5_21_2 { ADV_B__i1_THRU_LUT4_0, ADV_B__i1 }
ble_pack ADV_G__i5_LC_5_21_4 { transmit_module.video_signal_controller.i313_1_lut, ADV_G__i5 }
ble_pack ADV_B__i8_LC_5_21_5 { ADV_B__i8_THRU_LUT4_0, ADV_B__i8 }
ble_pack ADV_B__i2_LC_5_21_6 { ADV_B__i2_THRU_LUT4_0, ADV_B__i2 }
ble_pack ADV_G__i8_LC_5_21_7 { transmit_module.video_signal_controller.VGA_X_7__I_0_inv_0_i8_1_lut, ADV_G__i8 }
clb_pack LT_5_21 { ADV_G__i3_LC_5_21_0, ADV_B__i5_LC_5_21_1, ADV_B__i1_LC_5_21_2, ADV_G__i5_LC_5_21_4, ADV_B__i8_LC_5_21_5, ADV_B__i2_LC_5_21_6, ADV_G__i8_LC_5_21_7 }
set_location LT_5_21 5 21
ble_pack ADV_G__i2_LC_5_22_1 { transmit_module.video_signal_controller.VGA_X_7__I_0_inv_0_i2_1_lut, ADV_G__i2 }
ble_pack ADV_G__i6_LC_5_22_3 { transmit_module.video_signal_controller.i390_1_lut, ADV_G__i6 }
ble_pack ADV_B__i7_LC_5_22_5 { ADV_B__i7_THRU_LUT4_0, ADV_B__i7 }
ble_pack ADV_R__i8_LC_5_22_6 { transmit_module.video_signal_controller.VGA_Y_7__I_0_inv_0_i8_1_lut, ADV_R__i8 }
ble_pack ADV_B__i3_LC_5_22_7 { ADV_B__i3_THRU_LUT4_0, ADV_B__i3 }
clb_pack LT_5_22 { ADV_G__i2_LC_5_22_1, ADV_G__i6_LC_5_22_3, ADV_B__i7_LC_5_22_5, ADV_R__i8_LC_5_22_6, ADV_B__i3_LC_5_22_7 }
set_location LT_5_22 5 22
ble_pack transmit_module.Y_DELTA_PATTERN_i3_LC_5_23_0 { transmit_module.Y_DELTA_PATTERN_i3_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i3 }
ble_pack transmit_module.Y_DELTA_PATTERN_i99_LC_5_23_1 { transmit_module.Y_DELTA_PATTERN_i99_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i99 }
ble_pack transmit_module.Y_DELTA_PATTERN_i5_LC_5_23_6 { transmit_module.Y_DELTA_PATTERN_i5_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i5 }
ble_pack transmit_module.Y_DELTA_PATTERN_i4_LC_5_23_7 { transmit_module.Y_DELTA_PATTERN_i4_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i4 }
clb_pack LT_5_23 { transmit_module.Y_DELTA_PATTERN_i3_LC_5_23_0, transmit_module.Y_DELTA_PATTERN_i99_LC_5_23_1, transmit_module.Y_DELTA_PATTERN_i5_LC_5_23_6, transmit_module.Y_DELTA_PATTERN_i4_LC_5_23_7 }
set_location LT_5_23 5 23
ble_pack transmit_module.Y_DELTA_PATTERN_i2_LC_5_24_3 { transmit_module.Y_DELTA_PATTERN_i2_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i2 }
ble_pack transmit_module.Y_DELTA_PATTERN_i1_LC_5_24_5 { transmit_module.Y_DELTA_PATTERN_i1_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i1 }
clb_pack LT_5_24 { transmit_module.Y_DELTA_PATTERN_i2_LC_5_24_3, transmit_module.Y_DELTA_PATTERN_i1_LC_5_24_5 }
set_location LT_5_24 5 24
ble_pack receive_module.rx_counter.i3_3_lut_4_lut_LC_6_6_0 { receive_module.rx_counter.i3_3_lut_4_lut }
ble_pack receive_module.rx_counter.i444_2_lut_rep_17_LC_6_6_3 { receive_module.rx_counter.i444_2_lut_rep_17 }
clb_pack LT_6_6 { receive_module.rx_counter.i3_3_lut_4_lut_LC_6_6_0, receive_module.rx_counter.i444_2_lut_rep_17_LC_6_6_3 }
set_location LT_6_6 6 6
ble_pack receive_module.rx_counter.i2_2_lut_LC_6_7_2 { receive_module.rx_counter.i2_2_lut }
ble_pack receive_module.rx_counter.i2_4_lut_LC_6_7_3 { receive_module.rx_counter.i2_4_lut }
ble_pack receive_module.rx_counter.i1_4_lut_LC_6_7_4 { receive_module.rx_counter.i1_4_lut }
ble_pack receive_module.rx_counter.i1_2_lut_adj_18_LC_6_7_5 { receive_module.rx_counter.i1_2_lut_adj_18 }
ble_pack receive_module.rx_counter.i2_4_lut_adj_20_LC_6_7_6 { receive_module.rx_counter.i2_4_lut_adj_20 }
ble_pack receive_module.rx_counter.i3_4_lut_LC_6_7_7 { receive_module.rx_counter.i3_4_lut }
clb_pack LT_6_7 { receive_module.rx_counter.i2_2_lut_LC_6_7_2, receive_module.rx_counter.i2_4_lut_LC_6_7_3, receive_module.rx_counter.i1_4_lut_LC_6_7_4, receive_module.rx_counter.i1_2_lut_adj_18_LC_6_7_5, receive_module.rx_counter.i2_4_lut_adj_20_LC_6_7_6, receive_module.rx_counter.i3_4_lut_LC_6_7_7 }
set_location LT_6_7 6 7
ble_pack i32_1_lut_rep_12_LC_6_8_2 { i32_1_lut_rep_12 }
clb_pack LT_6_8 { i32_1_lut_rep_12_LC_6_8_2 }
set_location LT_6_8 6 8
ble_pack transmit_module.ADDR_Y_COMPONENT__i6_LC_6_14_1 { transmit_module.ADDR_Y_COMPONENT__i6_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i6 }
ble_pack transmit_module.ADDR_Y_COMPONENT__i7_LC_6_14_4 { transmit_module.ADDR_Y_COMPONENT__i7_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i7 }
clb_pack LT_6_14 { transmit_module.ADDR_Y_COMPONENT__i6_LC_6_14_1, transmit_module.ADDR_Y_COMPONENT__i7_LC_6_14_4 }
set_location LT_6_14 6 14
ble_pack transmit_module.BRAM_ADDR__i5_LC_6_15_2 { transmit_module.video_signal_controller.i976_3_lut_4_lut, transmit_module.BRAM_ADDR__i5 }
ble_pack transmit_module.BRAM_ADDR__i1_LC_6_15_3 { transmit_module.video_signal_controller.i984_3_lut_4_lut, transmit_module.BRAM_ADDR__i1 }
ble_pack transmit_module.BRAM_ADDR__i6_LC_6_15_4 { transmit_module.video_signal_controller.i974_3_lut_4_lut, transmit_module.BRAM_ADDR__i6 }
ble_pack transmit_module.BRAM_ADDR__i3_LC_6_15_6 { transmit_module.video_signal_controller.i980_3_lut_4_lut, transmit_module.BRAM_ADDR__i3 }
clb_pack LT_6_15 { transmit_module.BRAM_ADDR__i5_LC_6_15_2, transmit_module.BRAM_ADDR__i1_LC_6_15_3, transmit_module.BRAM_ADDR__i6_LC_6_15_4, transmit_module.BRAM_ADDR__i3_LC_6_15_6 }
set_location LT_6_15 6 15
ble_pack transmit_module.ADDR_Y_COMPONENT__i1_LC_6_16_0 { transmit_module.ADDR_Y_COMPONENT__i1_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i1 }
ble_pack transmit_module.ADDR_Y_COMPONENT__i10_LC_6_16_1 { transmit_module.ADDR_Y_COMPONENT__i10_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i10 }
ble_pack transmit_module.ADDR_Y_COMPONENT__i5_LC_6_16_3 { transmit_module.ADDR_Y_COMPONENT__i5_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i5 }
ble_pack transmit_module.ADDR_Y_COMPONENT__i13_LC_6_16_7 { transmit_module.ADDR_Y_COMPONENT__i13_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i13 }
clb_pack LT_6_16 { transmit_module.ADDR_Y_COMPONENT__i1_LC_6_16_0, transmit_module.ADDR_Y_COMPONENT__i10_LC_6_16_1, transmit_module.ADDR_Y_COMPONENT__i5_LC_6_16_3, transmit_module.ADDR_Y_COMPONENT__i13_LC_6_16_7 }
set_location LT_6_16 6 16
ble_pack transmit_module.ADDR_Y_COMPONENT__i8_LC_6_17_1 { transmit_module.ADDR_Y_COMPONENT__i8_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i8 }
ble_pack transmit_module.ADDR_Y_COMPONENT__i11_LC_6_17_2 { transmit_module.ADDR_Y_COMPONENT__i11_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i11 }
ble_pack transmit_module.ADDR_Y_COMPONENT__i0_LC_6_17_3 { transmit_module.ADDR_Y_COMPONENT__i0_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i0 }
ble_pack transmit_module.ADDR_Y_COMPONENT__i3_LC_6_17_5 { transmit_module.ADDR_Y_COMPONENT__i3_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i3 }
ble_pack transmit_module.ADDR_Y_COMPONENT__i12_LC_6_17_6 { transmit_module.ADDR_Y_COMPONENT__i12_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i12 }
ble_pack transmit_module.ADDR_Y_COMPONENT__i2_LC_6_17_7 { transmit_module.ADDR_Y_COMPONENT__i2_THRU_LUT4_0, transmit_module.ADDR_Y_COMPONENT__i2 }
clb_pack LT_6_17 { transmit_module.ADDR_Y_COMPONENT__i8_LC_6_17_1, transmit_module.ADDR_Y_COMPONENT__i11_LC_6_17_2, transmit_module.ADDR_Y_COMPONENT__i0_LC_6_17_3, transmit_module.ADDR_Y_COMPONENT__i3_LC_6_17_5, transmit_module.ADDR_Y_COMPONENT__i12_LC_6_17_6, transmit_module.ADDR_Y_COMPONENT__i2_LC_6_17_7 }
set_location LT_6_17 6 17
ble_pack transmit_module.X_DELTA_PATTERN_i7_LC_6_18_0 { transmit_module.X_DELTA_PATTERN_i7_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i7 }
ble_pack transmit_module.X_DELTA_PATTERN_i1_LC_6_18_2 { transmit_module.X_DELTA_PATTERN_i1_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i1 }
ble_pack transmit_module.X_DELTA_PATTERN_i2_LC_6_18_3 { transmit_module.X_DELTA_PATTERN_i2_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i2 }
ble_pack transmit_module.X_DELTA_PATTERN_i4_LC_6_18_4 { transmit_module.X_DELTA_PATTERN_i4_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i4 }
ble_pack transmit_module.X_DELTA_PATTERN_i3_LC_6_18_5 { transmit_module.X_DELTA_PATTERN_i3_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i3 }
ble_pack transmit_module.X_DELTA_PATTERN_i0_LC_6_18_7 { transmit_module.X_DELTA_PATTERN_i0_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i0 }
clb_pack LT_6_18 { transmit_module.X_DELTA_PATTERN_i7_LC_6_18_0, transmit_module.X_DELTA_PATTERN_i1_LC_6_18_2, transmit_module.X_DELTA_PATTERN_i2_LC_6_18_3, transmit_module.X_DELTA_PATTERN_i4_LC_6_18_4, transmit_module.X_DELTA_PATTERN_i3_LC_6_18_5, transmit_module.X_DELTA_PATTERN_i0_LC_6_18_7 }
set_location LT_6_18 6 18
ble_pack transmit_module.X_DELTA_PATTERN_i15_LC_6_19_0 { transmit_module.X_DELTA_PATTERN_i15_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i15 }
ble_pack transmit_module.X_DELTA_PATTERN_i6_LC_6_19_2 { transmit_module.X_DELTA_PATTERN_i6_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i6 }
ble_pack transmit_module.X_DELTA_PATTERN_i9_LC_6_19_3 { transmit_module.X_DELTA_PATTERN_i9_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i9 }
ble_pack transmit_module.X_DELTA_PATTERN_i8_LC_6_19_4 { transmit_module.X_DELTA_PATTERN_i8_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i8 }
ble_pack transmit_module.X_DELTA_PATTERN_i14_LC_6_19_5 { transmit_module.X_DELTA_PATTERN_i14_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i14 }
ble_pack transmit_module.X_DELTA_PATTERN_i5_LC_6_19_6 { transmit_module.X_DELTA_PATTERN_i5_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i5 }
ble_pack transmit_module.X_DELTA_PATTERN_i13_LC_6_19_7 { transmit_module.X_DELTA_PATTERN_i13_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i13 }
clb_pack LT_6_19 { transmit_module.X_DELTA_PATTERN_i15_LC_6_19_0, transmit_module.X_DELTA_PATTERN_i6_LC_6_19_2, transmit_module.X_DELTA_PATTERN_i9_LC_6_19_3, transmit_module.X_DELTA_PATTERN_i8_LC_6_19_4, transmit_module.X_DELTA_PATTERN_i14_LC_6_19_5, transmit_module.X_DELTA_PATTERN_i5_LC_6_19_6, transmit_module.X_DELTA_PATTERN_i13_LC_6_19_7 }
set_location LT_6_19 6 19
ble_pack transmit_module.Y_DELTA_PATTERN_i32_LC_6_20_1 { transmit_module.Y_DELTA_PATTERN_i32_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i32 }
ble_pack transmit_module.Y_DELTA_PATTERN_i31_LC_6_20_4 { transmit_module.Y_DELTA_PATTERN_i31_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i31 }
ble_pack transmit_module.Y_DELTA_PATTERN_i29_LC_6_20_5 { transmit_module.Y_DELTA_PATTERN_i29_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i29 }
ble_pack transmit_module.Y_DELTA_PATTERN_i30_LC_6_20_6 { transmit_module.Y_DELTA_PATTERN_i30_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i30 }
clb_pack LT_6_20 { transmit_module.Y_DELTA_PATTERN_i32_LC_6_20_1, transmit_module.Y_DELTA_PATTERN_i31_LC_6_20_4, transmit_module.Y_DELTA_PATTERN_i29_LC_6_20_5, transmit_module.Y_DELTA_PATTERN_i30_LC_6_20_6 }
set_location LT_6_20 6 20
ble_pack transmit_module.Y_DELTA_PATTERN_i17_LC_6_21_0 { transmit_module.Y_DELTA_PATTERN_i17_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i17 }
ble_pack transmit_module.Y_DELTA_PATTERN_i20_LC_6_21_1 { transmit_module.Y_DELTA_PATTERN_i20_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i20 }
ble_pack transmit_module.Y_DELTA_PATTERN_i19_LC_6_21_2 { transmit_module.Y_DELTA_PATTERN_i19_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i19 }
ble_pack transmit_module.Y_DELTA_PATTERN_i22_LC_6_21_4 { transmit_module.Y_DELTA_PATTERN_i22_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i22 }
ble_pack transmit_module.Y_DELTA_PATTERN_i18_LC_6_21_5 { transmit_module.Y_DELTA_PATTERN_i18_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i18 }
ble_pack transmit_module.Y_DELTA_PATTERN_i21_LC_6_21_6 { transmit_module.Y_DELTA_PATTERN_i21_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i21 }
ble_pack transmit_module.Y_DELTA_PATTERN_i16_LC_6_21_7 { transmit_module.Y_DELTA_PATTERN_i16_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i16 }
clb_pack LT_6_21 { transmit_module.Y_DELTA_PATTERN_i17_LC_6_21_0, transmit_module.Y_DELTA_PATTERN_i20_LC_6_21_1, transmit_module.Y_DELTA_PATTERN_i19_LC_6_21_2, transmit_module.Y_DELTA_PATTERN_i22_LC_6_21_4, transmit_module.Y_DELTA_PATTERN_i18_LC_6_21_5, transmit_module.Y_DELTA_PATTERN_i21_LC_6_21_6, transmit_module.Y_DELTA_PATTERN_i16_LC_6_21_7 }
set_location LT_6_21 6 21
ble_pack transmit_module.Y_DELTA_PATTERN_i28_LC_6_22_2 { transmit_module.Y_DELTA_PATTERN_i28_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i28 }
ble_pack transmit_module.Y_DELTA_PATTERN_i26_LC_6_22_4 { transmit_module.Y_DELTA_PATTERN_i26_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i26 }
ble_pack transmit_module.Y_DELTA_PATTERN_i27_LC_6_22_6 { transmit_module.Y_DELTA_PATTERN_i27_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i27 }
ble_pack transmit_module.Y_DELTA_PATTERN_i25_LC_6_22_7 { transmit_module.Y_DELTA_PATTERN_i25_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i25 }
clb_pack LT_6_22 { transmit_module.Y_DELTA_PATTERN_i28_LC_6_22_2, transmit_module.Y_DELTA_PATTERN_i26_LC_6_22_4, transmit_module.Y_DELTA_PATTERN_i27_LC_6_22_6, transmit_module.Y_DELTA_PATTERN_i25_LC_6_22_7 }
set_location LT_6_22 6 22
ble_pack transmit_module.Y_DELTA_PATTERN_i6_LC_6_23_1 { transmit_module.Y_DELTA_PATTERN_i6_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i6 }
ble_pack transmit_module.Y_DELTA_PATTERN_i24_LC_6_23_5 { transmit_module.Y_DELTA_PATTERN_i24_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i24 }
ble_pack transmit_module.Y_DELTA_PATTERN_i23_LC_6_23_6 { transmit_module.Y_DELTA_PATTERN_i23_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i23 }
clb_pack LT_6_23 { transmit_module.Y_DELTA_PATTERN_i6_LC_6_23_1, transmit_module.Y_DELTA_PATTERN_i24_LC_6_23_5, transmit_module.Y_DELTA_PATTERN_i23_LC_6_23_6 }
set_location LT_6_23 6 23
ble_pack transmit_module.Y_DELTA_PATTERN_i0_LC_6_24_1 { transmit_module.Y_DELTA_PATTERN_i0_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i0 }
clb_pack LT_6_24 { transmit_module.Y_DELTA_PATTERN_i0_LC_6_24_1 }
set_location LT_6_24 6 24
ble_pack receive_module.rx_counter.i281_3_lut_3_lut_3_lut_LC_7_5_1 { receive_module.rx_counter.i281_3_lut_3_lut_3_lut }
ble_pack receive_module.rx_counter.old_HS_50_LC_7_5_5 { receive_module.rx_counter.old_HS_50_THRU_LUT4_0, receive_module.rx_counter.old_HS_50 }
clb_pack LT_7_5 { receive_module.rx_counter.i281_3_lut_3_lut_3_lut_LC_7_5_1, receive_module.rx_counter.old_HS_50_LC_7_5_5 }
set_location LT_7_5 7 5
ble_pack receive_module.rx_counter.Y__i0_LC_7_6_0 { receive_module.rx_counter.add_65_2_lut, receive_module.rx_counter.Y__i0, receive_module.rx_counter.add_65_2 }
ble_pack receive_module.rx_counter.Y__i1_LC_7_6_1 { receive_module.rx_counter.add_65_3_lut, receive_module.rx_counter.Y__i1, receive_module.rx_counter.add_65_3 }
ble_pack receive_module.rx_counter.Y__i2_LC_7_6_2 { receive_module.rx_counter.add_65_4_lut, receive_module.rx_counter.Y__i2, receive_module.rx_counter.add_65_4 }
ble_pack receive_module.rx_counter.Y__i3_LC_7_6_3 { receive_module.rx_counter.add_65_5_lut, receive_module.rx_counter.Y__i3, receive_module.rx_counter.add_65_5 }
ble_pack receive_module.rx_counter.Y__i4_LC_7_6_4 { receive_module.rx_counter.add_65_6_lut, receive_module.rx_counter.Y__i4, receive_module.rx_counter.add_65_6 }
ble_pack receive_module.rx_counter.Y__i5_LC_7_6_5 { receive_module.rx_counter.add_65_7_lut, receive_module.rx_counter.Y__i5, receive_module.rx_counter.add_65_7 }
ble_pack receive_module.rx_counter.Y__i6_LC_7_6_6 { receive_module.rx_counter.add_65_8_lut, receive_module.rx_counter.Y__i6, receive_module.rx_counter.add_65_8 }
ble_pack receive_module.rx_counter.Y__i7_LC_7_6_7 { receive_module.rx_counter.add_65_9_lut, receive_module.rx_counter.Y__i7, receive_module.rx_counter.add_65_9 }
clb_pack LT_7_6 { receive_module.rx_counter.Y__i0_LC_7_6_0, receive_module.rx_counter.Y__i1_LC_7_6_1, receive_module.rx_counter.Y__i2_LC_7_6_2, receive_module.rx_counter.Y__i3_LC_7_6_3, receive_module.rx_counter.Y__i4_LC_7_6_4, receive_module.rx_counter.Y__i5_LC_7_6_5, receive_module.rx_counter.Y__i6_LC_7_6_6, receive_module.rx_counter.Y__i7_LC_7_6_7 }
set_location LT_7_6 7 6
ble_pack receive_module.rx_counter.Y__i8_LC_7_7_0 { receive_module.rx_counter.add_65_10_lut, receive_module.rx_counter.Y__i8 }
clb_pack LT_7_7 { receive_module.rx_counter.Y__i8_LC_7_7_0 }
set_location LT_7_7 7 7
ble_pack transmit_module.BRAM_ADDR__i7_LC_7_14_6 { transmit_module.video_signal_controller.i972_3_lut_4_lut, transmit_module.BRAM_ADDR__i7 }
clb_pack LT_7_14 { transmit_module.BRAM_ADDR__i7_LC_7_14_6 }
set_location LT_7_14 7 14
ble_pack transmit_module.video_signal_controller.i960_3_lut_4_lut_LC_7_16_1 { transmit_module.video_signal_controller.i960_3_lut_4_lut }
clb_pack LT_7_16 { transmit_module.video_signal_controller.i960_3_lut_4_lut_LC_7_16_1 }
set_location LT_7_16 7 16
ble_pack transmit_module.BRAM_ADDR__i13_LC_7_18_4 { transmit_module.i1427_3_lut, transmit_module.BRAM_ADDR__i13 }
clb_pack LT_7_18 { transmit_module.BRAM_ADDR__i13_LC_7_18_4 }
set_location LT_7_18 7 18
ble_pack transmit_module.X_DELTA_PATTERN_i10_LC_7_19_5 { transmit_module.X_DELTA_PATTERN_i10_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i10 }
ble_pack transmit_module.X_DELTA_PATTERN_i11_LC_7_19_6 { transmit_module.X_DELTA_PATTERN_i11_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i11 }
ble_pack transmit_module.X_DELTA_PATTERN_i12_LC_7_19_7 { transmit_module.X_DELTA_PATTERN_i12_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i12 }
clb_pack LT_7_19 { transmit_module.X_DELTA_PATTERN_i10_LC_7_19_5, transmit_module.X_DELTA_PATTERN_i11_LC_7_19_6, transmit_module.X_DELTA_PATTERN_i12_LC_7_19_7 }
set_location LT_7_19 7 19
ble_pack transmit_module.Y_DELTA_PATTERN_i15_LC_7_21_2 { transmit_module.Y_DELTA_PATTERN_i15_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i15 }
ble_pack transmit_module.Y_DELTA_PATTERN_i14_LC_7_21_4 { transmit_module.Y_DELTA_PATTERN_i14_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i14 }
ble_pack transmit_module.Y_DELTA_PATTERN_i13_LC_7_21_5 { transmit_module.Y_DELTA_PATTERN_i13_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i13 }
ble_pack transmit_module.Y_DELTA_PATTERN_i12_LC_7_21_6 { transmit_module.Y_DELTA_PATTERN_i12_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i12 }
clb_pack LT_7_21 { transmit_module.Y_DELTA_PATTERN_i15_LC_7_21_2, transmit_module.Y_DELTA_PATTERN_i14_LC_7_21_4, transmit_module.Y_DELTA_PATTERN_i13_LC_7_21_5, transmit_module.Y_DELTA_PATTERN_i12_LC_7_21_6 }
set_location LT_7_21 7 21
ble_pack transmit_module.Y_DELTA_PATTERN_i9_LC_7_22_1 { transmit_module.Y_DELTA_PATTERN_i9_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i9 }
ble_pack transmit_module.Y_DELTA_PATTERN_i11_LC_7_22_5 { transmit_module.Y_DELTA_PATTERN_i11_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i11 }
ble_pack transmit_module.Y_DELTA_PATTERN_i10_LC_7_22_7 { transmit_module.Y_DELTA_PATTERN_i10_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i10 }
clb_pack LT_7_22 { transmit_module.Y_DELTA_PATTERN_i9_LC_7_22_1, transmit_module.Y_DELTA_PATTERN_i11_LC_7_22_5, transmit_module.Y_DELTA_PATTERN_i10_LC_7_22_7 }
set_location LT_7_22 7 22
ble_pack transmit_module.Y_DELTA_PATTERN_i7_LC_7_23_1 { transmit_module.Y_DELTA_PATTERN_i7_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i7 }
ble_pack transmit_module.Y_DELTA_PATTERN_i8_LC_7_23_6 { transmit_module.Y_DELTA_PATTERN_i8_THRU_LUT4_0, transmit_module.Y_DELTA_PATTERN_i8 }
clb_pack LT_7_23 { transmit_module.Y_DELTA_PATTERN_i7_LC_7_23_1, transmit_module.Y_DELTA_PATTERN_i8_LC_7_23_6 }
set_location LT_7_23 7 23
ble_pack receive_module.rx_counter.FRAME_COUNTER_273__i0_LC_9_7_0 { receive_module.rx_counter.FRAME_COUNTER_273_add_4_2_lut, receive_module.rx_counter.FRAME_COUNTER_273__i0, receive_module.rx_counter.FRAME_COUNTER_273_add_4_2 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_273__i1_LC_9_7_1 { receive_module.rx_counter.FRAME_COUNTER_273_add_4_3_lut, receive_module.rx_counter.FRAME_COUNTER_273__i1, receive_module.rx_counter.FRAME_COUNTER_273_add_4_3 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_273__i2_LC_9_7_2 { receive_module.rx_counter.FRAME_COUNTER_273_add_4_4_lut, receive_module.rx_counter.FRAME_COUNTER_273__i2, receive_module.rx_counter.FRAME_COUNTER_273_add_4_4 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_273__i3_LC_9_7_3 { receive_module.rx_counter.FRAME_COUNTER_273_add_4_5_lut, receive_module.rx_counter.FRAME_COUNTER_273__i3, receive_module.rx_counter.FRAME_COUNTER_273_add_4_5 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_273__i4_LC_9_7_4 { receive_module.rx_counter.FRAME_COUNTER_273_add_4_6_lut, receive_module.rx_counter.FRAME_COUNTER_273__i4, receive_module.rx_counter.FRAME_COUNTER_273_add_4_6 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_273__i5_LC_9_7_5 { receive_module.rx_counter.FRAME_COUNTER_273_add_4_7_lut, receive_module.rx_counter.FRAME_COUNTER_273__i5 }
clb_pack LT_9_7 { receive_module.rx_counter.FRAME_COUNTER_273__i0_LC_9_7_0, receive_module.rx_counter.FRAME_COUNTER_273__i1_LC_9_7_1, receive_module.rx_counter.FRAME_COUNTER_273__i2_LC_9_7_2, receive_module.rx_counter.FRAME_COUNTER_273__i3_LC_9_7_3, receive_module.rx_counter.FRAME_COUNTER_273__i4_LC_9_7_4, receive_module.rx_counter.FRAME_COUNTER_273__i5_LC_9_7_5 }
set_location LT_9_7 9 7
ble_pack receive_module.rx_counter.PULSE_1HZ_48_LC_10_6_0 { receive_module.rx_counter.i1_2_lut_adj_17, receive_module.rx_counter.PULSE_1HZ_48 }
clb_pack LT_10_6 { receive_module.rx_counter.PULSE_1HZ_48_LC_10_6_0 }
set_location LT_10_6 10 6
ble_pack receive_module.rx_counter.i1_2_lut_LC_10_7_2 { receive_module.rx_counter.i1_2_lut }
ble_pack receive_module.rx_counter.i435_2_lut_rep_14_LC_10_7_3 { receive_module.rx_counter.i435_2_lut_rep_14 }
ble_pack receive_module.rx_counter.i1950_2_lut_LC_10_7_5 { receive_module.rx_counter.i1950_2_lut }
ble_pack receive_module.rx_counter.i5_4_lut_LC_10_7_6 { receive_module.rx_counter.i5_4_lut }
ble_pack receive_module.rx_counter.i1077_2_lut_3_lut_LC_10_7_7 { receive_module.rx_counter.i1077_2_lut_3_lut }
clb_pack LT_10_7 { receive_module.rx_counter.i1_2_lut_LC_10_7_2, receive_module.rx_counter.i435_2_lut_rep_14_LC_10_7_3, receive_module.rx_counter.i1950_2_lut_LC_10_7_5, receive_module.rx_counter.i5_4_lut_LC_10_7_6, receive_module.rx_counter.i1077_2_lut_3_lut_LC_10_7_7 }
set_location LT_10_7 10 7
ble_pack receive_module.rx_counter.old_VS_51_LC_11_7_4 { receive_module.rx_counter.old_VS_51_THRU_LUT4_0, receive_module.rx_counter.old_VS_51 }
clb_pack LT_11_7 { receive_module.rx_counter.old_VS_51_LC_11_7_4 }
set_location LT_11_7 11 7
ble_pack GB_BUFFER_TVP_CLK_c_THRU_LUT4_0_LC_16_1_3 { GB_BUFFER_TVP_CLK_c_THRU_LUT4_0 }
clb_pack LT_16_1 { GB_BUFFER_TVP_CLK_c_THRU_LUT4_0_LC_16_1_3 }
set_location LT_16_1 16 1
ble_pack CONSTANT_ONE_LUT4_LC_19_21_0 { CONSTANT_ONE_LUT4 }
clb_pack LT_19_21 { CONSTANT_ONE_LUT4_LC_19_21_0 }
set_location LT_19_21 19 21
set_io DEBUG[3] H1
set_io ADV_R[2] D1
set_io ADV_G[0] A1
set_io ADV_B[1] A7
set_io TVP_CLK K6
set_io ADV_G[7] A5
set_io DEBUG[1] J1
set_io ADV_R[0] C4
set_io ADV_B[7] A11
set_io ADV_G[5] A4
set_io DEBUG[7] E2
set_io ADV_R[6] B1
set_io ADV_B[5] B9
set_io ADV_R[7] B2
set_io ADV_G[3] A3
set_io ADV_CLK C9
set_io ADV_B[2] A8
set_io DEBUG[5] F1
set_io ADV_R[4] C1
set_io ADV_G[2] B3
set_io ADV_B[3] B8
set_io TVP_HSYNC J7
set_io DEBUG[4] G2
set_io ADV_R[5] C2
set_io ADV_G[1] A2
set_io ADV_B[0] A6
set_io ADV_HSYNC D3
set_io TVP_VSYNC J5
set_io DEBUG[2] H2
set_io ADV_R[3] D2
set_io ADV_B[6] A10
set_io ADV_VSYNC E1
set_io ADV_G[6] B5
set_io ADV_BLANK_N C7
set_io LED J8
set_io DEBUG[0] K1
set_io ADV_R[1] C3
set_io ADV_B[4] A9
set_io ADV_SYNC_N C8
set_io ADV_G[4] B4
