ble_pack line_buffer.i1_2_lut_3_lut_4_lut_LC_9_13_5 { line_buffer.i1_2_lut_3_lut_4_lut }
clb_pack LT_9_13 { line_buffer.i1_2_lut_3_lut_4_lut_LC_9_13_5 }
set_location LT_9_13 9 13
ble_pack line_buffer.i1639_2_lut_3_lut_4_lut_LC_9_17_2 { line_buffer.i1639_2_lut_3_lut_4_lut }
ble_pack line_buffer.i1_2_lut_3_lut_4_lut_adj_11_LC_9_17_7 { line_buffer.i1_2_lut_3_lut_4_lut_adj_11 }
clb_pack LT_9_17 { line_buffer.i1639_2_lut_3_lut_4_lut_LC_9_17_2, line_buffer.i1_2_lut_3_lut_4_lut_adj_11_LC_9_17_7 }
set_location LT_9_17 9 17
ble_pack line_buffer.i1584_3_lut_LC_9_20_5 { line_buffer.i1584_3_lut }
clb_pack LT_9_20 { line_buffer.i1584_3_lut_LC_9_20_5 }
set_location LT_9_20 9 20
ble_pack receive_module.rx_counter.i2_3_lut_LC_10_13_2 { receive_module.rx_counter.i2_3_lut }
ble_pack receive_module.rx_counter.i38_4_lut_LC_10_13_3 { receive_module.rx_counter.i38_4_lut }
ble_pack line_buffer.i1_2_lut_3_lut_4_lut_adj_13_LC_10_13_4 { line_buffer.i1_2_lut_3_lut_4_lut_adj_13 }
ble_pack receive_module.rx_counter.i2_3_lut_adj_19_LC_10_13_6 { receive_module.rx_counter.i2_3_lut_adj_19 }
ble_pack receive_module.rx_counter.i1499_3_lut_LC_10_13_7 { receive_module.rx_counter.i1499_3_lut }
clb_pack LT_10_13 { receive_module.rx_counter.i2_3_lut_LC_10_13_2, receive_module.rx_counter.i38_4_lut_LC_10_13_3, line_buffer.i1_2_lut_3_lut_4_lut_adj_13_LC_10_13_4, receive_module.rx_counter.i2_3_lut_adj_19_LC_10_13_6, receive_module.rx_counter.i1499_3_lut_LC_10_13_7 }
set_location LT_10_13 10 13
ble_pack receive_module.rx_counter.X_284__i0_LC_10_14_0 { receive_module.rx_counter.X_284_add_4_2_lut, receive_module.rx_counter.X_284__i0, receive_module.rx_counter.X_284_add_4_2 }
ble_pack receive_module.rx_counter.X_284__i1_LC_10_14_1 { receive_module.rx_counter.X_284_add_4_3_lut, receive_module.rx_counter.X_284__i1, receive_module.rx_counter.X_284_add_4_3 }
ble_pack receive_module.rx_counter.X_284__i2_LC_10_14_2 { receive_module.rx_counter.X_284_add_4_4_lut, receive_module.rx_counter.X_284__i2, receive_module.rx_counter.X_284_add_4_4 }
ble_pack receive_module.rx_counter.X_284__i3_LC_10_14_3 { receive_module.rx_counter.X_284_add_4_5_lut, receive_module.rx_counter.X_284__i3, receive_module.rx_counter.X_284_add_4_5 }
ble_pack receive_module.rx_counter.X_284__i4_LC_10_14_4 { receive_module.rx_counter.X_284_add_4_6_lut, receive_module.rx_counter.X_284__i4, receive_module.rx_counter.X_284_add_4_6 }
ble_pack receive_module.rx_counter.X_284__i5_LC_10_14_5 { receive_module.rx_counter.X_284_add_4_7_lut, receive_module.rx_counter.X_284__i5, receive_module.rx_counter.X_284_add_4_7 }
ble_pack receive_module.rx_counter.X_284__i6_LC_10_14_6 { receive_module.rx_counter.X_284_add_4_8_lut, receive_module.rx_counter.X_284__i6, receive_module.rx_counter.X_284_add_4_8 }
ble_pack receive_module.rx_counter.X_284__i7_LC_10_14_7 { receive_module.rx_counter.X_284_add_4_9_lut, receive_module.rx_counter.X_284__i7, receive_module.rx_counter.X_284_add_4_9 }
clb_pack LT_10_14 { receive_module.rx_counter.X_284__i0_LC_10_14_0, receive_module.rx_counter.X_284__i1_LC_10_14_1, receive_module.rx_counter.X_284__i2_LC_10_14_2, receive_module.rx_counter.X_284__i3_LC_10_14_3, receive_module.rx_counter.X_284__i4_LC_10_14_4, receive_module.rx_counter.X_284__i5_LC_10_14_5, receive_module.rx_counter.X_284__i6_LC_10_14_6, receive_module.rx_counter.X_284__i7_LC_10_14_7 }
set_location LT_10_14 10 14
ble_pack receive_module.rx_counter.X_284__i8_LC_10_15_0 { receive_module.rx_counter.X_284_add_4_10_lut, receive_module.rx_counter.X_284__i8, receive_module.rx_counter.X_284_add_4_10 }
ble_pack receive_module.rx_counter.X_284__i9_LC_10_15_1 { receive_module.rx_counter.X_284_add_4_11_lut, receive_module.rx_counter.X_284__i9 }
clb_pack LT_10_15 { receive_module.rx_counter.X_284__i8_LC_10_15_0, receive_module.rx_counter.X_284__i9_LC_10_15_1 }
set_location LT_10_15 10 15
ble_pack i27_1_lut_rep_20_LC_11_12_3 { i27_1_lut_rep_20 }
clb_pack LT_11_12 { i27_1_lut_rep_20_LC_11_12_3 }
set_location LT_11_12 11 12
ble_pack receive_module.rx_counter.i1_2_lut_LC_11_13_0 { receive_module.rx_counter.i1_2_lut }
ble_pack receive_module.rx_counter.i2_4_lut_adj_17_LC_11_13_1 { receive_module.rx_counter.i2_4_lut_adj_17 }
ble_pack receive_module.rx_counter.i4_4_lut_adj_18_LC_11_13_2 { receive_module.rx_counter.i4_4_lut_adj_18 }
ble_pack receive_module.rx_counter.i2_4_lut_adj_20_LC_11_13_3 { receive_module.rx_counter.i2_4_lut_adj_20 }
ble_pack receive_module.rx_counter.i2_2_lut_LC_11_13_4 { receive_module.rx_counter.i2_2_lut }
ble_pack receive_module.rx_counter.i1_rep_2_2_lut_LC_11_13_5 { receive_module.rx_counter.i1_rep_2_2_lut }
ble_pack receive_module.rx_counter.i2_4_lut_LC_11_13_6 { receive_module.rx_counter.i2_4_lut }
ble_pack receive_module.rx_counter.i1_4_lut_LC_11_13_7 { receive_module.rx_counter.i1_4_lut }
clb_pack LT_11_13 { receive_module.rx_counter.i1_2_lut_LC_11_13_0, receive_module.rx_counter.i2_4_lut_adj_17_LC_11_13_1, receive_module.rx_counter.i4_4_lut_adj_18_LC_11_13_2, receive_module.rx_counter.i2_4_lut_adj_20_LC_11_13_3, receive_module.rx_counter.i2_2_lut_LC_11_13_4, receive_module.rx_counter.i1_rep_2_2_lut_LC_11_13_5, receive_module.rx_counter.i2_4_lut_LC_11_13_6, receive_module.rx_counter.i1_4_lut_LC_11_13_7 }
set_location LT_11_13 11 13
ble_pack receive_module.rx_counter.Y__i0_LC_12_12_0 { receive_module.rx_counter.add_63_2_lut, receive_module.rx_counter.Y__i0, receive_module.rx_counter.add_63_2 }
ble_pack receive_module.rx_counter.Y__i1_LC_12_12_1 { receive_module.rx_counter.add_63_3_lut, receive_module.rx_counter.Y__i1, receive_module.rx_counter.add_63_3 }
ble_pack receive_module.rx_counter.Y__i2_LC_12_12_2 { receive_module.rx_counter.add_63_4_lut, receive_module.rx_counter.Y__i2, receive_module.rx_counter.add_63_4 }
ble_pack receive_module.rx_counter.Y__i3_LC_12_12_3 { receive_module.rx_counter.add_63_5_lut, receive_module.rx_counter.Y__i3, receive_module.rx_counter.add_63_5 }
ble_pack receive_module.rx_counter.Y__i4_LC_12_12_4 { receive_module.rx_counter.add_63_6_lut, receive_module.rx_counter.Y__i4, receive_module.rx_counter.add_63_6 }
ble_pack receive_module.rx_counter.Y__i5_LC_12_12_5 { receive_module.rx_counter.add_63_7_lut, receive_module.rx_counter.Y__i5, receive_module.rx_counter.add_63_7 }
ble_pack receive_module.rx_counter.Y__i6_LC_12_12_6 { receive_module.rx_counter.add_63_8_lut, receive_module.rx_counter.Y__i6, receive_module.rx_counter.add_63_8 }
ble_pack receive_module.rx_counter.Y__i7_LC_12_12_7 { receive_module.rx_counter.add_63_9_lut, receive_module.rx_counter.Y__i7, receive_module.rx_counter.add_63_9 }
clb_pack LT_12_12 { receive_module.rx_counter.Y__i0_LC_12_12_0, receive_module.rx_counter.Y__i1_LC_12_12_1, receive_module.rx_counter.Y__i2_LC_12_12_2, receive_module.rx_counter.Y__i3_LC_12_12_3, receive_module.rx_counter.Y__i4_LC_12_12_4, receive_module.rx_counter.Y__i5_LC_12_12_5, receive_module.rx_counter.Y__i6_LC_12_12_6, receive_module.rx_counter.Y__i7_LC_12_12_7 }
set_location LT_12_12 12 12
ble_pack receive_module.rx_counter.Y__i8_LC_12_13_0 { receive_module.rx_counter.add_63_10_lut, receive_module.rx_counter.Y__i8 }
clb_pack LT_12_13 { receive_module.rx_counter.Y__i8_LC_12_13_0 }
set_location LT_12_13 12 13
ble_pack transmit_module.video_signal_controller.i1570_4_lut_LC_12_14_1 { transmit_module.video_signal_controller.i1570_4_lut }
ble_pack receive_module.rx_counter.i1_2_lut_adj_21_LC_12_14_6 { receive_module.rx_counter.i1_2_lut_adj_21 }
ble_pack receive_module.rx_counter.i4_4_lut_adj_22_LC_12_14_7 { receive_module.rx_counter.i4_4_lut_adj_22 }
clb_pack LT_12_14 { transmit_module.video_signal_controller.i1570_4_lut_LC_12_14_1, receive_module.rx_counter.i1_2_lut_adj_21_LC_12_14_6, receive_module.rx_counter.i4_4_lut_adj_22_LC_12_14_7 }
set_location LT_12_14 12 14
ble_pack transmit_module.video_signal_controller.i3_3_lut_LC_12_15_0 { transmit_module.video_signal_controller.i3_3_lut }
ble_pack line_buffer.i1596_3_lut_LC_12_15_1 { line_buffer.i1596_3_lut }
ble_pack transmit_module.video_signal_controller.i2_3_lut_LC_12_15_2 { transmit_module.video_signal_controller.i2_3_lut }
ble_pack transmit_module.video_signal_controller.i1_2_lut_rep_22_LC_12_15_3 { transmit_module.video_signal_controller.i1_2_lut_rep_22 }
ble_pack transmit_module.video_signal_controller.VGA_HS_48_LC_12_15_4 { transmit_module.video_signal_controller.i1629_4_lut, transmit_module.video_signal_controller.VGA_HS_48 }
ble_pack transmit_module.video_signal_controller.i541_3_lut_LC_12_15_5 { transmit_module.video_signal_controller.i541_3_lut }
ble_pack transmit_module.video_signal_controller.i1_2_lut_rep_18_3_lut_LC_12_15_6 { transmit_module.video_signal_controller.i1_2_lut_rep_18_3_lut }
ble_pack transmit_module.video_signal_controller.i1127_4_lut_LC_12_15_7 { transmit_module.video_signal_controller.i1127_4_lut }
clb_pack LT_12_15 { transmit_module.video_signal_controller.i3_3_lut_LC_12_15_0, line_buffer.i1596_3_lut_LC_12_15_1, transmit_module.video_signal_controller.i2_3_lut_LC_12_15_2, transmit_module.video_signal_controller.i1_2_lut_rep_22_LC_12_15_3, transmit_module.video_signal_controller.VGA_HS_48_LC_12_15_4, transmit_module.video_signal_controller.i541_3_lut_LC_12_15_5, transmit_module.video_signal_controller.i1_2_lut_rep_18_3_lut_LC_12_15_6, transmit_module.video_signal_controller.i1127_4_lut_LC_12_15_7 }
set_location LT_12_15 12 15
ble_pack transmit_module.X_DELTA_PATTERN_i9_LC_12_17_3 { transmit_module.X_DELTA_PATTERN_i9_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i9 }
ble_pack transmit_module.X_DELTA_PATTERN_i8_LC_12_17_4 { transmit_module.X_DELTA_PATTERN_i8_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i8 }
ble_pack transmit_module.X_DELTA_PATTERN_i7_LC_12_17_5 { transmit_module.X_DELTA_PATTERN_i7_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i7 }
clb_pack LT_12_17 { transmit_module.X_DELTA_PATTERN_i9_LC_12_17_3, transmit_module.X_DELTA_PATTERN_i8_LC_12_17_4, transmit_module.X_DELTA_PATTERN_i7_LC_12_17_5 }
set_location LT_12_17 12 17
ble_pack line_buffer.TX_ADDR_11__bdd_4_lut_1661_LC_12_20_2 { line_buffer.TX_ADDR_11__bdd_4_lut_1661 }
clb_pack LT_12_20 { line_buffer.TX_ADDR_11__bdd_4_lut_1661_LC_12_20_2 }
set_location LT_12_20 12 20
ble_pack receive_module.i297_3_lut_3_lut_3_lut_LC_13_12_2 { receive_module.i297_3_lut_3_lut_3_lut }
ble_pack receive_module.rx_counter.old_HS_48_LC_13_12_4 { receive_module.rx_counter.old_HS_48_THRU_LUT4_0, receive_module.rx_counter.old_HS_48 }
clb_pack LT_13_12 { receive_module.i297_3_lut_3_lut_3_lut_LC_13_12_2, receive_module.rx_counter.old_HS_48_LC_13_12_4 }
set_location LT_13_12 13 12
ble_pack transmit_module.video_signal_controller.i1145_4_lut_LC_13_14_2 { transmit_module.video_signal_controller.i1145_4_lut }
ble_pack receive_module.rx_counter.i1_3_lut_LC_13_14_3 { receive_module.rx_counter.i1_3_lut }
ble_pack transmit_module.video_signal_controller.i1642_4_lut_LC_13_14_4 { transmit_module.video_signal_controller.i1642_4_lut }
clb_pack LT_13_14 { transmit_module.video_signal_controller.i1145_4_lut_LC_13_14_2, receive_module.rx_counter.i1_3_lut_LC_13_14_3, transmit_module.video_signal_controller.i1642_4_lut_LC_13_14_4 }
set_location LT_13_14 13 14
ble_pack transmit_module.video_signal_controller.VGA_X_288_289__i1_LC_13_15_0 { transmit_module.video_signal_controller.VGA_X_288_289_add_4_2_lut, transmit_module.video_signal_controller.VGA_X_288_289__i1, transmit_module.video_signal_controller.VGA_X_288_289_add_4_2 }
ble_pack transmit_module.video_signal_controller.VGA_X_288_289__i2_LC_13_15_1 { transmit_module.video_signal_controller.VGA_X_288_289_add_4_3_lut, transmit_module.video_signal_controller.VGA_X_288_289__i2, transmit_module.video_signal_controller.VGA_X_288_289_add_4_3 }
ble_pack transmit_module.video_signal_controller.VGA_X_288_289__i3_LC_13_15_2 { transmit_module.video_signal_controller.VGA_X_288_289_add_4_4_lut, transmit_module.video_signal_controller.VGA_X_288_289__i3, transmit_module.video_signal_controller.VGA_X_288_289_add_4_4 }
ble_pack transmit_module.video_signal_controller.VGA_X_288_289__i4_LC_13_15_3 { transmit_module.video_signal_controller.VGA_X_288_289_add_4_5_lut, transmit_module.video_signal_controller.VGA_X_288_289__i4, transmit_module.video_signal_controller.VGA_X_288_289_add_4_5 }
ble_pack transmit_module.video_signal_controller.VGA_X_288_289__i5_LC_13_15_4 { transmit_module.video_signal_controller.VGA_X_288_289_add_4_6_lut, transmit_module.video_signal_controller.VGA_X_288_289__i5, transmit_module.video_signal_controller.VGA_X_288_289_add_4_6 }
ble_pack transmit_module.video_signal_controller.VGA_X_288_289__i6_LC_13_15_5 { transmit_module.video_signal_controller.VGA_X_288_289_add_4_7_lut, transmit_module.video_signal_controller.VGA_X_288_289__i6, transmit_module.video_signal_controller.VGA_X_288_289_add_4_7 }
ble_pack transmit_module.video_signal_controller.VGA_X_288_289__i7_LC_13_15_6 { transmit_module.video_signal_controller.VGA_X_288_289_add_4_8_lut, transmit_module.video_signal_controller.VGA_X_288_289__i7, transmit_module.video_signal_controller.VGA_X_288_289_add_4_8 }
ble_pack transmit_module.video_signal_controller.VGA_X_288_289__i8_LC_13_15_7 { transmit_module.video_signal_controller.VGA_X_288_289_add_4_9_lut, transmit_module.video_signal_controller.VGA_X_288_289__i8, transmit_module.video_signal_controller.VGA_X_288_289_add_4_9 }
clb_pack LT_13_15 { transmit_module.video_signal_controller.VGA_X_288_289__i1_LC_13_15_0, transmit_module.video_signal_controller.VGA_X_288_289__i2_LC_13_15_1, transmit_module.video_signal_controller.VGA_X_288_289__i3_LC_13_15_2, transmit_module.video_signal_controller.VGA_X_288_289__i4_LC_13_15_3, transmit_module.video_signal_controller.VGA_X_288_289__i5_LC_13_15_4, transmit_module.video_signal_controller.VGA_X_288_289__i6_LC_13_15_5, transmit_module.video_signal_controller.VGA_X_288_289__i7_LC_13_15_6, transmit_module.video_signal_controller.VGA_X_288_289__i8_LC_13_15_7 }
set_location LT_13_15 13 15
ble_pack transmit_module.video_signal_controller.VGA_X_288_289__i9_LC_13_16_0 { transmit_module.video_signal_controller.VGA_X_288_289_add_4_10_lut, transmit_module.video_signal_controller.VGA_X_288_289__i9, transmit_module.video_signal_controller.VGA_X_288_289_add_4_10 }
ble_pack transmit_module.video_signal_controller.VGA_X_288_289__i10_LC_13_16_1 { transmit_module.video_signal_controller.VGA_X_288_289_add_4_11_lut, transmit_module.video_signal_controller.VGA_X_288_289__i10, transmit_module.video_signal_controller.VGA_X_288_289_add_4_11 }
ble_pack transmit_module.video_signal_controller.VGA_X_288_289__i11_LC_13_16_2 { transmit_module.video_signal_controller.VGA_X_288_289_add_4_12_lut, transmit_module.video_signal_controller.VGA_X_288_289__i11 }
clb_pack LT_13_16 { transmit_module.video_signal_controller.VGA_X_288_289__i9_LC_13_16_0, transmit_module.video_signal_controller.VGA_X_288_289__i10_LC_13_16_1, transmit_module.video_signal_controller.VGA_X_288_289__i11_LC_13_16_2 }
set_location LT_13_16 13 16
ble_pack transmit_module.X_DELTA_PATTERN_i12_LC_13_17_0 { transmit_module.X_DELTA_PATTERN_i12_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i12 }
ble_pack transmit_module.X_DELTA_PATTERN_i13_LC_13_17_1 { transmit_module.X_DELTA_PATTERN_i13_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i13 }
ble_pack transmit_module.X_DELTA_PATTERN_i15_LC_13_17_2 { transmit_module.X_DELTA_PATTERN_i15_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i15 }
ble_pack transmit_module.X_DELTA_PATTERN_i10_LC_13_17_3 { transmit_module.X_DELTA_PATTERN_i10_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i10 }
ble_pack transmit_module.X_DELTA_PATTERN_i11_LC_13_17_4 { transmit_module.X_DELTA_PATTERN_i11_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i11 }
ble_pack transmit_module.X_DELTA_PATTERN_i6_LC_13_17_5 { transmit_module.X_DELTA_PATTERN_i6_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i6 }
ble_pack transmit_module.X_DELTA_PATTERN_i14_LC_13_17_7 { transmit_module.X_DELTA_PATTERN_i14_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i14 }
clb_pack LT_13_17 { transmit_module.X_DELTA_PATTERN_i12_LC_13_17_0, transmit_module.X_DELTA_PATTERN_i13_LC_13_17_1, transmit_module.X_DELTA_PATTERN_i15_LC_13_17_2, transmit_module.X_DELTA_PATTERN_i10_LC_13_17_3, transmit_module.X_DELTA_PATTERN_i11_LC_13_17_4, transmit_module.X_DELTA_PATTERN_i6_LC_13_17_5, transmit_module.X_DELTA_PATTERN_i14_LC_13_17_7 }
set_location LT_13_17 13 17
ble_pack line_buffer.TX_ADDR_11__bdd_4_lut_1696_LC_13_18_0 { line_buffer.TX_ADDR_11__bdd_4_lut_1696 }
ble_pack line_buffer.n3143_bdd_4_lut_LC_13_18_1 { line_buffer.n3143_bdd_4_lut }
clb_pack LT_13_18 { line_buffer.TX_ADDR_11__bdd_4_lut_1696_LC_13_18_0, line_buffer.n3143_bdd_4_lut_LC_13_18_1 }
set_location LT_13_18 13 18
ble_pack line_buffer.n3101_bdd_4_lut_LC_13_20_2 { line_buffer.n3101_bdd_4_lut }
clb_pack LT_13_20 { line_buffer.n3101_bdd_4_lut_LC_13_20_2 }
set_location LT_13_20 13 20
ble_pack line_buffer.i1586_3_lut_LC_14_9_0 { line_buffer.i1586_3_lut }
clb_pack LT_14_9 { line_buffer.i1586_3_lut_LC_14_9_0 }
set_location LT_14_9 14 9
ble_pack line_buffer.TX_ADDR_11__bdd_4_lut_1656_LC_14_13_0 { line_buffer.TX_ADDR_11__bdd_4_lut_1656 }
clb_pack LT_14_13 { line_buffer.TX_ADDR_11__bdd_4_lut_1656_LC_14_13_0 }
set_location LT_14_13 14 13
ble_pack transmit_module.video_signal_controller.VGA_Y_286_287__i1_LC_14_14_0 { transmit_module.video_signal_controller.VGA_Y_286_287_add_4_2_lut, transmit_module.video_signal_controller.VGA_Y_286_287__i1, transmit_module.video_signal_controller.VGA_Y_286_287_add_4_2 }
ble_pack transmit_module.video_signal_controller.VGA_Y_286_287__i2_LC_14_14_1 { transmit_module.video_signal_controller.VGA_Y_286_287_add_4_3_lut, transmit_module.video_signal_controller.VGA_Y_286_287__i2, transmit_module.video_signal_controller.VGA_Y_286_287_add_4_3 }
ble_pack transmit_module.video_signal_controller.VGA_Y_286_287__i3_LC_14_14_2 { transmit_module.video_signal_controller.VGA_Y_286_287_add_4_4_lut, transmit_module.video_signal_controller.VGA_Y_286_287__i3, transmit_module.video_signal_controller.VGA_Y_286_287_add_4_4 }
ble_pack transmit_module.video_signal_controller.VGA_Y_286_287__i4_LC_14_14_3 { transmit_module.video_signal_controller.VGA_Y_286_287_add_4_5_lut, transmit_module.video_signal_controller.VGA_Y_286_287__i4, transmit_module.video_signal_controller.VGA_Y_286_287_add_4_5 }
ble_pack transmit_module.video_signal_controller.VGA_Y_286_287__i5_LC_14_14_4 { transmit_module.video_signal_controller.VGA_Y_286_287_add_4_6_lut, transmit_module.video_signal_controller.VGA_Y_286_287__i5, transmit_module.video_signal_controller.VGA_Y_286_287_add_4_6 }
ble_pack transmit_module.video_signal_controller.VGA_Y_286_287__i6_LC_14_14_5 { transmit_module.video_signal_controller.VGA_Y_286_287_add_4_7_lut, transmit_module.video_signal_controller.VGA_Y_286_287__i6, transmit_module.video_signal_controller.VGA_Y_286_287_add_4_7 }
ble_pack transmit_module.video_signal_controller.VGA_Y_286_287__i7_LC_14_14_6 { transmit_module.video_signal_controller.VGA_Y_286_287_add_4_8_lut, transmit_module.video_signal_controller.VGA_Y_286_287__i7 }
clb_pack LT_14_14 { transmit_module.video_signal_controller.VGA_Y_286_287__i1_LC_14_14_0, transmit_module.video_signal_controller.VGA_Y_286_287__i2_LC_14_14_1, transmit_module.video_signal_controller.VGA_Y_286_287__i3_LC_14_14_2, transmit_module.video_signal_controller.VGA_Y_286_287__i4_LC_14_14_3, transmit_module.video_signal_controller.VGA_Y_286_287__i5_LC_14_14_4, transmit_module.video_signal_controller.VGA_Y_286_287__i6_LC_14_14_5, transmit_module.video_signal_controller.VGA_Y_286_287__i7_LC_14_14_6 }
set_location LT_14_14 14 14
ble_pack transmit_module.video_signal_controller.i1578_3_lut_4_lut_LC_14_15_0 { transmit_module.video_signal_controller.i1578_3_lut_4_lut }
ble_pack transmit_module.video_signal_controller.VGA_VS_49_LC_14_15_1 { transmit_module.video_signal_controller.i4_4_lut, transmit_module.video_signal_controller.VGA_VS_49 }
ble_pack transmit_module.video_signal_controller.i511_2_lut_3_lut_4_lut_LC_14_15_2 { transmit_module.video_signal_controller.i511_2_lut_3_lut_4_lut }
ble_pack transmit_module.video_signal_controller.i508_2_lut_LC_14_15_6 { transmit_module.video_signal_controller.i508_2_lut }
ble_pack transmit_module.video_signal_controller.i1_2_lut_rep_19_LC_14_15_7 { transmit_module.video_signal_controller.i1_2_lut_rep_19 }
clb_pack LT_14_15 { transmit_module.video_signal_controller.i1578_3_lut_4_lut_LC_14_15_0, transmit_module.video_signal_controller.VGA_VS_49_LC_14_15_1, transmit_module.video_signal_controller.i511_2_lut_3_lut_4_lut_LC_14_15_2, transmit_module.video_signal_controller.i508_2_lut_LC_14_15_6, transmit_module.video_signal_controller.i1_2_lut_rep_19_LC_14_15_7 }
set_location LT_14_15 14 15
ble_pack transmit_module.X_DELTA_PATTERN_i0_LC_14_16_2 { transmit_module.X_DELTA_PATTERN_i0_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i0 }
ble_pack transmit_module.X_DELTA_PATTERN_i1_LC_14_16_3 { transmit_module.X_DELTA_PATTERN_i1_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i1 }
ble_pack transmit_module.X_DELTA_PATTERN_i2_LC_14_16_4 { transmit_module.X_DELTA_PATTERN_i2_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i2 }
ble_pack transmit_module.X_DELTA_PATTERN_i5_LC_14_16_5 { transmit_module.X_DELTA_PATTERN_i5_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i5 }
ble_pack transmit_module.X_DELTA_PATTERN_i4_LC_14_16_6 { transmit_module.X_DELTA_PATTERN_i4_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i4 }
ble_pack transmit_module.X_DELTA_PATTERN_i3_LC_14_16_7 { transmit_module.X_DELTA_PATTERN_i3_THRU_LUT4_0, transmit_module.X_DELTA_PATTERN_i3 }
clb_pack LT_14_16 { transmit_module.X_DELTA_PATTERN_i0_LC_14_16_2, transmit_module.X_DELTA_PATTERN_i1_LC_14_16_3, transmit_module.X_DELTA_PATTERN_i2_LC_14_16_4, transmit_module.X_DELTA_PATTERN_i5_LC_14_16_5, transmit_module.X_DELTA_PATTERN_i4_LC_14_16_6, transmit_module.X_DELTA_PATTERN_i3_LC_14_16_7 }
set_location LT_14_16 14 16
ble_pack transmit_module.i1_2_lut_LC_14_17_3 { transmit_module.i1_2_lut }
ble_pack line_buffer.i1587_3_lut_LC_14_17_4 { line_buffer.i1587_3_lut }
ble_pack line_buffer.TX_ADDR_12__bdd_4_lut_1676_LC_14_17_5 { line_buffer.TX_ADDR_12__bdd_4_lut_1676 }
ble_pack line_buffer.dout_i3_LC_14_17_6 { line_buffer.n3095_bdd_4_lut, line_buffer.dout_i3 }
clb_pack LT_14_17 { transmit_module.i1_2_lut_LC_14_17_3, line_buffer.i1587_3_lut_LC_14_17_4, line_buffer.TX_ADDR_12__bdd_4_lut_1676_LC_14_17_5, line_buffer.dout_i3_LC_14_17_6 }
set_location LT_14_17 14 17
ble_pack transmit_module.BRAM_ADDR__i7_LC_14_18_4 { transmit_module.i1056_4_lut_transmit_module.BRAM_ADDR__i7_REP_LUT4_0, transmit_module.BRAM_ADDR__i7 }
ble_pack transmit_module.BRAM_ADDR__i11_LC_14_18_5 { transmit_module.i1052_4_lut_transmit_module.BRAM_ADDR__i11_REP_LUT4_0, transmit_module.BRAM_ADDR__i11 }
clb_pack LT_14_18 { transmit_module.BRAM_ADDR__i7_LC_14_18_4, transmit_module.BRAM_ADDR__i11_LC_14_18_5 }
set_location LT_14_18 14 18
ble_pack line_buffer.n3089_bdd_4_lut_LC_14_19_3 { line_buffer.n3089_bdd_4_lut }
ble_pack line_buffer.dout_i2_LC_14_19_4 { line_buffer.i117117_i1_3_lut, line_buffer.dout_i2 }
clb_pack LT_14_19 { line_buffer.n3089_bdd_4_lut_LC_14_19_3, line_buffer.dout_i2_LC_14_19_4 }
set_location LT_14_19 14 19
ble_pack line_buffer.i1595_3_lut_LC_14_21_3 { line_buffer.i1595_3_lut }
clb_pack LT_14_21 { line_buffer.i1595_3_lut_LC_14_21_3 }
set_location LT_14_21 14 21
ble_pack receive_module.rx_counter.i4_4_lut_LC_15_10_1 { receive_module.rx_counter.i4_4_lut }
ble_pack receive_module.rx_counter.i873_2_lut_4_lut_LC_15_10_2 { receive_module.rx_counter.i873_2_lut_4_lut }
clb_pack LT_15_10 { receive_module.rx_counter.i4_4_lut_LC_15_10_1, receive_module.rx_counter.i873_2_lut_4_lut_LC_15_10_2 }
set_location LT_15_10 15 10
ble_pack receive_module.rx_counter.FRAME_COUNTER_285__i0_LC_15_11_0 { receive_module.rx_counter.FRAME_COUNTER_285_add_4_2_lut, receive_module.rx_counter.FRAME_COUNTER_285__i0, receive_module.rx_counter.FRAME_COUNTER_285_add_4_2 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_285__i1_LC_15_11_1 { receive_module.rx_counter.FRAME_COUNTER_285_add_4_3_lut, receive_module.rx_counter.FRAME_COUNTER_285__i1, receive_module.rx_counter.FRAME_COUNTER_285_add_4_3 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_285__i2_LC_15_11_2 { receive_module.rx_counter.FRAME_COUNTER_285_add_4_4_lut, receive_module.rx_counter.FRAME_COUNTER_285__i2, receive_module.rx_counter.FRAME_COUNTER_285_add_4_4 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_285__i3_LC_15_11_3 { receive_module.rx_counter.FRAME_COUNTER_285_add_4_5_lut, receive_module.rx_counter.FRAME_COUNTER_285__i3, receive_module.rx_counter.FRAME_COUNTER_285_add_4_5 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_285__i4_LC_15_11_4 { receive_module.rx_counter.FRAME_COUNTER_285_add_4_6_lut, receive_module.rx_counter.FRAME_COUNTER_285__i4, receive_module.rx_counter.FRAME_COUNTER_285_add_4_6 }
ble_pack receive_module.rx_counter.FRAME_COUNTER_285__i5_LC_15_11_5 { receive_module.rx_counter.FRAME_COUNTER_285_add_4_7_lut, receive_module.rx_counter.FRAME_COUNTER_285__i5 }
clb_pack LT_15_11 { receive_module.rx_counter.FRAME_COUNTER_285__i0_LC_15_11_0, receive_module.rx_counter.FRAME_COUNTER_285__i1_LC_15_11_1, receive_module.rx_counter.FRAME_COUNTER_285__i2_LC_15_11_2, receive_module.rx_counter.FRAME_COUNTER_285__i3_LC_15_11_3, receive_module.rx_counter.FRAME_COUNTER_285__i4_LC_15_11_4, receive_module.rx_counter.FRAME_COUNTER_285__i5_LC_15_11_5 }
set_location LT_15_11 15 11
ble_pack receive_module.i24_1_lut_rep_21_LC_15_13_3 { receive_module.i24_1_lut_rep_21 }
clb_pack LT_15_13 { receive_module.i24_1_lut_rep_21_LC_15_13_3 }
set_location LT_15_13 15 13
ble_pack ADV_R__i1_LC_15_14_1 { ADV_R__i1_THRU_LUT4_0, ADV_R__i1 }
clb_pack LT_15_14 { ADV_R__i1_LC_15_14_1 }
set_location LT_15_14 15 14
ble_pack ADV_R__i3_LC_15_15_7 { ADV_R__i3_THRU_LUT4_0, ADV_R__i3 }
clb_pack LT_15_15 { ADV_R__i3_LC_15_15_7 }
set_location LT_15_15 15 15
ble_pack transmit_module.BRAM_ADDR__i5_LC_15_16_1 { transmit_module.i1058_4_lut_transmit_module.BRAM_ADDR__i5_REP_LUT4_0, transmit_module.BRAM_ADDR__i5 }
ble_pack transmit_module.video_signal_controller.i1_4_lut_LC_15_16_3 { transmit_module.video_signal_controller.i1_4_lut }
ble_pack transmit_module.video_signal_controller.i1636_4_lut_4_lut_LC_15_16_4 { transmit_module.video_signal_controller.i1636_4_lut_4_lut }
ble_pack transmit_module.BRAM_ADDR__i3_LC_15_16_5 { transmit_module.i1060_4_lut_transmit_module.BRAM_ADDR__i3_REP_LUT4_0, transmit_module.BRAM_ADDR__i3 }
ble_pack transmit_module.BRAM_ADDR__i6_LC_15_16_7 { transmit_module.i1057_4_lut_transmit_module.BRAM_ADDR__i6_REP_LUT4_0, transmit_module.BRAM_ADDR__i6 }
clb_pack LT_15_16 { transmit_module.BRAM_ADDR__i5_LC_15_16_1, transmit_module.video_signal_controller.i1_4_lut_LC_15_16_3, transmit_module.video_signal_controller.i1636_4_lut_4_lut_LC_15_16_4, transmit_module.BRAM_ADDR__i3_LC_15_16_5, transmit_module.BRAM_ADDR__i6_LC_15_16_7 }
set_location LT_15_16 15 16
ble_pack transmit_module.add_15_2_lut_LC_15_17_0 { transmit_module.add_15_2_lut, transmit_module.add_15_2 }
ble_pack transmit_module.add_15_3_lut_LC_15_17_1 { transmit_module.add_15_3_lut, transmit_module.add_15_3 }
ble_pack transmit_module.add_15_4_lut_LC_15_17_2 { transmit_module.add_15_4_lut, transmit_module.add_15_4 }
ble_pack transmit_module.add_15_5_lut_LC_15_17_3 { transmit_module.add_15_5_lut, transmit_module.add_15_5 }
ble_pack transmit_module.add_15_6_lut_LC_15_17_4 { transmit_module.add_15_6_lut, transmit_module.add_15_6 }
ble_pack transmit_module.add_15_7_lut_LC_15_17_5 { transmit_module.add_15_7_lut, transmit_module.add_15_7 }
ble_pack transmit_module.add_15_8_lut_LC_15_17_6 { transmit_module.add_15_8_lut, transmit_module.add_15_8 }
ble_pack transmit_module.add_15_9_lut_LC_15_17_7 { transmit_module.add_15_9_lut, transmit_module.add_15_9 }
clb_pack LT_15_17 { transmit_module.add_15_2_lut_LC_15_17_0, transmit_module.add_15_3_lut_LC_15_17_1, transmit_module.add_15_4_lut_LC_15_17_2, transmit_module.add_15_5_lut_LC_15_17_3, transmit_module.add_15_6_lut_LC_15_17_4, transmit_module.add_15_7_lut_LC_15_17_5, transmit_module.add_15_8_lut_LC_15_17_6, transmit_module.add_15_9_lut_LC_15_17_7 }
set_location LT_15_17 15 17
ble_pack transmit_module.add_15_10_lut_LC_15_18_0 { transmit_module.add_15_10_lut, transmit_module.add_15_10 }
ble_pack transmit_module.add_15_11_lut_LC_15_18_1 { transmit_module.add_15_11_lut, transmit_module.add_15_11 }
ble_pack transmit_module.add_15_12_lut_LC_15_18_2 { transmit_module.add_15_12_lut, transmit_module.add_15_12 }
ble_pack transmit_module.BRAM_ADDR__rep_1_i0_LC_15_18_3 { transmit_module.add_15_13_lut, transmit_module.BRAM_ADDR__rep_1_i0, transmit_module.add_15_13 }
ble_pack transmit_module.BRAM_ADDR__rep_1_i1_LC_15_18_4 { transmit_module.add_15_14_lut, transmit_module.BRAM_ADDR__rep_1_i1, transmit_module.add_15_14 }
ble_pack transmit_module.BRAM_ADDR__rep_1_i2_LC_15_18_5 { transmit_module.add_15_15_lut, transmit_module.BRAM_ADDR__rep_1_i2 }
clb_pack LT_15_18 { transmit_module.add_15_10_lut_LC_15_18_0, transmit_module.add_15_11_lut_LC_15_18_1, transmit_module.add_15_12_lut_LC_15_18_2, transmit_module.BRAM_ADDR__rep_1_i0_LC_15_18_3, transmit_module.BRAM_ADDR__rep_1_i1_LC_15_18_4, transmit_module.BRAM_ADDR__rep_1_i2_LC_15_18_5 }
set_location LT_15_18 15 18
ble_pack transmit_module.i1056_4_lut_LC_15_19_0 { transmit_module.i1056_4_lut }
ble_pack transmit_module.i1057_4_lut_LC_15_19_2 { transmit_module.i1057_4_lut }
ble_pack transmit_module.i1058_4_lut_LC_15_19_4 { transmit_module.i1058_4_lut }
ble_pack transmit_module.BRAM_ADDR__i9_LC_15_19_5 { transmit_module.i1054_4_lut_transmit_module.BRAM_ADDR__i9_REP_LUT4_0, transmit_module.BRAM_ADDR__i9 }
clb_pack LT_15_19 { transmit_module.i1056_4_lut_LC_15_19_0, transmit_module.i1057_4_lut_LC_15_19_2, transmit_module.i1058_4_lut_LC_15_19_4, transmit_module.BRAM_ADDR__i9_LC_15_19_5 }
set_location LT_15_19 15 19
ble_pack transmit_module.i1060_4_lut_LC_15_23_2 { transmit_module.i1060_4_lut }
clb_pack LT_15_23 { transmit_module.i1060_4_lut_LC_15_23_2 }
set_location LT_15_23 15 23
ble_pack receive_module.rx_counter.PULSE_1HZ_46_LC_16_10_0 { receive_module.rx_counter.i1_2_lut_4_lut, receive_module.rx_counter.PULSE_1HZ_46 }
clb_pack LT_16_10 { receive_module.rx_counter.PULSE_1HZ_46_LC_16_10_0 }
set_location LT_16_10 16 10
ble_pack receive_module.rx_counter.old_VS_49_LC_16_11_1 { receive_module.rx_counter.old_VS_49_THRU_LUT4_0, receive_module.rx_counter.old_VS_49 }
ble_pack receive_module.i141_2_lut_2_lut_LC_16_11_6 { receive_module.i141_2_lut_2_lut }
clb_pack LT_16_11 { receive_module.rx_counter.old_VS_49_LC_16_11_1, receive_module.i141_2_lut_2_lut_LC_16_11_6 }
set_location LT_16_11 16 11
ble_pack ADV_R__i6_LC_16_15_2 { ADV_R__i6_THRU_LUT4_0, ADV_R__i6 }
clb_pack LT_16_15 { ADV_R__i6_LC_16_15_2 }
set_location LT_16_15 16 15
ble_pack transmit_module.BRAM_ADDR__i4_LC_16_16_6 { transmit_module.i1059_4_lut_transmit_module.BRAM_ADDR__i4_REP_LUT4_0, transmit_module.BRAM_ADDR__i4 }
clb_pack LT_16_16 { transmit_module.BRAM_ADDR__i4_LC_16_16_6 }
set_location LT_16_16 16 16
ble_pack ADV_R__i2_LC_16_17_0 { ADV_R__i2_THRU_LUT4_0, ADV_R__i2 }
ble_pack ADV_R__i4_LC_16_17_3 { ADV_R__i4_THRU_LUT4_0, ADV_R__i4 }
ble_pack ADV_R__i5_LC_16_17_4 { ADV_R__i5_THRU_LUT4_0, ADV_R__i5 }
ble_pack ADV_R__i7_LC_16_17_6 { ADV_R__i7_THRU_LUT4_0, ADV_R__i7 }
ble_pack ADV_R__i8_LC_16_17_7 { ADV_R__i8_THRU_LUT4_0, ADV_R__i8 }
clb_pack LT_16_17 { ADV_R__i2_LC_16_17_0, ADV_R__i4_LC_16_17_3, ADV_R__i5_LC_16_17_4, ADV_R__i7_LC_16_17_6, ADV_R__i8_LC_16_17_7 }
set_location LT_16_17 16 17
ble_pack transmit_module.BRAM_ADDR__i2_LC_16_18_1 { transmit_module.i1061_4_lut_transmit_module.BRAM_ADDR__i2_REP_LUT4_0, transmit_module.BRAM_ADDR__i2 }
ble_pack transmit_module.BRAM_ADDR__i1_LC_16_18_4 { transmit_module.i1096_4_lut_transmit_module.BRAM_ADDR__i1_REP_LUT4_0, transmit_module.BRAM_ADDR__i1 }
ble_pack transmit_module.BRAM_ADDR__i8_LC_16_18_6 { transmit_module.i1055_4_lut_transmit_module.BRAM_ADDR__i8_REP_LUT4_0, transmit_module.BRAM_ADDR__i8 }
clb_pack LT_16_18 { transmit_module.BRAM_ADDR__i2_LC_16_18_1, transmit_module.BRAM_ADDR__i1_LC_16_18_4, transmit_module.BRAM_ADDR__i8_LC_16_18_6 }
set_location LT_16_18 16 18
ble_pack transmit_module.i1053_4_lut_LC_16_19_0 { transmit_module.i1053_4_lut }
ble_pack transmit_module.BRAM_ADDR__i10_LC_16_19_1 { transmit_module.i1053_4_lut_transmit_module.BRAM_ADDR__i10_REP_LUT4_0, transmit_module.BRAM_ADDR__i10 }
ble_pack transmit_module.i1054_4_lut_LC_16_19_4 { transmit_module.i1054_4_lut }
ble_pack transmit_module.i1052_4_lut_LC_16_19_7 { transmit_module.i1052_4_lut }
clb_pack LT_16_19 { transmit_module.i1053_4_lut_LC_16_19_0, transmit_module.BRAM_ADDR__i10_LC_16_19_1, transmit_module.i1054_4_lut_LC_16_19_4, transmit_module.i1052_4_lut_LC_16_19_7 }
set_location LT_16_19 16 19
ble_pack line_buffer.dout_i6_LC_16_20_6 { line_buffer.i119529_i1_3_lut, line_buffer.dout_i6 }
clb_pack LT_16_20 { line_buffer.dout_i6_LC_16_20_6 }
set_location LT_16_20 16 20
ble_pack GB_BUFFER_TVP_CLK_c_THRU_LUT4_0_LC_16_32_0 { GB_BUFFER_TVP_CLK_c_THRU_LUT4_0 }
clb_pack LT_16_32 { GB_BUFFER_TVP_CLK_c_THRU_LUT4_0_LC_16_32_0 }
set_location LT_16_32 16 32
ble_pack receive_module.i1632_2_lut_rep_17_LC_17_14_5 { receive_module.i1632_2_lut_rep_17 }
clb_pack LT_17_14 { receive_module.i1632_2_lut_rep_17_LC_17_14_5 }
set_location LT_17_14 17 14
ble_pack receive_module.BRAM_ADDR__i9_LC_17_15_2 { receive_module.i966_3_lut_4_lut, receive_module.BRAM_ADDR__i9 }
ble_pack receive_module.BRAM_ADDR__i8_LC_17_15_3 { receive_module.i968_3_lut_4_lut, receive_module.BRAM_ADDR__i8 }
ble_pack receive_module.BRAM_ADDR__i7_LC_17_15_4 { receive_module.i970_3_lut_4_lut, receive_module.BRAM_ADDR__i7 }
ble_pack receive_module.BRAM_ADDR__i5_LC_17_15_6 { receive_module.i974_3_lut_4_lut, receive_module.BRAM_ADDR__i5 }
ble_pack receive_module.BRAM_ADDR__i0_LC_17_15_7 { receive_module.i976_3_lut_4_lut, receive_module.BRAM_ADDR__i0 }
clb_pack LT_17_15 { receive_module.BRAM_ADDR__i9_LC_17_15_2, receive_module.BRAM_ADDR__i8_LC_17_15_3, receive_module.BRAM_ADDR__i7_LC_17_15_4, receive_module.BRAM_ADDR__i5_LC_17_15_6, receive_module.BRAM_ADDR__i0_LC_17_15_7 }
set_location LT_17_15 17 15
ble_pack line_buffer.n3137_bdd_4_lut_LC_17_16_6 { line_buffer.n3137_bdd_4_lut }
ble_pack line_buffer.dout_i1_LC_17_16_7 { line_buffer.i116514_i1_3_lut, line_buffer.dout_i1 }
clb_pack LT_17_16 { line_buffer.n3137_bdd_4_lut_LC_17_16_6, line_buffer.dout_i1_LC_17_16_7 }
set_location LT_17_16 17 16
ble_pack line_buffer.TX_ADDR_11__bdd_4_lut_1666_LC_17_17_3 { line_buffer.TX_ADDR_11__bdd_4_lut_1666 }
ble_pack line_buffer.n3107_bdd_4_lut_LC_17_17_4 { line_buffer.n3107_bdd_4_lut }
ble_pack line_buffer.TX_ADDR_11__bdd_4_lut_1691_LC_17_17_6 { line_buffer.TX_ADDR_11__bdd_4_lut_1691 }
clb_pack LT_17_17 { line_buffer.TX_ADDR_11__bdd_4_lut_1666_LC_17_17_3, line_buffer.n3107_bdd_4_lut_LC_17_17_4, line_buffer.TX_ADDR_11__bdd_4_lut_1691_LC_17_17_6 }
set_location LT_17_17 17 17
ble_pack line_buffer.i1_2_lut_3_lut_4_lut_adj_14_LC_17_19_0 { line_buffer.i1_2_lut_3_lut_4_lut_adj_14 }
ble_pack transmit_module.i1061_4_lut_LC_17_19_1 { transmit_module.i1061_4_lut }
ble_pack transmit_module.i1055_4_lut_LC_17_19_3 { transmit_module.i1055_4_lut }
ble_pack transmit_module.i1059_4_lut_LC_17_19_7 { transmit_module.i1059_4_lut }
clb_pack LT_17_19 { line_buffer.i1_2_lut_3_lut_4_lut_adj_14_LC_17_19_0, transmit_module.i1061_4_lut_LC_17_19_1, transmit_module.i1055_4_lut_LC_17_19_3, transmit_module.i1059_4_lut_LC_17_19_7 }
set_location LT_17_19 17 19
ble_pack line_buffer.TX_ADDR_12__bdd_4_lut_1681_LC_17_20_3 { line_buffer.TX_ADDR_12__bdd_4_lut_1681 }
ble_pack line_buffer.dout_i7_LC_17_20_4 { line_buffer.n3125_bdd_4_lut, line_buffer.dout_i7 }
ble_pack line_buffer.i1599_3_lut_LC_17_20_7 { line_buffer.i1599_3_lut }
clb_pack LT_17_20 { line_buffer.TX_ADDR_12__bdd_4_lut_1681_LC_17_20_3, line_buffer.dout_i7_LC_17_20_4, line_buffer.i1599_3_lut_LC_17_20_7 }
set_location LT_17_20 17 20
ble_pack line_buffer.TX_ADDR_11__bdd_4_lut_LC_17_21_1 { line_buffer.TX_ADDR_11__bdd_4_lut }
ble_pack line_buffer.n3161_bdd_4_lut_LC_17_21_2 { line_buffer.n3161_bdd_4_lut }
clb_pack LT_17_21 { line_buffer.TX_ADDR_11__bdd_4_lut_LC_17_21_1, line_buffer.n3161_bdd_4_lut_LC_17_21_2 }
set_location LT_17_21 17 21
ble_pack line_buffer.i1598_3_lut_LC_17_23_1 { line_buffer.i1598_3_lut }
clb_pack LT_17_23 { line_buffer.i1598_3_lut_LC_17_23_1 }
set_location LT_17_23 17 23
ble_pack CONSTANT_ONE_LUT4_LC_18_2_7 { CONSTANT_ONE_LUT4 }
clb_pack LT_18_2 { CONSTANT_ONE_LUT4_LC_18_2_7 }
set_location LT_18_2 18 2
ble_pack line_buffer.n3113_bdd_4_lut_LC_18_13_0 { line_buffer.n3113_bdd_4_lut }
ble_pack line_buffer.TX_ADDR_11__bdd_4_lut_1671_LC_18_13_4 { line_buffer.TX_ADDR_11__bdd_4_lut_1671 }
ble_pack line_buffer.n3119_bdd_4_lut_LC_18_13_5 { line_buffer.n3119_bdd_4_lut }
ble_pack line_buffer.dout_i0_LC_18_13_6 { line_buffer.i115911_i1_3_lut, line_buffer.dout_i0 }
clb_pack LT_18_13 { line_buffer.n3113_bdd_4_lut_LC_18_13_0, line_buffer.TX_ADDR_11__bdd_4_lut_1671_LC_18_13_4, line_buffer.n3119_bdd_4_lut_LC_18_13_5, line_buffer.dout_i0_LC_18_13_6 }
set_location LT_18_13 18 13
ble_pack receive_module.add_12_2_lut_LC_18_14_0 { receive_module.add_12_2_lut, receive_module.add_12_2 }
ble_pack receive_module.add_12_3_lut_LC_18_14_1 { receive_module.add_12_3_lut, receive_module.add_12_3 }
ble_pack receive_module.add_12_4_lut_LC_18_14_2 { receive_module.add_12_4_lut, receive_module.add_12_4 }
ble_pack receive_module.add_12_5_lut_LC_18_14_3 { receive_module.add_12_5_lut, receive_module.add_12_5 }
ble_pack receive_module.add_12_6_lut_LC_18_14_4 { receive_module.add_12_6_lut, receive_module.add_12_6 }
ble_pack receive_module.add_12_7_lut_LC_18_14_5 { receive_module.add_12_7_lut, receive_module.add_12_7 }
ble_pack receive_module.add_12_8_lut_LC_18_14_6 { receive_module.add_12_8_lut, receive_module.add_12_8 }
ble_pack receive_module.add_12_9_lut_LC_18_14_7 { receive_module.add_12_9_lut, receive_module.add_12_9 }
clb_pack LT_18_14 { receive_module.add_12_2_lut_LC_18_14_0, receive_module.add_12_3_lut_LC_18_14_1, receive_module.add_12_4_lut_LC_18_14_2, receive_module.add_12_5_lut_LC_18_14_3, receive_module.add_12_6_lut_LC_18_14_4, receive_module.add_12_7_lut_LC_18_14_5, receive_module.add_12_8_lut_LC_18_14_6, receive_module.add_12_9_lut_LC_18_14_7 }
set_location LT_18_14 18 14
ble_pack receive_module.add_12_10_lut_LC_18_15_0 { receive_module.add_12_10_lut, receive_module.add_12_10 }
ble_pack receive_module.add_12_11_lut_LC_18_15_1 { receive_module.add_12_11_lut, receive_module.add_12_11 }
ble_pack receive_module.add_12_12_lut_LC_18_15_2 { receive_module.add_12_12_lut, receive_module.add_12_12 }
ble_pack receive_module.BRAM_ADDR__i11_LC_18_15_3 { receive_module.add_12_13_lut, receive_module.BRAM_ADDR__i11, receive_module.add_12_13 }
ble_pack receive_module.BRAM_ADDR__i12_LC_18_15_4 { receive_module.add_12_14_lut, receive_module.BRAM_ADDR__i12, receive_module.add_12_14 }
ble_pack receive_module.BRAM_ADDR__i13_LC_18_15_5 { receive_module.add_12_15_lut, receive_module.BRAM_ADDR__i13 }
clb_pack LT_18_15 { receive_module.add_12_10_lut_LC_18_15_0, receive_module.add_12_11_lut_LC_18_15_1, receive_module.add_12_12_lut_LC_18_15_2, receive_module.BRAM_ADDR__i11_LC_18_15_3, receive_module.BRAM_ADDR__i12_LC_18_15_4, receive_module.BRAM_ADDR__i13_LC_18_15_5 }
set_location LT_18_15 18 15
ble_pack transmit_module.i1096_4_lut_LC_18_19_5 { transmit_module.i1096_4_lut }
ble_pack line_buffer.TX_ADDR_11__bdd_4_lut_1686_LC_18_19_6 { line_buffer.TX_ADDR_11__bdd_4_lut_1686 }
clb_pack LT_18_19 { transmit_module.i1096_4_lut_LC_18_19_5, line_buffer.TX_ADDR_11__bdd_4_lut_1686_LC_18_19_6 }
set_location LT_18_19 18 19
ble_pack line_buffer.i1583_3_lut_LC_18_21_3 { line_buffer.i1583_3_lut }
clb_pack LT_18_21 { line_buffer.i1583_3_lut_LC_18_21_3 }
set_location LT_18_21 18 21
ble_pack line_buffer.TX_ADDR_11__bdd_4_lut_1701_LC_19_13_3 { line_buffer.TX_ADDR_11__bdd_4_lut_1701 }
clb_pack LT_19_13 { line_buffer.TX_ADDR_11__bdd_4_lut_1701_LC_19_13_3 }
set_location LT_19_13 19 13
ble_pack receive_module.BRAM_ADDR__i3_LC_19_15_1 { receive_module.i980_3_lut_4_lut, receive_module.BRAM_ADDR__i3 }
ble_pack receive_module.BRAM_ADDR__i2_LC_19_15_2 { receive_module.i982_3_lut_4_lut, receive_module.BRAM_ADDR__i2 }
ble_pack receive_module.BRAM_ADDR__i1_LC_19_15_3 { receive_module.i984_3_lut_4_lut, receive_module.BRAM_ADDR__i1 }
clb_pack LT_19_15 { receive_module.BRAM_ADDR__i3_LC_19_15_1, receive_module.BRAM_ADDR__i2_LC_19_15_2, receive_module.BRAM_ADDR__i1_LC_19_15_3 }
set_location LT_19_15 19 15
ble_pack line_buffer.n3149_bdd_4_lut_LC_19_17_3 { line_buffer.n3149_bdd_4_lut }
ble_pack line_buffer.dout_i5_LC_19_17_4 { line_buffer.i118926_i1_3_lut, line_buffer.dout_i5 }
clb_pack LT_19_17 { line_buffer.n3149_bdd_4_lut_LC_19_17_3, line_buffer.dout_i5_LC_19_17_4 }
set_location LT_19_17 19 17
ble_pack line_buffer.i1580_3_lut_LC_20_9_3 { line_buffer.i1580_3_lut }
clb_pack LT_20_9 { line_buffer.i1580_3_lut_LC_20_9_3 }
set_location LT_20_9 20 9
ble_pack line_buffer.TX_ADDR_12__bdd_4_lut_LC_20_13_1 { line_buffer.TX_ADDR_12__bdd_4_lut }
ble_pack line_buffer.dout_i4_LC_20_13_2 { line_buffer.n3131_bdd_4_lut, line_buffer.dout_i4 }
ble_pack line_buffer.i1602_3_lut_LC_20_13_7 { line_buffer.i1602_3_lut }
clb_pack LT_20_13 { line_buffer.TX_ADDR_12__bdd_4_lut_LC_20_13_1, line_buffer.dout_i4_LC_20_13_2, line_buffer.i1602_3_lut_LC_20_13_7 }
set_location LT_20_13 20 13
ble_pack receive_module.BRAM_ADDR__i4_LC_20_14_5 { receive_module.i978_3_lut_4_lut, receive_module.BRAM_ADDR__i4 }
ble_pack receive_module.BRAM_ADDR__i6_LC_20_14_6 { receive_module.i972_3_lut_4_lut, receive_module.BRAM_ADDR__i6 }
clb_pack LT_20_14 { receive_module.BRAM_ADDR__i4_LC_20_14_5, receive_module.BRAM_ADDR__i6_LC_20_14_6 }
set_location LT_20_14 20 14
ble_pack receive_module.BRAM_ADDR__i10_LC_20_15_5 { receive_module.i964_3_lut_4_lut, receive_module.BRAM_ADDR__i10 }
clb_pack LT_20_15 { receive_module.BRAM_ADDR__i10_LC_20_15_5 }
set_location LT_20_15 20 15
ble_pack line_buffer.TX_ADDR_11__bdd_4_lut_1706_LC_20_17_0 { line_buffer.TX_ADDR_11__bdd_4_lut_1706 }
ble_pack line_buffer.n3155_bdd_4_lut_LC_20_17_1 { line_buffer.n3155_bdd_4_lut }
clb_pack LT_20_17 { line_buffer.TX_ADDR_11__bdd_4_lut_1706_LC_20_17_0, line_buffer.n3155_bdd_4_lut_LC_20_17_1 }
set_location LT_20_17 20 17
ble_pack line_buffer.i1601_3_lut_LC_20_19_0 { line_buffer.i1601_3_lut }
clb_pack LT_20_19 { line_buffer.i1601_3_lut_LC_20_19_0 }
set_location LT_20_19 20 19
ble_pack line_buffer.i1581_3_lut_LC_21_13_0 { line_buffer.i1581_3_lut }
ble_pack line_buffer.i1_2_lut_3_lut_4_lut_adj_15_LC_21_13_5 { line_buffer.i1_2_lut_3_lut_4_lut_adj_15 }
clb_pack LT_21_13 { line_buffer.i1581_3_lut_LC_21_13_0, line_buffer.i1_2_lut_3_lut_4_lut_adj_15_LC_21_13_5 }
set_location LT_21_13 21 13
ble_pack line_buffer.i1_2_lut_3_lut_4_lut_adj_12_LC_22_13_2 { line_buffer.i1_2_lut_3_lut_4_lut_adj_12 }
clb_pack LT_22_13 { line_buffer.i1_2_lut_3_lut_4_lut_adj_12_LC_22_13_2 }
set_location LT_22_13 22 13
ble_pack line_buffer.i1_2_lut_3_lut_4_lut_adj_16_LC_22_17_5 { line_buffer.i1_2_lut_3_lut_4_lut_adj_16 }
clb_pack LT_22_17 { line_buffer.i1_2_lut_3_lut_4_lut_adj_16_LC_22_17_5 }
set_location LT_22_17 22 17
set_location line_buffer.mem10 25 5
set_location line_buffer.mem6 8 25
set_location line_buffer.mem29 8 13
set_location line_buffer.mem9 8 31
set_location line_buffer.mem31 8 19
set_location line_buffer.mem17 25 19
set_location line_buffer.mem3 8 15
set_location line_buffer.mem26 8 7
set_location line_buffer.mem0 25 1
set_location line_buffer.mem23 8 1
set_location line_buffer.mem19 25 23
set_location line_buffer.mem13 25 11
set_location line_buffer.mem20 25 27
set_location line_buffer.mem7 8 27
set_location line_buffer.mem25 8 5
set_location line_buffer.mem30 8 17
set_location line_buffer.mem16 25 17
set_location line_buffer.mem4 8 21
set_location line_buffer.mem22 25 31
set_location line_buffer.mem27 8 9
set_location line_buffer.mem15 25 15
set_location line_buffer.mem1 25 3
set_location line_buffer.mem24 8 3
set_location line_buffer.mem18 25 21
set_location line_buffer.mem12 25 9
set_location line_buffer.mem21 25 29
set_location line_buffer.mem11 25 7
set_location line_buffer.mem5 8 23
set_location line_buffer.mem28 8 11
set_location line_buffer.mem8 8 29
set_location line_buffer.mem14 25 13
set_location line_buffer.mem2 25 25
set_io DEBUG[3] H1
set_io ADV_R[2] D1
set_io ADV_G[0] A1
set_io ADV_B[1] A7
set_io TVP_CLK K6
set_io ADV_G[7] A5
set_io TVP_VIDEO[9] L7
set_io DEBUG[1] J1
set_io ADV_R[0] C4
set_io ADV_B[7] A11
set_io TVP_VIDEO[2] L2
set_io ADV_G[5] A4
set_io DEBUG[7] E2
set_io ADV_R[6] B1
set_io ADV_B[5] B9
set_io TVP_VIDEO[4] L3
set_io DEBUG[6] F2
set_io ADV_R[7] B2
set_io ADV_G[3] A3
set_io ADV_CLK C9
set_io ADV_B[2] A8
set_io TVP_VIDEO[5] K4
set_io DEBUG[5] F1
set_io ADV_R[4] C1
set_io ADV_G[2] B3
set_io ADV_B[3] B8
set_io TVP_VIDEO[6] L4
set_io TVP_HSYNC J7
set_io DEBUG[4] G2
set_io ADV_R[5] C2
set_io ADV_G[1] A2
set_io ADV_B[0] A6
set_io TVP_VIDEO[7] K5
set_io ADV_HSYNC D3
set_io TVP_VSYNC J5
set_io TVP_VIDEO[8] L5
set_io DEBUG[2] H2
set_io ADV_R[3] D2
set_io ADV_B[6] A10
set_io ADV_VSYNC E1
set_io ADV_G[6] B5
set_io ADV_BLANK_N C7
set_io LED J8
set_io DEBUG[0] K1
set_io ADV_R[1] C3
set_io ADV_B[4] A9
set_io TVP_VIDEO[3] K3
set_io ADV_SYNC_N C8
set_io ADV_G[4] B4
