set_location IN_MUX_bfv_10_23_0_ 10 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_24_0_ 10 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_20_0_ 9 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_21_0_ 9 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_16_0_ 9 16 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 18 9 3 #SB_LUT4
set_location GB_BUFFER_TVP_CLK_c_THRU_LUT4_0 16 1 6 #SB_LUT4
set_location receive_module.rx_counter.old_VS_49_THRU_LUT4_0 10 16 7 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_9 9 20 7 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_5_lut 9 20 3 #SB_LUT4
set_location transmit_module.video_signal_controller.i485_2_lut 7 23 4 #SB_LUT4
set_location transmit_module.video_signal_controller.i474_2_lut 9 25 5 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_12_lut 10 24 2 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73__i4 9 20 3 #SB_DFFSR
set_location receive_module.rx_counter.PULSE_1HZ_46 10 15 0 #SB_DFFE
set_location receive_module.rx_counter.FRAME_COUNTER_74__i3 9 16 3 #SB_DFFESR
set_location transmit_module.video_signal_controller.i464_2_lut 11 30 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut_adj_8 9 23 5 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_4_lut 9 16 2 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_6_lut 10 23 4 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_4 9 20 2 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73__i10 9 21 1 #SB_DFFSR
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_7_lut 10 23 5 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_5 10 23 3 #SB_CARRY
set_location transmit_module.video_signal_controller.i105_2_lut_3_lut_4_lut 9 22 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i1 10 23 1 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_10 9 21 0 #SB_CARRY
set_location transmit_module.video_signal_controller.i529_4_lut 10 21 7 #SB_LUT4
set_location transmit_module.video_signal_controller.i1134_4_lut 9 23 1 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_2 9 16 0 #SB_CARRY
set_location transmit_module.video_signal_controller.i6_4_lut_adj_12 9 24 6 #SB_LUT4
set_location transmit_module.video_signal_controller.i486_2_lut 7 23 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i1064_2_lut 9 24 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_4_lut 10 23 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i8_4_lut 9 24 2 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_3_lut 9 16 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i476_2_lut 7 29 5 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_11_lut 9 21 1 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73__i7 9 20 6 #SB_DFFSR
set_location transmit_module.video_signal_controller.i405_2_lut 9 26 7 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74__i0 9 16 0 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_3_lut 10 23 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i472_2_lut 9 25 7 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_4_lut 9 22 4 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut 9 23 2 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i9 10 24 1 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73__i2 9 20 1 #SB_DFFSR
set_location transmit_module.video_signal_controller.i6_4_lut 9 24 4 #SB_LUT4
set_location receive_module.rx_counter.i2_2_lut_3_lut 9 15 3 #SB_LUT4
set_location receive_module.rx_counter.i1059_4_lut 10 15 0 #SB_LUT4
set_location transmit_module.video_signal_controller.i1131_4_lut 10 22 6 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_8 10 23 6 #SB_CARRY
set_location receive_module.rx_counter.old_VS_49 10 16 7 #SB_DFF
set_location receive_module.rx_counter.FRAME_COUNTER_74__i4 9 16 4 #SB_DFFESR
set_location transmit_module.video_signal_controller.i475_2_lut 9 30 7 #SB_LUT4
set_location transmit_module.video_signal_controller.i473_2_lut 9 25 6 #SB_LUT4
set_location transmit_module.video_signal_controller.i427_2_lut 9 27 6 #SB_LUT4
set_location transmit_module.video_signal_controller.i422_2_lut 9 27 0 #SB_LUT4
set_location transmit_module.video_signal_controller.i3_4_lut 9 24 5 #SB_LUT4
set_location transmit_module.video_signal_controller.i3_3_lut 10 21 0 #SB_LUT4
set_location transmit_module.video_signal_controller.i1_2_lut_adj_10 9 24 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_5_lut 10 23 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i2 10 23 2 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_2 9 20 0 #SB_CARRY
set_location transmit_module.video_signal_controller.i469_2_lut 11 27 4 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73__i6 9 20 5 #SB_DFFSR
set_location transmit_module.video_signal_controller.i5_3_lut 9 23 0 #SB_LUT4
set_location transmit_module.video_signal_controller.i479_2_lut 9 25 2 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_3 10 23 1 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_10_lut 10 24 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_12_lut 9 21 2 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_10_lut 9 21 0 #SB_LUT4
set_location receive_module.rx_counter.i2_3_lut 9 15 7 #SB_LUT4
set_location receive_module.rx_counter.i1_2_lut 9 15 1 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74__i1 9 16 1 #SB_DFFESR
set_location transmit_module.video_signal_controller.i477_2_lut 7 30 5 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i7 10 23 7 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73__i8 9 20 7 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location transmit_module.video_signal_controller.i4_4_lut 9 22 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i463_2_lut 10 30 5 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_10 10 24 0 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_9_lut 9 20 7 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_6 9 20 4 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73__i1 9 20 0 #SB_DFFSR
set_location transmit_module.video_signal_controller.i218_2_lut_rep_7 10 22 5 #SB_LUT4
set_location receive_module.rx_counter.i210_2_lut_rep_8 10 16 3 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_5 9 16 3 #SB_CARRY
set_location transmit_module.video_signal_controller.i465_2_lut 11 29 4 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_7 10 23 5 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_8 9 20 6 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_4_lut 9 20 2 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74__i5 9 16 5 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_Y_71__i3 10 23 3 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_3 9 20 1 #SB_CARRY
set_location transmit_module.video_signal_controller.i466_2_lut 10 25 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i1126_4_lut 10 22 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_8_lut 9 20 6 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73__i5 9 20 4 #SB_DFFSR
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_2_lut 9 16 0 #SB_LUT4
set_location transmit_module.video_signal_controller.i478_2_lut 9 30 5 #SB_LUT4
set_location transmit_module.video_signal_controller.i471_2_lut 10 28 5 #SB_LUT4
set_location transmit_module.video_signal_controller.i470_2_lut 10 29 0 #SB_LUT4
set_location transmit_module.video_signal_controller.i468_2_lut 11 30 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_8_lut 10 23 6 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_2 10 23 0 #SB_CARRY
set_location receive_module.rx_counter.i1_2_lut_adj_13 10 14 0 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_7_lut 9 16 5 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_6_lut 9 16 4 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_5_lut 9 16 3 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74__i2 9 16 2 #SB_DFFESR
set_location transmit_module.video_signal_controller.i2_4_lut 9 23 7 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i4 10 23 4 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_Y_71__i11 10 24 3 #SB_DFFESR
set_location transmit_module.video_signal_controller.i2_4_lut_adj_11 9 22 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i137_3_lut 10 22 1 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_13_lut 10 24 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_11 10 24 1 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_7 9 20 5 #SB_CARRY
set_location transmit_module.video_signal_controller.i1_2_lut_rep_6_3_lut 10 21 5 #SB_LUT4
set_location transmit_module.video_signal_controller.i1120_3_lut 9 24 7 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_6_lut 9 20 4 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_4 9 16 2 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_6 10 23 4 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_Y_71__i0 10 23 0 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_11 9 21 1 #SB_CARRY
set_location transmit_module.video_signal_controller.i517_4_lut 10 21 6 #SB_LUT4
set_location transmit_module.video_signal_controller.i3_4_lut_adj_9 9 23 4 #SB_LUT4
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_3 9 16 1 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_Y_71__i5 10 23 5 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_Y_71__i10 10 24 2 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_12 10 24 2 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_9_lut 10 23 7 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_3_lut 9 20 1 #SB_LUT4
set_location transmit_module.video_signal_controller.i408_2_lut 11 28 7 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_11_lut 10 24 1 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_7_lut 9 20 5 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_2_lut 10 23 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i8 10 24 0 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73__i3 9 20 2 #SB_DFFSR
set_location transmit_module.video_signal_controller.i484_2_lut 7 25 2 #SB_LUT4
set_location transmit_module.video_signal_controller.i502_4_lut 9 23 6 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_9 10 23 7 #SB_CARRY
set_location transmit_module.video_signal_controller.i140_4_lut 9 23 3 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_5 9 20 3 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_X_72_73__i11 9 21 2 #SB_DFFSR
set_location receive_module.rx_counter.FRAME_COUNTER_74_add_4_6 9 16 4 #SB_CARRY
set_location transmit_module.video_signal_controller.VGA_Y_71_add_4_4 10 23 2 #SB_CARRY
set_location receive_module.rx_counter.i4_4_lut 9 15 4 #SB_LUT4
set_location transmit_module.video_signal_controller.i467_2_lut 10 25 4 #SB_LUT4
set_location transmit_module.video_signal_controller.i2_3_lut 10 22 2 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_Y_71__i6 10 23 6 #SB_DFFESR
set_location transmit_module.video_signal_controller.VGA_X_72_73_add_4_2_lut 9 20 0 #SB_LUT4
set_location transmit_module.video_signal_controller.VGA_X_72_73__i9 9 21 0 #SB_DFFSR
set_io DEBUG[1] J1
set_io ADV_R[0] C4
set_io ADV_B[7] A11
set_io ADV_G[5] A4
set_io DEBUG[7] E2
set_io ADV_R[6] B1
set_io ADV_B[5] B9
set_io DEBUG[6] F2
set_io ADV_R[7] B2
set_io ADV_G[3] A3
set_io ADV_CLK C9
set_io ADV_B[2] A8
set_io DEBUG[5] D5
set_io ADV_R[4] C1
set_io ADV_G[2] B3
set_io ADV_B[3] B8
set_io DEBUG[4] F1
set_io ADV_R[5] C2
set_io ADV_G[1] A2
set_io ADV_B[0] A6
set_io DEBUG[3] G2
set_io ADV_R[2] D1
set_io ADV_HSYNC D3
set_io ADV_G[0] A1
set_io ADV_B[1] A7
set_io TVP_VSYNC J5
set_io TVP_CLK K6
set_io DEBUG[2] H2
set_io ADV_R[3] D2
set_io ADV_G[7] A5
set_io ADV_B[6] A10
set_io ADV_VSYNC E1
set_io ADV_G[6] B5
set_io ADV_BLANK_N C7
set_io LED J8
set_io DEBUG[0] J2
set_io ADV_R[1] C3
set_io ADV_B[4] A9
set_io ADV_SYNC_N C8
set_io ADV_G[4] B4
