set_location i27_1_lut_rep_20 11 12 3 # SB_LUT4 (LogicCell: i27_1_lut_rep_20_LC_0)
set_location line_buffer.TX_ADDR_11__bdd_4_lut 17 21 1 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_LC_1)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_1656 14 13 0 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_1656_LC_2)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_1661 12 20 2 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_1661_LC_3)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_1666 17 17 3 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_1666_LC_4)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_1671 18 13 4 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_1671_LC_5)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_1686 18 19 6 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_1686_LC_6)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_1691 17 17 6 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_1691_LC_7)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_1696 13 18 0 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_1696_LC_8)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_1701 19 13 3 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_1701_LC_9)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_1706 20 17 0 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_1706_LC_10)
set_location line_buffer.TX_ADDR_12__bdd_4_lut 20 13 1 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_12__bdd_4_lut_LC_11)
set_location line_buffer.TX_ADDR_12__bdd_4_lut_1676 14 17 5 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_12__bdd_4_lut_1676_LC_12)
set_location line_buffer.TX_ADDR_12__bdd_4_lut_1681 17 20 3 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_12__bdd_4_lut_1681_LC_13)
set_location line_buffer.i115911_i1_3_lut 18 13 6 # SB_LUT4 (LogicCell: line_buffer.dout_i0_LC_14)
set_location line_buffer.dout_i0 18 13 6 # SB_DFF (LogicCell: line_buffer.dout_i0_LC_14)
set_location line_buffer.i116514_i1_3_lut 17 16 7 # SB_LUT4 (LogicCell: line_buffer.dout_i1_LC_15)
set_location line_buffer.dout_i1 17 16 7 # SB_DFF (LogicCell: line_buffer.dout_i1_LC_15)
set_location line_buffer.i117117_i1_3_lut 14 19 4 # SB_LUT4 (LogicCell: line_buffer.dout_i2_LC_16)
set_location line_buffer.dout_i2 14 19 4 # SB_DFF (LogicCell: line_buffer.dout_i2_LC_16)
set_location line_buffer.i118926_i1_3_lut 19 17 4 # SB_LUT4 (LogicCell: line_buffer.dout_i5_LC_17)
set_location line_buffer.dout_i5 19 17 4 # SB_DFF (LogicCell: line_buffer.dout_i5_LC_17)
set_location line_buffer.i119529_i1_3_lut 16 20 6 # SB_LUT4 (LogicCell: line_buffer.dout_i6_LC_18)
set_location line_buffer.dout_i6 16 20 6 # SB_DFF (LogicCell: line_buffer.dout_i6_LC_18)
set_location line_buffer.i1580_3_lut 20 9 3 # SB_LUT4 (LogicCell: line_buffer.i1580_3_lut_LC_19)
set_location line_buffer.i1581_3_lut 21 13 0 # SB_LUT4 (LogicCell: line_buffer.i1581_3_lut_LC_20)
set_location line_buffer.i1583_3_lut 18 21 3 # SB_LUT4 (LogicCell: line_buffer.i1583_3_lut_LC_21)
set_location line_buffer.i1584_3_lut 9 20 5 # SB_LUT4 (LogicCell: line_buffer.i1584_3_lut_LC_22)
set_location line_buffer.i1586_3_lut 14 9 0 # SB_LUT4 (LogicCell: line_buffer.i1586_3_lut_LC_23)
set_location line_buffer.i1587_3_lut 14 17 4 # SB_LUT4 (LogicCell: line_buffer.i1587_3_lut_LC_24)
set_location line_buffer.i1595_3_lut 14 21 3 # SB_LUT4 (LogicCell: line_buffer.i1595_3_lut_LC_25)
set_location line_buffer.i1596_3_lut 12 15 1 # SB_LUT4 (LogicCell: line_buffer.i1596_3_lut_LC_26)
set_location line_buffer.i1598_3_lut 17 23 1 # SB_LUT4 (LogicCell: line_buffer.i1598_3_lut_LC_27)
set_location line_buffer.i1599_3_lut 17 20 7 # SB_LUT4 (LogicCell: line_buffer.i1599_3_lut_LC_28)
set_location line_buffer.i1601_3_lut 20 19 0 # SB_LUT4 (LogicCell: line_buffer.i1601_3_lut_LC_29)
set_location line_buffer.i1602_3_lut 20 13 7 # SB_LUT4 (LogicCell: line_buffer.i1602_3_lut_LC_30)
set_location line_buffer.i1639_2_lut_3_lut_4_lut 9 17 2 # SB_LUT4 (LogicCell: line_buffer.i1639_2_lut_3_lut_4_lut_LC_31)
set_location line_buffer.i1_2_lut_3_lut_4_lut 9 13 5 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_LC_32)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_11 9 17 7 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_11_LC_33)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_12 22 13 2 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_12_LC_34)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_13 10 13 4 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_13_LC_35)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_14 17 19 0 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_14_LC_36)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_15 21 13 5 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_15_LC_37)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_16 22 17 5 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_16_LC_38)
set_location line_buffer.n3089_bdd_4_lut 14 19 3 # SB_LUT4 (LogicCell: line_buffer.n3089_bdd_4_lut_LC_39)
set_location line_buffer.n3095_bdd_4_lut 14 17 6 # SB_LUT4 (LogicCell: line_buffer.dout_i3_LC_40)
set_location line_buffer.dout_i3 14 17 6 # SB_DFF (LogicCell: line_buffer.dout_i3_LC_40)
set_location line_buffer.n3101_bdd_4_lut 13 20 2 # SB_LUT4 (LogicCell: line_buffer.n3101_bdd_4_lut_LC_41)
set_location line_buffer.n3107_bdd_4_lut 17 17 4 # SB_LUT4 (LogicCell: line_buffer.n3107_bdd_4_lut_LC_42)
set_location line_buffer.n3113_bdd_4_lut 18 13 0 # SB_LUT4 (LogicCell: line_buffer.n3113_bdd_4_lut_LC_43)
set_location line_buffer.n3119_bdd_4_lut 18 13 5 # SB_LUT4 (LogicCell: line_buffer.n3119_bdd_4_lut_LC_44)
set_location line_buffer.n3125_bdd_4_lut 17 20 4 # SB_LUT4 (LogicCell: line_buffer.dout_i7_LC_45)
set_location line_buffer.dout_i7 17 20 4 # SB_DFF (LogicCell: line_buffer.dout_i7_LC_45)
set_location line_buffer.n3131_bdd_4_lut 20 13 2 # SB_LUT4 (LogicCell: line_buffer.dout_i4_LC_46)
set_location line_buffer.dout_i4 20 13 2 # SB_DFF (LogicCell: line_buffer.dout_i4_LC_46)
set_location line_buffer.n3137_bdd_4_lut 17 16 6 # SB_LUT4 (LogicCell: line_buffer.n3137_bdd_4_lut_LC_47)
set_location line_buffer.n3143_bdd_4_lut 13 18 1 # SB_LUT4 (LogicCell: line_buffer.n3143_bdd_4_lut_LC_48)
set_location line_buffer.n3149_bdd_4_lut 19 17 3 # SB_LUT4 (LogicCell: line_buffer.n3149_bdd_4_lut_LC_49)
set_location line_buffer.n3155_bdd_4_lut 20 17 1 # SB_LUT4 (LogicCell: line_buffer.n3155_bdd_4_lut_LC_50)
set_location line_buffer.n3161_bdd_4_lut 17 21 2 # SB_LUT4 (LogicCell: line_buffer.n3161_bdd_4_lut_LC_51)
set_location receive_module.add_12_10_lut 18 15 0 # SB_LUT4 (LogicCell: receive_module.add_12_10_lut_LC_52)
set_location receive_module.add_12_10 18 15 0 # SB_CARRY (LogicCell: receive_module.add_12_10_lut_LC_52)
set_location receive_module.add_12_11_lut 18 15 1 # SB_LUT4 (LogicCell: receive_module.add_12_11_lut_LC_53)
set_location receive_module.add_12_11 18 15 1 # SB_CARRY (LogicCell: receive_module.add_12_11_lut_LC_53)
set_location receive_module.add_12_12_lut 18 15 2 # SB_LUT4 (LogicCell: receive_module.add_12_12_lut_LC_54)
set_location receive_module.add_12_12 18 15 2 # SB_CARRY (LogicCell: receive_module.add_12_12_lut_LC_54)
set_location receive_module.add_12_13_lut 18 15 3 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i11_LC_55)
set_location receive_module.BRAM_ADDR__i11 18 15 3 # SB_DFFESR (LogicCell: receive_module.BRAM_ADDR__i11_LC_55)
set_location receive_module.add_12_13 18 15 3 # SB_CARRY (LogicCell: receive_module.BRAM_ADDR__i11_LC_55)
set_location receive_module.add_12_14_lut 18 15 4 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i12_LC_56)
set_location receive_module.BRAM_ADDR__i12 18 15 4 # SB_DFFESR (LogicCell: receive_module.BRAM_ADDR__i12_LC_56)
set_location receive_module.add_12_14 18 15 4 # SB_CARRY (LogicCell: receive_module.BRAM_ADDR__i12_LC_56)
set_location receive_module.add_12_15_lut 18 15 5 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i13_LC_57)
set_location receive_module.BRAM_ADDR__i13 18 15 5 # SB_DFFESR (LogicCell: receive_module.BRAM_ADDR__i13_LC_57)
set_location receive_module.add_12_2_lut 18 14 0 # SB_LUT4 (LogicCell: receive_module.add_12_2_lut_LC_58)
set_location receive_module.add_12_2 18 14 0 # SB_CARRY (LogicCell: receive_module.add_12_2_lut_LC_58)
set_location receive_module.add_12_3_lut 18 14 1 # SB_LUT4 (LogicCell: receive_module.add_12_3_lut_LC_59)
set_location receive_module.add_12_3 18 14 1 # SB_CARRY (LogicCell: receive_module.add_12_3_lut_LC_59)
set_location receive_module.add_12_4_lut 18 14 2 # SB_LUT4 (LogicCell: receive_module.add_12_4_lut_LC_60)
set_location receive_module.add_12_4 18 14 2 # SB_CARRY (LogicCell: receive_module.add_12_4_lut_LC_60)
set_location receive_module.add_12_5_lut 18 14 3 # SB_LUT4 (LogicCell: receive_module.add_12_5_lut_LC_61)
set_location receive_module.add_12_5 18 14 3 # SB_CARRY (LogicCell: receive_module.add_12_5_lut_LC_61)
set_location receive_module.add_12_6_lut 18 14 4 # SB_LUT4 (LogicCell: receive_module.add_12_6_lut_LC_62)
set_location receive_module.add_12_6 18 14 4 # SB_CARRY (LogicCell: receive_module.add_12_6_lut_LC_62)
set_location receive_module.add_12_7_lut 18 14 5 # SB_LUT4 (LogicCell: receive_module.add_12_7_lut_LC_63)
set_location receive_module.add_12_7 18 14 5 # SB_CARRY (LogicCell: receive_module.add_12_7_lut_LC_63)
set_location receive_module.add_12_8_lut 18 14 6 # SB_LUT4 (LogicCell: receive_module.add_12_8_lut_LC_64)
set_location receive_module.add_12_8 18 14 6 # SB_CARRY (LogicCell: receive_module.add_12_8_lut_LC_64)
set_location receive_module.add_12_9_lut 18 14 7 # SB_LUT4 (LogicCell: receive_module.add_12_9_lut_LC_65)
set_location receive_module.add_12_9 18 14 7 # SB_CARRY (LogicCell: receive_module.add_12_9_lut_LC_65)
set_location receive_module.i141_2_lut_2_lut 16 11 6 # SB_LUT4 (LogicCell: receive_module.i141_2_lut_2_lut_LC_66)
set_location receive_module.i1632_2_lut_rep_17 17 14 5 # SB_LUT4 (LogicCell: receive_module.i1632_2_lut_rep_17_LC_67)
set_location receive_module.i24_1_lut_rep_21 15 13 3 # SB_LUT4 (LogicCell: receive_module.i24_1_lut_rep_21_LC_68)
set_location receive_module.i297_3_lut_3_lut_3_lut 13 12 2 # SB_LUT4 (LogicCell: receive_module.i297_3_lut_3_lut_3_lut_LC_69)
set_location receive_module.i964_3_lut_4_lut 20 15 5 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i10_LC_70)
set_location receive_module.BRAM_ADDR__i10 20 15 5 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i10_LC_70)
set_location receive_module.i966_3_lut_4_lut 17 15 2 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i9_LC_71)
set_location receive_module.BRAM_ADDR__i9 17 15 2 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i9_LC_71)
set_location receive_module.i968_3_lut_4_lut 17 15 3 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i8_LC_72)
set_location receive_module.BRAM_ADDR__i8 17 15 3 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i8_LC_72)
set_location receive_module.i970_3_lut_4_lut 17 15 4 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i7_LC_73)
set_location receive_module.BRAM_ADDR__i7 17 15 4 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i7_LC_73)
set_location receive_module.i972_3_lut_4_lut 20 14 6 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i6_LC_74)
set_location receive_module.BRAM_ADDR__i6 20 14 6 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i6_LC_74)
set_location receive_module.i974_3_lut_4_lut 17 15 6 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i5_LC_75)
set_location receive_module.BRAM_ADDR__i5 17 15 6 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i5_LC_75)
set_location receive_module.i976_3_lut_4_lut 17 15 7 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i0_LC_76)
set_location receive_module.BRAM_ADDR__i0 17 15 7 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i0_LC_76)
set_location receive_module.i978_3_lut_4_lut 20 14 5 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i4_LC_77)
set_location receive_module.BRAM_ADDR__i4 20 14 5 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i4_LC_77)
set_location receive_module.i980_3_lut_4_lut 19 15 1 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i3_LC_78)
set_location receive_module.BRAM_ADDR__i3 19 15 1 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i3_LC_78)
set_location receive_module.i982_3_lut_4_lut 19 15 2 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i2_LC_79)
set_location receive_module.BRAM_ADDR__i2 19 15 2 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i2_LC_79)
set_location receive_module.i984_3_lut_4_lut 19 15 3 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i1_LC_80)
set_location receive_module.BRAM_ADDR__i1 19 15 3 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i1_LC_80)
set_location receive_module.rx_counter.FRAME_COUNTER_285_add_4_2_lut 15 11 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i0_LC_81)
set_location receive_module.rx_counter.FRAME_COUNTER_285__i0 15 11 0 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i0_LC_81)
set_location receive_module.rx_counter.FRAME_COUNTER_285_add_4_2 15 11 0 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i0_LC_81)
set_location receive_module.rx_counter.FRAME_COUNTER_285_add_4_3_lut 15 11 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i1_LC_82)
set_location receive_module.rx_counter.FRAME_COUNTER_285__i1 15 11 1 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i1_LC_82)
set_location receive_module.rx_counter.FRAME_COUNTER_285_add_4_3 15 11 1 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i1_LC_82)
set_location receive_module.rx_counter.FRAME_COUNTER_285_add_4_4_lut 15 11 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i2_LC_83)
set_location receive_module.rx_counter.FRAME_COUNTER_285__i2 15 11 2 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i2_LC_83)
set_location receive_module.rx_counter.FRAME_COUNTER_285_add_4_4 15 11 2 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i2_LC_83)
set_location receive_module.rx_counter.FRAME_COUNTER_285_add_4_5_lut 15 11 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i3_LC_84)
set_location receive_module.rx_counter.FRAME_COUNTER_285__i3 15 11 3 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i3_LC_84)
set_location receive_module.rx_counter.FRAME_COUNTER_285_add_4_5 15 11 3 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i3_LC_84)
set_location receive_module.rx_counter.FRAME_COUNTER_285_add_4_6_lut 15 11 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i4_LC_85)
set_location receive_module.rx_counter.FRAME_COUNTER_285__i4 15 11 4 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i4_LC_85)
set_location receive_module.rx_counter.FRAME_COUNTER_285_add_4_6 15 11 4 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i4_LC_85)
set_location receive_module.rx_counter.FRAME_COUNTER_285_add_4_7_lut 15 11 5 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i5_LC_86)
set_location receive_module.rx_counter.FRAME_COUNTER_285__i5 15 11 5 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_285__i5_LC_86)
set_location receive_module.rx_counter.X_284_add_4_10_lut 10 15 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_284__i8_LC_87)
set_location receive_module.rx_counter.X_284__i8 10 15 0 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_284__i8_LC_87)
set_location receive_module.rx_counter.X_284_add_4_10 10 15 0 # SB_CARRY (LogicCell: receive_module.rx_counter.X_284__i8_LC_87)
set_location receive_module.rx_counter.X_284_add_4_11_lut 10 15 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_284__i9_LC_88)
set_location receive_module.rx_counter.X_284__i9 10 15 1 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_284__i9_LC_88)
set_location receive_module.rx_counter.X_284_add_4_2_lut 10 14 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_284__i0_LC_89)
set_location receive_module.rx_counter.X_284__i0 10 14 0 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_284__i0_LC_89)
set_location receive_module.rx_counter.X_284_add_4_2 10 14 0 # SB_CARRY (LogicCell: receive_module.rx_counter.X_284__i0_LC_89)
set_location receive_module.rx_counter.X_284_add_4_3_lut 10 14 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_284__i1_LC_90)
set_location receive_module.rx_counter.X_284__i1 10 14 1 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_284__i1_LC_90)
set_location receive_module.rx_counter.X_284_add_4_3 10 14 1 # SB_CARRY (LogicCell: receive_module.rx_counter.X_284__i1_LC_90)
set_location receive_module.rx_counter.X_284_add_4_4_lut 10 14 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_284__i2_LC_91)
set_location receive_module.rx_counter.X_284__i2 10 14 2 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_284__i2_LC_91)
set_location receive_module.rx_counter.X_284_add_4_4 10 14 2 # SB_CARRY (LogicCell: receive_module.rx_counter.X_284__i2_LC_91)
set_location receive_module.rx_counter.X_284_add_4_5_lut 10 14 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_284__i3_LC_92)
set_location receive_module.rx_counter.X_284__i3 10 14 3 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_284__i3_LC_92)
set_location receive_module.rx_counter.X_284_add_4_5 10 14 3 # SB_CARRY (LogicCell: receive_module.rx_counter.X_284__i3_LC_92)
set_location receive_module.rx_counter.X_284_add_4_6_lut 10 14 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_284__i4_LC_93)
set_location receive_module.rx_counter.X_284__i4 10 14 4 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_284__i4_LC_93)
set_location receive_module.rx_counter.X_284_add_4_6 10 14 4 # SB_CARRY (LogicCell: receive_module.rx_counter.X_284__i4_LC_93)
set_location receive_module.rx_counter.X_284_add_4_7_lut 10 14 5 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_284__i5_LC_94)
set_location receive_module.rx_counter.X_284__i5 10 14 5 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_284__i5_LC_94)
set_location receive_module.rx_counter.X_284_add_4_7 10 14 5 # SB_CARRY (LogicCell: receive_module.rx_counter.X_284__i5_LC_94)
set_location receive_module.rx_counter.X_284_add_4_8_lut 10 14 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_284__i6_LC_95)
set_location receive_module.rx_counter.X_284__i6 10 14 6 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_284__i6_LC_95)
set_location receive_module.rx_counter.X_284_add_4_8 10 14 6 # SB_CARRY (LogicCell: receive_module.rx_counter.X_284__i6_LC_95)
set_location receive_module.rx_counter.X_284_add_4_9_lut 10 14 7 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_284__i7_LC_96)
set_location receive_module.rx_counter.X_284__i7 10 14 7 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_284__i7_LC_96)
set_location receive_module.rx_counter.X_284_add_4_9 10 14 7 # SB_CARRY (LogicCell: receive_module.rx_counter.X_284__i7_LC_96)
set_location receive_module.rx_counter.add_63_10_lut 12 13 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i8_LC_97)
set_location receive_module.rx_counter.Y__i8 12 13 0 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i8_LC_97)
set_location receive_module.rx_counter.add_63_2_lut 12 12 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i0_LC_98)
set_location receive_module.rx_counter.Y__i0 12 12 0 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i0_LC_98)
set_location receive_module.rx_counter.add_63_2 12 12 0 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i0_LC_98)
set_location receive_module.rx_counter.add_63_3_lut 12 12 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i1_LC_99)
set_location receive_module.rx_counter.Y__i1 12 12 1 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i1_LC_99)
set_location receive_module.rx_counter.add_63_3 12 12 1 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i1_LC_99)
set_location receive_module.rx_counter.add_63_4_lut 12 12 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i2_LC_100)
set_location receive_module.rx_counter.Y__i2 12 12 2 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i2_LC_100)
set_location receive_module.rx_counter.add_63_4 12 12 2 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i2_LC_100)
set_location receive_module.rx_counter.add_63_5_lut 12 12 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i3_LC_101)
set_location receive_module.rx_counter.Y__i3 12 12 3 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i3_LC_101)
set_location receive_module.rx_counter.add_63_5 12 12 3 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i3_LC_101)
set_location receive_module.rx_counter.add_63_6_lut 12 12 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i4_LC_102)
set_location receive_module.rx_counter.Y__i4 12 12 4 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i4_LC_102)
set_location receive_module.rx_counter.add_63_6 12 12 4 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i4_LC_102)
set_location receive_module.rx_counter.add_63_7_lut 12 12 5 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i5_LC_103)
set_location receive_module.rx_counter.Y__i5 12 12 5 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i5_LC_103)
set_location receive_module.rx_counter.add_63_7 12 12 5 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i5_LC_103)
set_location receive_module.rx_counter.add_63_8_lut 12 12 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i6_LC_104)
set_location receive_module.rx_counter.Y__i6 12 12 6 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i6_LC_104)
set_location receive_module.rx_counter.add_63_8 12 12 6 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i6_LC_104)
set_location receive_module.rx_counter.add_63_9_lut 12 12 7 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i7_LC_105)
set_location receive_module.rx_counter.Y__i7 12 12 7 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i7_LC_105)
set_location receive_module.rx_counter.add_63_9 12 12 7 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i7_LC_105)
set_location receive_module.rx_counter.i1499_3_lut 10 13 7 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1499_3_lut_LC_106)
set_location receive_module.rx_counter.i1_2_lut 11 13 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1_2_lut_LC_107)
set_location receive_module.rx_counter.i1_2_lut_4_lut 16 10 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.PULSE_1HZ_46_LC_108)
set_location receive_module.rx_counter.PULSE_1HZ_46 16 10 0 # SB_DFFE (LogicCell: receive_module.rx_counter.PULSE_1HZ_46_LC_108)
set_location receive_module.rx_counter.i1_2_lut_adj_21 12 14 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1_2_lut_adj_21_LC_109)
set_location receive_module.rx_counter.i1_3_lut 13 14 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1_3_lut_LC_110)
set_location receive_module.rx_counter.i1_4_lut 11 13 7 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1_4_lut_LC_111)
set_location receive_module.rx_counter.i1_rep_2_2_lut 11 13 5 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1_rep_2_2_lut_LC_112)
set_location receive_module.rx_counter.i2_2_lut 11 13 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_2_lut_LC_113)
set_location receive_module.rx_counter.i2_3_lut 10 13 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_3_lut_LC_114)
set_location receive_module.rx_counter.i2_3_lut_adj_19 10 13 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_3_lut_adj_19_LC_115)
set_location receive_module.rx_counter.i2_4_lut 11 13 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_4_lut_LC_116)
set_location receive_module.rx_counter.i2_4_lut_adj_17 11 13 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_4_lut_adj_17_LC_117)
set_location receive_module.rx_counter.i2_4_lut_adj_20 11 13 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_4_lut_adj_20_LC_118)
set_location receive_module.rx_counter.i38_4_lut 10 13 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.i38_4_lut_LC_119)
set_location receive_module.rx_counter.i4_4_lut 15 10 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.i4_4_lut_LC_120)
set_location receive_module.rx_counter.i4_4_lut_adj_18 11 13 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.i4_4_lut_adj_18_LC_121)
set_location receive_module.rx_counter.i4_4_lut_adj_22 12 14 7 # SB_LUT4 (LogicCell: receive_module.rx_counter.i4_4_lut_adj_22_LC_122)
set_location receive_module.rx_counter.i873_2_lut_4_lut 15 10 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.i873_2_lut_4_lut_LC_123)
set_location transmit_module.add_15_10_lut 15 18 0 # SB_LUT4 (LogicCell: transmit_module.add_15_10_lut_LC_124)
set_location transmit_module.add_15_10 15 18 0 # SB_CARRY (LogicCell: transmit_module.add_15_10_lut_LC_124)
set_location transmit_module.add_15_11_lut 15 18 1 # SB_LUT4 (LogicCell: transmit_module.add_15_11_lut_LC_125)
set_location transmit_module.add_15_11 15 18 1 # SB_CARRY (LogicCell: transmit_module.add_15_11_lut_LC_125)
set_location transmit_module.add_15_12_lut 15 18 2 # SB_LUT4 (LogicCell: transmit_module.add_15_12_lut_LC_126)
set_location transmit_module.add_15_12 15 18 2 # SB_CARRY (LogicCell: transmit_module.add_15_12_lut_LC_126)
set_location transmit_module.add_15_13_lut 15 18 3 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__rep_1_i0_LC_127)
set_location transmit_module.BRAM_ADDR__rep_1_i0 15 18 3 # SB_DFFESR (LogicCell: transmit_module.BRAM_ADDR__rep_1_i0_LC_127)
set_location transmit_module.add_15_13 15 18 3 # SB_CARRY (LogicCell: transmit_module.BRAM_ADDR__rep_1_i0_LC_127)
set_location transmit_module.add_15_14_lut 15 18 4 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__rep_1_i1_LC_128)
set_location transmit_module.BRAM_ADDR__rep_1_i1 15 18 4 # SB_DFFESR (LogicCell: transmit_module.BRAM_ADDR__rep_1_i1_LC_128)
set_location transmit_module.add_15_14 15 18 4 # SB_CARRY (LogicCell: transmit_module.BRAM_ADDR__rep_1_i1_LC_128)
set_location transmit_module.add_15_15_lut 15 18 5 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__rep_1_i2_LC_129)
set_location transmit_module.BRAM_ADDR__rep_1_i2 15 18 5 # SB_DFFESR (LogicCell: transmit_module.BRAM_ADDR__rep_1_i2_LC_129)
set_location transmit_module.add_15_2_lut 15 17 0 # SB_LUT4 (LogicCell: transmit_module.add_15_2_lut_LC_130)
set_location transmit_module.add_15_2 15 17 0 # SB_CARRY (LogicCell: transmit_module.add_15_2_lut_LC_130)
set_location transmit_module.add_15_3_lut 15 17 1 # SB_LUT4 (LogicCell: transmit_module.add_15_3_lut_LC_131)
set_location transmit_module.add_15_3 15 17 1 # SB_CARRY (LogicCell: transmit_module.add_15_3_lut_LC_131)
set_location transmit_module.add_15_4_lut 15 17 2 # SB_LUT4 (LogicCell: transmit_module.add_15_4_lut_LC_132)
set_location transmit_module.add_15_4 15 17 2 # SB_CARRY (LogicCell: transmit_module.add_15_4_lut_LC_132)
set_location transmit_module.add_15_5_lut 15 17 3 # SB_LUT4 (LogicCell: transmit_module.add_15_5_lut_LC_133)
set_location transmit_module.add_15_5 15 17 3 # SB_CARRY (LogicCell: transmit_module.add_15_5_lut_LC_133)
set_location transmit_module.add_15_6_lut 15 17 4 # SB_LUT4 (LogicCell: transmit_module.add_15_6_lut_LC_134)
set_location transmit_module.add_15_6 15 17 4 # SB_CARRY (LogicCell: transmit_module.add_15_6_lut_LC_134)
set_location transmit_module.add_15_7_lut 15 17 5 # SB_LUT4 (LogicCell: transmit_module.add_15_7_lut_LC_135)
set_location transmit_module.add_15_7 15 17 5 # SB_CARRY (LogicCell: transmit_module.add_15_7_lut_LC_135)
set_location transmit_module.add_15_8_lut 15 17 6 # SB_LUT4 (LogicCell: transmit_module.add_15_8_lut_LC_136)
set_location transmit_module.add_15_8 15 17 6 # SB_CARRY (LogicCell: transmit_module.add_15_8_lut_LC_136)
set_location transmit_module.add_15_9_lut 15 17 7 # SB_LUT4 (LogicCell: transmit_module.add_15_9_lut_LC_137)
set_location transmit_module.add_15_9 15 17 7 # SB_CARRY (LogicCell: transmit_module.add_15_9_lut_LC_137)
set_location transmit_module.i1052_4_lut 16 19 7 # SB_LUT4 (LogicCell: transmit_module.i1052_4_lut_LC_138)
set_location transmit_module.i1053_4_lut 16 19 0 # SB_LUT4 (LogicCell: transmit_module.i1053_4_lut_LC_139)
set_location transmit_module.i1054_4_lut 16 19 4 # SB_LUT4 (LogicCell: transmit_module.i1054_4_lut_LC_140)
set_location transmit_module.i1055_4_lut 17 19 3 # SB_LUT4 (LogicCell: transmit_module.i1055_4_lut_LC_141)
set_location transmit_module.i1056_4_lut 15 19 0 # SB_LUT4 (LogicCell: transmit_module.i1056_4_lut_LC_142)
set_location transmit_module.i1057_4_lut 15 19 2 # SB_LUT4 (LogicCell: transmit_module.i1057_4_lut_LC_143)
set_location transmit_module.i1058_4_lut 15 19 4 # SB_LUT4 (LogicCell: transmit_module.i1058_4_lut_LC_144)
set_location transmit_module.i1059_4_lut 17 19 7 # SB_LUT4 (LogicCell: transmit_module.i1059_4_lut_LC_145)
set_location transmit_module.i1060_4_lut 15 23 2 # SB_LUT4 (LogicCell: transmit_module.i1060_4_lut_LC_146)
set_location transmit_module.i1061_4_lut 17 19 1 # SB_LUT4 (LogicCell: transmit_module.i1061_4_lut_LC_147)
set_location transmit_module.i1096_4_lut 18 19 5 # SB_LUT4 (LogicCell: transmit_module.i1096_4_lut_LC_148)
set_location transmit_module.i1_2_lut 14 17 3 # SB_LUT4 (LogicCell: transmit_module.i1_2_lut_LC_149)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_10_lut 13 16 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i9_LC_150)
set_location transmit_module.video_signal_controller.VGA_X_288_289__i9 13 16 0 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i9_LC_150)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_10 13 16 0 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i9_LC_150)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_11_lut 13 16 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i10_LC_151)
set_location transmit_module.video_signal_controller.VGA_X_288_289__i10 13 16 1 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i10_LC_151)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_11 13 16 1 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i10_LC_151)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_12_lut 13 16 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i11_LC_152)
set_location transmit_module.video_signal_controller.VGA_X_288_289__i11 13 16 2 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i11_LC_152)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_2_lut 13 15 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i1_LC_153)
set_location transmit_module.video_signal_controller.VGA_X_288_289__i1 13 15 0 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i1_LC_153)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_2 13 15 0 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i1_LC_153)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_3_lut 13 15 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i2_LC_154)
set_location transmit_module.video_signal_controller.VGA_X_288_289__i2 13 15 1 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i2_LC_154)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_3 13 15 1 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i2_LC_154)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_4_lut 13 15 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i3_LC_155)
set_location transmit_module.video_signal_controller.VGA_X_288_289__i3 13 15 2 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i3_LC_155)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_4 13 15 2 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i3_LC_155)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_5_lut 13 15 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i4_LC_156)
set_location transmit_module.video_signal_controller.VGA_X_288_289__i4 13 15 3 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i4_LC_156)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_5 13 15 3 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i4_LC_156)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_6_lut 13 15 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i5_LC_157)
set_location transmit_module.video_signal_controller.VGA_X_288_289__i5 13 15 4 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i5_LC_157)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_6 13 15 4 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i5_LC_157)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_7_lut 13 15 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i6_LC_158)
set_location transmit_module.video_signal_controller.VGA_X_288_289__i6 13 15 5 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i6_LC_158)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_7 13 15 5 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i6_LC_158)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_8_lut 13 15 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i7_LC_159)
set_location transmit_module.video_signal_controller.VGA_X_288_289__i7 13 15 6 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i7_LC_159)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_8 13 15 6 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i7_LC_159)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_9_lut 13 15 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i8_LC_160)
set_location transmit_module.video_signal_controller.VGA_X_288_289__i8 13 15 7 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i8_LC_160)
set_location transmit_module.video_signal_controller.VGA_X_288_289_add_4_9 13 15 7 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_288_289__i8_LC_160)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_2_lut 14 14 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i1_LC_161)
set_location transmit_module.video_signal_controller.VGA_Y_286_287__i1 14 14 0 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i1_LC_161)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_2 14 14 0 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i1_LC_161)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_3_lut 14 14 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i2_LC_162)
set_location transmit_module.video_signal_controller.VGA_Y_286_287__i2 14 14 1 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i2_LC_162)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_3 14 14 1 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i2_LC_162)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_4_lut 14 14 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i3_LC_163)
set_location transmit_module.video_signal_controller.VGA_Y_286_287__i3 14 14 2 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i3_LC_163)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_4 14 14 2 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i3_LC_163)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_5_lut 14 14 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i4_LC_164)
set_location transmit_module.video_signal_controller.VGA_Y_286_287__i4 14 14 3 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i4_LC_164)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_5 14 14 3 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i4_LC_164)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_6_lut 14 14 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i5_LC_165)
set_location transmit_module.video_signal_controller.VGA_Y_286_287__i5 14 14 4 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i5_LC_165)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_6 14 14 4 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i5_LC_165)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_7_lut 14 14 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i6_LC_166)
set_location transmit_module.video_signal_controller.VGA_Y_286_287__i6 14 14 5 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i6_LC_166)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_7 14 14 5 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i6_LC_166)
set_location transmit_module.video_signal_controller.VGA_Y_286_287_add_4_8_lut 14 14 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i7_LC_167)
set_location transmit_module.video_signal_controller.VGA_Y_286_287__i7 14 14 6 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_286_287__i7_LC_167)
set_location transmit_module.video_signal_controller.i1127_4_lut 12 15 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1127_4_lut_LC_168)
set_location transmit_module.video_signal_controller.i1145_4_lut 13 14 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1145_4_lut_LC_169)
set_location transmit_module.video_signal_controller.i1570_4_lut 12 14 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1570_4_lut_LC_170)
set_location transmit_module.video_signal_controller.i1578_3_lut_4_lut 14 15 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1578_3_lut_4_lut_LC_171)
set_location transmit_module.video_signal_controller.i1629_4_lut 12 15 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_HS_48_LC_172)
set_location transmit_module.video_signal_controller.VGA_HS_48 12 15 4 # SB_DFF (LogicCell: transmit_module.video_signal_controller.VGA_HS_48_LC_172)
set_location transmit_module.video_signal_controller.i1636_4_lut_4_lut 15 16 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1636_4_lut_4_lut_LC_173)
set_location transmit_module.video_signal_controller.i1642_4_lut 13 14 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1642_4_lut_LC_174)
set_location transmit_module.video_signal_controller.i1_2_lut_rep_18_3_lut 12 15 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_rep_18_3_lut_LC_175)
set_location transmit_module.video_signal_controller.i1_2_lut_rep_19 14 15 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_rep_19_LC_176)
set_location transmit_module.video_signal_controller.i1_2_lut_rep_22 12 15 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_rep_22_LC_177)
set_location transmit_module.video_signal_controller.i1_4_lut 15 16 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_4_lut_LC_178)
set_location transmit_module.video_signal_controller.i2_3_lut 12 15 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2_3_lut_LC_179)
set_location transmit_module.video_signal_controller.i3_3_lut 12 15 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i3_3_lut_LC_180)
set_location transmit_module.video_signal_controller.i4_4_lut 14 15 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_VS_49_LC_181)
set_location transmit_module.video_signal_controller.VGA_VS_49 14 15 1 # SB_DFF (LogicCell: transmit_module.video_signal_controller.VGA_VS_49_LC_181)
set_location transmit_module.video_signal_controller.i508_2_lut 14 15 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i508_2_lut_LC_182)
set_location transmit_module.video_signal_controller.i511_2_lut_3_lut_4_lut 14 15 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i511_2_lut_3_lut_4_lut_LC_183)
set_location transmit_module.video_signal_controller.i541_3_lut 12 15 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i541_3_lut_LC_184)
set_location ADV_R__i1_THRU_LUT4_0 15 14 1 # SB_LUT4 (LogicCell: ADV_R__i1_LC_185)
set_location ADV_R__i1 15 14 1 # SB_DFFNSR (LogicCell: ADV_R__i1_LC_185)
set_location ADV_R__i2_THRU_LUT4_0 16 17 0 # SB_LUT4 (LogicCell: ADV_R__i2_LC_186)
set_location ADV_R__i2 16 17 0 # SB_DFFNSR (LogicCell: ADV_R__i2_LC_186)
set_location ADV_R__i3_THRU_LUT4_0 15 15 7 # SB_LUT4 (LogicCell: ADV_R__i3_LC_187)
set_location ADV_R__i3 15 15 7 # SB_DFFNSR (LogicCell: ADV_R__i3_LC_187)
set_location ADV_R__i4_THRU_LUT4_0 16 17 3 # SB_LUT4 (LogicCell: ADV_R__i4_LC_188)
set_location ADV_R__i4 16 17 3 # SB_DFFNSR (LogicCell: ADV_R__i4_LC_188)
set_location ADV_R__i5_THRU_LUT4_0 16 17 4 # SB_LUT4 (LogicCell: ADV_R__i5_LC_189)
set_location ADV_R__i5 16 17 4 # SB_DFFNSR (LogicCell: ADV_R__i5_LC_189)
set_location ADV_R__i6_THRU_LUT4_0 16 15 2 # SB_LUT4 (LogicCell: ADV_R__i6_LC_190)
set_location ADV_R__i6 16 15 2 # SB_DFFNSR (LogicCell: ADV_R__i6_LC_190)
set_location ADV_R__i7_THRU_LUT4_0 16 17 6 # SB_LUT4 (LogicCell: ADV_R__i7_LC_191)
set_location ADV_R__i7 16 17 6 # SB_DFFNSR (LogicCell: ADV_R__i7_LC_191)
set_location ADV_R__i8_THRU_LUT4_0 16 17 7 # SB_LUT4 (LogicCell: ADV_R__i8_LC_192)
set_location ADV_R__i8 16 17 7 # SB_DFFNSR (LogicCell: ADV_R__i8_LC_192)
set_location receive_module.rx_counter.old_HS_48_THRU_LUT4_0 13 12 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.old_HS_48_LC_193)
set_location receive_module.rx_counter.old_HS_48 13 12 4 # SB_DFF (LogicCell: receive_module.rx_counter.old_HS_48_LC_193)
set_location receive_module.rx_counter.old_VS_49_THRU_LUT4_0 16 11 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.old_VS_49_LC_194)
set_location receive_module.rx_counter.old_VS_49 16 11 1 # SB_DFF (LogicCell: receive_module.rx_counter.old_VS_49_LC_194)
set_location transmit_module.X_DELTA_PATTERN_i0_THRU_LUT4_0 14 16 2 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i0_LC_195)
set_location transmit_module.X_DELTA_PATTERN_i0 14 16 2 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i0_LC_195)
set_location transmit_module.X_DELTA_PATTERN_i1_THRU_LUT4_0 14 16 3 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i1_LC_196)
set_location transmit_module.X_DELTA_PATTERN_i1 14 16 3 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i1_LC_196)
set_location transmit_module.X_DELTA_PATTERN_i10_THRU_LUT4_0 13 17 3 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i10_LC_197)
set_location transmit_module.X_DELTA_PATTERN_i10 13 17 3 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i10_LC_197)
set_location transmit_module.X_DELTA_PATTERN_i11_THRU_LUT4_0 13 17 4 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i11_LC_198)
set_location transmit_module.X_DELTA_PATTERN_i11 13 17 4 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i11_LC_198)
set_location transmit_module.X_DELTA_PATTERN_i12_THRU_LUT4_0 13 17 0 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i12_LC_199)
set_location transmit_module.X_DELTA_PATTERN_i12 13 17 0 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i12_LC_199)
set_location transmit_module.X_DELTA_PATTERN_i13_THRU_LUT4_0 13 17 1 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i13_LC_200)
set_location transmit_module.X_DELTA_PATTERN_i13 13 17 1 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i13_LC_200)
set_location transmit_module.X_DELTA_PATTERN_i14_THRU_LUT4_0 13 17 7 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i14_LC_201)
set_location transmit_module.X_DELTA_PATTERN_i14 13 17 7 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i14_LC_201)
set_location transmit_module.X_DELTA_PATTERN_i15_THRU_LUT4_0 13 17 2 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i15_LC_202)
set_location transmit_module.X_DELTA_PATTERN_i15 13 17 2 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i15_LC_202)
set_location transmit_module.X_DELTA_PATTERN_i2_THRU_LUT4_0 14 16 4 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i2_LC_203)
set_location transmit_module.X_DELTA_PATTERN_i2 14 16 4 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i2_LC_203)
set_location transmit_module.X_DELTA_PATTERN_i3_THRU_LUT4_0 14 16 7 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i3_LC_204)
set_location transmit_module.X_DELTA_PATTERN_i3 14 16 7 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i3_LC_204)
set_location transmit_module.X_DELTA_PATTERN_i4_THRU_LUT4_0 14 16 6 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i4_LC_205)
set_location transmit_module.X_DELTA_PATTERN_i4 14 16 6 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i4_LC_205)
set_location transmit_module.X_DELTA_PATTERN_i5_THRU_LUT4_0 14 16 5 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i5_LC_206)
set_location transmit_module.X_DELTA_PATTERN_i5 14 16 5 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i5_LC_206)
set_location transmit_module.X_DELTA_PATTERN_i6_THRU_LUT4_0 13 17 5 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i6_LC_207)
set_location transmit_module.X_DELTA_PATTERN_i6 13 17 5 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i6_LC_207)
set_location transmit_module.X_DELTA_PATTERN_i7_THRU_LUT4_0 12 17 5 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i7_LC_208)
set_location transmit_module.X_DELTA_PATTERN_i7 12 17 5 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i7_LC_208)
set_location transmit_module.X_DELTA_PATTERN_i8_THRU_LUT4_0 12 17 4 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i8_LC_209)
set_location transmit_module.X_DELTA_PATTERN_i8 12 17 4 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i8_LC_209)
set_location transmit_module.X_DELTA_PATTERN_i9_THRU_LUT4_0 12 17 3 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i9_LC_210)
set_location transmit_module.X_DELTA_PATTERN_i9 12 17 3 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i9_LC_210)
set_location transmit_module.i1052_4_lut_transmit_module.BRAM_ADDR__i11_REP_LUT4_0 14 18 5 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i11_LC_211)
set_location transmit_module.BRAM_ADDR__i11 14 18 5 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i11_LC_211)
set_location transmit_module.i1053_4_lut_transmit_module.BRAM_ADDR__i10_REP_LUT4_0 16 19 1 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i10_LC_212)
set_location transmit_module.BRAM_ADDR__i10 16 19 1 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i10_LC_212)
set_location transmit_module.i1054_4_lut_transmit_module.BRAM_ADDR__i9_REP_LUT4_0 15 19 5 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i9_LC_213)
set_location transmit_module.BRAM_ADDR__i9 15 19 5 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i9_LC_213)
set_location transmit_module.i1055_4_lut_transmit_module.BRAM_ADDR__i8_REP_LUT4_0 16 18 6 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i8_LC_214)
set_location transmit_module.BRAM_ADDR__i8 16 18 6 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i8_LC_214)
set_location transmit_module.i1056_4_lut_transmit_module.BRAM_ADDR__i7_REP_LUT4_0 14 18 4 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i7_LC_215)
set_location transmit_module.BRAM_ADDR__i7 14 18 4 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i7_LC_215)
set_location transmit_module.i1057_4_lut_transmit_module.BRAM_ADDR__i6_REP_LUT4_0 15 16 7 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i6_LC_216)
set_location transmit_module.BRAM_ADDR__i6 15 16 7 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i6_LC_216)
set_location transmit_module.i1058_4_lut_transmit_module.BRAM_ADDR__i5_REP_LUT4_0 15 16 1 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i5_LC_217)
set_location transmit_module.BRAM_ADDR__i5 15 16 1 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i5_LC_217)
set_location transmit_module.i1059_4_lut_transmit_module.BRAM_ADDR__i4_REP_LUT4_0 16 16 6 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i4_LC_218)
set_location transmit_module.BRAM_ADDR__i4 16 16 6 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i4_LC_218)
set_location transmit_module.i1060_4_lut_transmit_module.BRAM_ADDR__i3_REP_LUT4_0 15 16 5 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i3_LC_219)
set_location transmit_module.BRAM_ADDR__i3 15 16 5 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i3_LC_219)
set_location transmit_module.i1061_4_lut_transmit_module.BRAM_ADDR__i2_REP_LUT4_0 16 18 1 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i2_LC_220)
set_location transmit_module.BRAM_ADDR__i2 16 18 1 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i2_LC_220)
set_location transmit_module.i1096_4_lut_transmit_module.BRAM_ADDR__i1_REP_LUT4_0 16 18 4 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i1_LC_221)
set_location transmit_module.BRAM_ADDR__i1 16 18 4 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i1_LC_221)
set_location GB_BUFFER_TVP_CLK_c_THRU_LUT4_0 16 32 0 # SB_LUT4 (LogicCell: GB_BUFFER_TVP_CLK_c_THRU_LUT4_0_LC_222)
set_io ADV_BLANK_N_pad 20 33 0 # ICE_IO
set_io ADV_B_pad_0 11 33 1 # ICE_IO
set_io ADV_B_pad_1 19 33 1 # ICE_IO
set_io ADV_B_pad_2 20 33 1 # ICE_IO
set_io ADV_B_pad_3 27 33 0 # ICE_IO
set_io ADV_B_pad_4 26 33 1 # ICE_IO
set_io ADV_B_pad_5 28 33 1 # ICE_IO
set_io ADV_B_pad_6 30 33 1 # ICE_IO
set_io ADV_B_pad_7 31 33 1 # ICE_IO
set_io ADV_CLK_pad 29 33 1 # ICE_IO
set_io ADV_G_pad_0 2 33 0 # ICE_IO
set_io ADV_G_pad_1 3 33 1 # ICE_IO
set_io ADV_G_pad_2 4 33 0 # ICE_IO
set_io ADV_G_pad_3 3 33 0 # ICE_IO
set_io ADV_G_pad_4 5 33 0 # ICE_IO
set_io ADV_G_pad_5 9 33 0 # ICE_IO
set_io ADV_G_pad_6 10 33 1 # ICE_IO
set_io ADV_G_pad_7 11 33 0 # ICE_IO
set_io ADV_HSYNC_pad 0 21 0 # ICE_IO
set_io ADV_R_pad_0 0 27 1 # ICE_IO
set_io ADV_R_pad_1 0 27 0 # ICE_IO
set_io ADV_R_pad_2 0 22 0 # ICE_IO
set_io ADV_R_pad_3 0 21 1 # ICE_IO
set_io ADV_R_pad_4 0 25 0 # ICE_IO
set_io ADV_R_pad_5 0 25 1 # ICE_IO
set_io ADV_R_pad_6 0 30 1 # ICE_IO
set_io ADV_R_pad_7 0 30 0 # ICE_IO
set_io ADV_SYNC_N_pad 26 33 0 # ICE_IO
set_io ADV_VSYNC_pad 0 22 1 # ICE_IO
set_io DEBUG_pad_0 0 6 0 # ICE_IO
set_io DEBUG_pad_1 0 6 1 # ICE_IO
set_io DEBUG_pad_2 0 11 0 # ICE_IO
set_io DEBUG_pad_3 0 11 1 # ICE_IO
set_io DEBUG_pad_4 0 16 0 # ICE_IO
set_io DEBUG_pad_5 0 18 1 # ICE_IO
set_io DEBUG_pad_6 0 18 0 # ICE_IO
set_io DEBUG_pad_7 0 20 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io LED_pad 22 0 1 # ICE_IO
set_io TVP_CLK_pad 17 0 0 # ICE_GB_IO
set_io TVP_HSYNC_pad 20 0 0 # ICE_IO
set_io TVP_VIDEO_pad_2 6 0 1 # ICE_IO
set_io TVP_VIDEO_pad_3 7 0 1 # ICE_IO
set_io TVP_VIDEO_pad_4 11 0 1 # ICE_IO
set_io TVP_VIDEO_pad_5 12 0 1 # ICE_IO
set_io TVP_VIDEO_pad_6 12 0 0 # ICE_IO
set_io TVP_VIDEO_pad_7 15 0 1 # ICE_IO
set_io TVP_VIDEO_pad_8 16 0 1 # ICE_IO
set_io TVP_VIDEO_pad_9 24 0 0 # ICE_IO
set_io TVP_VSYNC_pad 15 0 0 # ICE_IO
set_location line_buffer.mem0 25 1 0 # SB_RAM40_4K
set_location line_buffer.mem1 25 3 0 # SB_RAM40_4K
set_location line_buffer.mem10 25 5 0 # SB_RAM40_4K
set_location line_buffer.mem11 25 7 0 # SB_RAM40_4K
set_location line_buffer.mem12 25 9 0 # SB_RAM40_4K
set_location line_buffer.mem13 25 11 0 # SB_RAM40_4K
set_location line_buffer.mem14 25 13 0 # SB_RAM40_4K
set_location line_buffer.mem15 25 15 0 # SB_RAM40_4K
set_location line_buffer.mem16 25 17 0 # SB_RAM40_4K
set_location line_buffer.mem17 25 19 0 # SB_RAM40_4K
set_location line_buffer.mem18 25 21 0 # SB_RAM40_4K
set_location line_buffer.mem19 25 23 0 # SB_RAM40_4K
set_location line_buffer.mem2 25 25 0 # SB_RAM40_4K
set_location line_buffer.mem20 25 27 0 # SB_RAM40_4K
set_location line_buffer.mem21 25 29 0 # SB_RAM40_4K
set_location line_buffer.mem22 25 31 0 # SB_RAM40_4K
set_location line_buffer.mem23 8 1 0 # SB_RAM40_4K
set_location line_buffer.mem24 8 3 0 # SB_RAM40_4K
set_location line_buffer.mem25 8 5 0 # SB_RAM40_4K
set_location line_buffer.mem26 8 7 0 # SB_RAM40_4K
set_location line_buffer.mem27 8 9 0 # SB_RAM40_4K
set_location line_buffer.mem28 8 11 0 # SB_RAM40_4K
set_location line_buffer.mem29 8 13 0 # SB_RAM40_4K
set_location line_buffer.mem3 8 15 0 # SB_RAM40_4K
set_location line_buffer.mem30 8 17 0 # SB_RAM40_4K
set_location line_buffer.mem31 8 19 0 # SB_RAM40_4K
set_location line_buffer.mem4 8 21 0 # SB_RAM40_4K
set_location line_buffer.mem5 8 23 0 # SB_RAM40_4K
set_location line_buffer.mem6 8 25 0 # SB_RAM40_4K
set_location line_buffer.mem7 8 27 0 # SB_RAM40_4K
set_location line_buffer.mem8 8 29 0 # SB_RAM40_4K
set_location line_buffer.mem9 8 31 0 # SB_RAM40_4K
set_location tx_pll.TX_PLL_inst 16 33 1 # SB_PLL40_CORE
set_location INV_ADV_CLK_c -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 18 2 7 # SB_LUT4 (LogicCell: LC_223)
