set_location receive_module.rx_counter.FRAME_COUNTER_71_add_4_2_lut 11 17 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i0_LC_0)
set_location receive_module.rx_counter.FRAME_COUNTER_71__i0 11 17 0 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i0_LC_0)
set_location receive_module.rx_counter.FRAME_COUNTER_71_add_4_2 11 17 0 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i0_LC_0)
set_location receive_module.rx_counter.FRAME_COUNTER_71_add_4_3_lut 11 17 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i1_LC_1)
set_location receive_module.rx_counter.FRAME_COUNTER_71__i1 11 17 1 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i1_LC_1)
set_location receive_module.rx_counter.FRAME_COUNTER_71_add_4_3 11 17 1 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i1_LC_1)
set_location receive_module.rx_counter.FRAME_COUNTER_71_add_4_4_lut 11 17 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i2_LC_2)
set_location receive_module.rx_counter.FRAME_COUNTER_71__i2 11 17 2 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i2_LC_2)
set_location receive_module.rx_counter.FRAME_COUNTER_71_add_4_4 11 17 2 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i2_LC_2)
set_location receive_module.rx_counter.FRAME_COUNTER_71_add_4_5_lut 11 17 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i3_LC_3)
set_location receive_module.rx_counter.FRAME_COUNTER_71__i3 11 17 3 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i3_LC_3)
set_location receive_module.rx_counter.FRAME_COUNTER_71_add_4_5 11 17 3 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i3_LC_3)
set_location receive_module.rx_counter.FRAME_COUNTER_71_add_4_6_lut 11 17 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i4_LC_4)
set_location receive_module.rx_counter.FRAME_COUNTER_71__i4 11 17 4 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i4_LC_4)
set_location receive_module.rx_counter.FRAME_COUNTER_71_add_4_6 11 17 4 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i4_LC_4)
set_location receive_module.rx_counter.FRAME_COUNTER_71_add_4_7_lut 11 17 5 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i5_LC_5)
set_location receive_module.rx_counter.FRAME_COUNTER_71__i5 11 17 5 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_71__i5_LC_5)
set_location receive_module.rx_counter.i1_2_lut 10 17 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1_2_lut_LC_6)
set_location receive_module.rx_counter.i2_2_lut 11 16 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_2_lut_LC_7)
set_location receive_module.rx_counter.i2_3_lut_4_lut 11 16 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_3_lut_4_lut_LC_8)
set_location receive_module.rx_counter.i45_2_lut_rep_7 11 16 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.i45_2_lut_rep_7_LC_9)
set_location receive_module.rx_counter.i4_4_lut 11 16 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.i4_4_lut_LC_10)
set_location receive_module.rx_counter.i591_3_lut 10 16 7 # SB_LUT4 (LogicCell: receive_module.rx_counter.PULSE_1HZ_46_LC_11)
set_location receive_module.rx_counter.PULSE_1HZ_46 10 16 7 # SB_DFFE (LogicCell: receive_module.rx_counter.PULSE_1HZ_46_LC_11)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_10_lut 9 24 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i9_LC_12)
set_location transmit_module.video_signal_controller.VGA_X_73_74__i9 9 24 0 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i9_LC_12)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_10 9 24 0 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i9_LC_12)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_11_lut 9 24 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i10_LC_13)
set_location transmit_module.video_signal_controller.VGA_X_73_74__i10 9 24 1 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i10_LC_13)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_11 9 24 1 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i10_LC_13)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_12_lut 9 24 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i11_LC_14)
set_location transmit_module.video_signal_controller.VGA_X_73_74__i11 9 24 2 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i11_LC_14)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_2_lut 9 23 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i1_LC_15)
set_location transmit_module.video_signal_controller.VGA_X_73_74__i1 9 23 0 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i1_LC_15)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_2 9 23 0 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i1_LC_15)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_3_lut 9 23 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i2_LC_16)
set_location transmit_module.video_signal_controller.VGA_X_73_74__i2 9 23 1 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i2_LC_16)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_3 9 23 1 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i2_LC_16)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_4_lut 9 23 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i3_LC_17)
set_location transmit_module.video_signal_controller.VGA_X_73_74__i3 9 23 2 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i3_LC_17)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_4 9 23 2 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i3_LC_17)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_5_lut 9 23 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i4_LC_18)
set_location transmit_module.video_signal_controller.VGA_X_73_74__i4 9 23 3 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i4_LC_18)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_5 9 23 3 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i4_LC_18)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_6_lut 9 23 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i5_LC_19)
set_location transmit_module.video_signal_controller.VGA_X_73_74__i5 9 23 4 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i5_LC_19)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_6 9 23 4 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i5_LC_19)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_7_lut 9 23 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i6_LC_20)
set_location transmit_module.video_signal_controller.VGA_X_73_74__i6 9 23 5 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i6_LC_20)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_7 9 23 5 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i6_LC_20)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_8_lut 9 23 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i7_LC_21)
set_location transmit_module.video_signal_controller.VGA_X_73_74__i7 9 23 6 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i7_LC_21)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_8 9 23 6 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i7_LC_21)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_9_lut 9 23 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i8_LC_22)
set_location transmit_module.video_signal_controller.VGA_X_73_74__i8 9 23 7 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i8_LC_22)
set_location transmit_module.video_signal_controller.VGA_X_73_74_add_4_9 9 23 7 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_73_74__i8_LC_22)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_10_lut 11 25 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i8_LC_23)
set_location transmit_module.video_signal_controller.VGA_Y_72__i8 11 25 0 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i8_LC_23)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_10 11 25 0 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i8_LC_23)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_11_lut 11 25 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i9_LC_24)
set_location transmit_module.video_signal_controller.VGA_Y_72__i9 11 25 1 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i9_LC_24)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_11 11 25 1 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i9_LC_24)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_12_lut 11 25 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i10_LC_25)
set_location transmit_module.video_signal_controller.VGA_Y_72__i10 11 25 2 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i10_LC_25)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_12 11 25 2 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i10_LC_25)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_13_lut 11 25 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i11_LC_26)
set_location transmit_module.video_signal_controller.VGA_Y_72__i11 11 25 3 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i11_LC_26)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_2_lut 11 24 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i0_LC_27)
set_location transmit_module.video_signal_controller.VGA_Y_72__i0 11 24 0 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i0_LC_27)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_2 11 24 0 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i0_LC_27)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_3_lut 11 24 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i1_LC_28)
set_location transmit_module.video_signal_controller.VGA_Y_72__i1 11 24 1 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i1_LC_28)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_3 11 24 1 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i1_LC_28)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_4_lut 11 24 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i2_LC_29)
set_location transmit_module.video_signal_controller.VGA_Y_72__i2 11 24 2 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i2_LC_29)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_4 11 24 2 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i2_LC_29)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_5_lut 11 24 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i3_LC_30)
set_location transmit_module.video_signal_controller.VGA_Y_72__i3 11 24 3 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i3_LC_30)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_5 11 24 3 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i3_LC_30)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_6_lut 11 24 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i4_LC_31)
set_location transmit_module.video_signal_controller.VGA_Y_72__i4 11 24 4 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i4_LC_31)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_6 11 24 4 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i4_LC_31)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_7_lut 11 24 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i5_LC_32)
set_location transmit_module.video_signal_controller.VGA_Y_72__i5 11 24 5 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i5_LC_32)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_7 11 24 5 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i5_LC_32)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_8_lut 11 24 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i6_LC_33)
set_location transmit_module.video_signal_controller.VGA_Y_72__i6 11 24 6 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i6_LC_33)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_8 11 24 6 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i6_LC_33)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_9_lut 11 24 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i7_LC_34)
set_location transmit_module.video_signal_controller.VGA_Y_72__i7 11 24 7 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i7_LC_34)
set_location transmit_module.video_signal_controller.VGA_Y_72_add_4_9 11 24 7 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_72__i7_LC_34)
set_location transmit_module.video_signal_controller.i102_2_lut_3_lut_4_lut 9 25 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i102_2_lut_3_lut_4_lut_LC_35)
set_location transmit_module.video_signal_controller.i138_3_lut 9 22 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i138_3_lut_LC_36)
set_location transmit_module.video_signal_controller.i140_4_lut 10 25 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i140_4_lut_LC_37)
set_location transmit_module.video_signal_controller.i1_2_lut 10 24 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_LC_38)
set_location transmit_module.video_signal_controller.i1_2_lut_adj_11 10 25 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_adj_11_LC_39)
set_location transmit_module.video_signal_controller.i1_2_lut_adj_12 10 25 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_adj_12_LC_40)
set_location transmit_module.video_signal_controller.i1_2_lut_rep_6_3_lut 10 23 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_rep_6_3_lut_LC_41)
set_location transmit_module.video_signal_controller.i1_4_lut 9 25 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_4_lut_LC_42)
set_location transmit_module.video_signal_controller.i218_2_lut_rep_8 9 22 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i218_2_lut_rep_8_LC_43)
set_location transmit_module.video_signal_controller.i2_3_lut 9 22 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2_3_lut_LC_44)
set_location transmit_module.video_signal_controller.i2_4_lut 10 25 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2_4_lut_LC_45)
set_location transmit_module.video_signal_controller.i2_4_lut_adj_10 9 25 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2_4_lut_adj_10_LC_46)
set_location transmit_module.video_signal_controller.i3_3_lut 10 23 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i3_3_lut_LC_47)
set_location transmit_module.video_signal_controller.i3_4_lut 10 24 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i3_4_lut_LC_48)
set_location transmit_module.video_signal_controller.i3_4_lut_adj_9 10 25 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i3_4_lut_adj_9_LC_49)
set_location transmit_module.video_signal_controller.i401_2_lut 10 27 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i401_2_lut_LC_50)
set_location transmit_module.video_signal_controller.i416_2_lut 7 25 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i416_2_lut_LC_51)
set_location transmit_module.video_signal_controller.i417_2_lut 11 29 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i417_2_lut_LC_52)
set_location transmit_module.video_signal_controller.i459_2_lut 12 30 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i459_2_lut_LC_53)
set_location transmit_module.video_signal_controller.i460_2_lut 12 31 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i460_2_lut_LC_54)
set_location transmit_module.video_signal_controller.i461_2_lut 11 26 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i461_2_lut_LC_55)
set_location transmit_module.video_signal_controller.i462_2_lut 11 31 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i462_2_lut_LC_56)
set_location transmit_module.video_signal_controller.i463_2_lut 12 26 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i463_2_lut_LC_57)
set_location transmit_module.video_signal_controller.i464_2_lut 11 30 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i464_2_lut_LC_58)
set_location transmit_module.video_signal_controller.i465_2_lut 11 28 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i465_2_lut_LC_59)
set_location transmit_module.video_signal_controller.i466_2_lut 10 29 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i466_2_lut_LC_60)
set_location transmit_module.video_signal_controller.i467_2_lut 10 28 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i467_2_lut_LC_61)
set_location transmit_module.video_signal_controller.i468_2_lut 9 30 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i468_2_lut_LC_62)
set_location transmit_module.video_signal_controller.i469_2_lut 7 29 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i469_2_lut_LC_63)
set_location transmit_module.video_signal_controller.i471_2_lut 6 30 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i471_2_lut_LC_64)
set_location transmit_module.video_signal_controller.i472_2_lut 7 26 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i472_2_lut_LC_65)
set_location transmit_module.video_signal_controller.i474_2_lut 7 29 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i474_2_lut_LC_66)
set_location transmit_module.video_signal_controller.i476_2_lut 6 30 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i476_2_lut_LC_67)
set_location transmit_module.video_signal_controller.i478_2_lut 10 30 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i478_2_lut_LC_68)
set_location transmit_module.video_signal_controller.i479_2_lut 6 25 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i479_2_lut_LC_69)
set_location transmit_module.video_signal_controller.i480_2_lut 7 25 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i480_2_lut_LC_70)
set_location transmit_module.video_signal_controller.i481_2_lut 6 24 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i481_2_lut_LC_71)
set_location transmit_module.video_signal_controller.i482_2_lut 6 24 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i482_2_lut_LC_72)
set_location transmit_module.video_signal_controller.i483_2_lut 6 27 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i483_2_lut_LC_73)
set_location transmit_module.video_signal_controller.i4_4_lut 9 25 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i4_4_lut_LC_74)
set_location transmit_module.video_signal_controller.i500_4_lut 10 25 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i500_4_lut_LC_75)
set_location transmit_module.video_signal_controller.i504_4_lut 10 23 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i504_4_lut_LC_76)
set_location transmit_module.video_signal_controller.i524_4_lut 10 23 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i524_4_lut_LC_77)
set_location transmit_module.video_signal_controller.i5_3_lut 10 24 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i5_3_lut_LC_78)
set_location transmit_module.video_signal_controller.i687_2_lut 10 25 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i687_2_lut_LC_79)
set_location transmit_module.video_signal_controller.i6_4_lut 10 24 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i6_4_lut_LC_80)
set_location transmit_module.video_signal_controller.i6_4_lut_adj_8 10 25 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i6_4_lut_adj_8_LC_81)
set_location transmit_module.video_signal_controller.i739_3_lut 10 24 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i739_3_lut_LC_82)
set_location transmit_module.video_signal_controller.i745_4_lut 9 22 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i745_4_lut_LC_83)
set_location transmit_module.video_signal_controller.i750_4_lut 9 22 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_HS_48_LC_84)
set_location transmit_module.video_signal_controller.VGA_HS_48 9 22 6 # SB_DFF (LogicCell: transmit_module.video_signal_controller.VGA_HS_48_LC_84)
set_location transmit_module.video_signal_controller.i753_4_lut 10 24 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i753_4_lut_LC_85)
set_location transmit_module.video_signal_controller.i8_4_lut 10 24 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_VS_49_LC_86)
set_location transmit_module.video_signal_controller.VGA_VS_49 10 24 1 # SB_DFF (LogicCell: transmit_module.video_signal_controller.VGA_VS_49_LC_86)
set_location receive_module.rx_counter.old_VS_49_THRU_LUT4_0 11 16 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.old_VS_49_LC_87)
set_location receive_module.rx_counter.old_VS_49 11 16 4 # SB_DFF (LogicCell: receive_module.rx_counter.old_VS_49_LC_87)
set_location GB_BUFFER_TVP_CLK_c_THRU_LUT4_0 16 1 5 # SB_LUT4 (LogicCell: GB_BUFFER_TVP_CLK_c_THRU_LUT4_0_LC_88)
set_io ADV_BLANK_N_pad 20 33 0 # ICE_IO
set_io ADV_B_pad_0 11 33 1 # ICE_IO
set_io ADV_B_pad_1 19 33 1 # ICE_IO
set_io ADV_B_pad_2 20 33 1 # ICE_IO
set_io ADV_B_pad_3 27 33 0 # ICE_IO
set_io ADV_B_pad_4 26 33 1 # ICE_IO
set_io ADV_B_pad_5 28 33 1 # ICE_IO
set_io ADV_B_pad_6 30 33 1 # ICE_IO
set_io ADV_B_pad_7 31 33 1 # ICE_IO
set_io ADV_CLK_pad 29 33 1 # ICE_IO
set_io ADV_G_pad_0 2 33 0 # ICE_IO
set_io ADV_G_pad_1 3 33 1 # ICE_IO
set_io ADV_G_pad_2 4 33 0 # ICE_IO
set_io ADV_G_pad_3 3 33 0 # ICE_IO
set_io ADV_G_pad_4 5 33 0 # ICE_IO
set_io ADV_G_pad_5 9 33 0 # ICE_IO
set_io ADV_G_pad_6 10 33 1 # ICE_IO
set_io ADV_G_pad_7 11 33 0 # ICE_IO
set_io ADV_HSYNC_pad 0 21 0 # ICE_IO
set_io ADV_R_pad_0 0 27 1 # ICE_IO
set_io ADV_R_pad_1 0 27 0 # ICE_IO
set_io ADV_R_pad_2 0 22 0 # ICE_IO
set_io ADV_R_pad_3 0 21 1 # ICE_IO
set_io ADV_R_pad_4 0 25 0 # ICE_IO
set_io ADV_R_pad_5 0 25 1 # ICE_IO
set_io ADV_R_pad_6 0 30 1 # ICE_IO
set_io ADV_R_pad_7 0 30 0 # ICE_IO
set_io ADV_SYNC_N_pad 26 33 0 # ICE_IO
set_io ADV_VSYNC_pad 0 22 1 # ICE_IO
set_io DEBUG_pad_0 0 4 0 # ICE_IO
set_io DEBUG_pad_1 0 6 1 # ICE_IO
set_io DEBUG_pad_2 0 11 0 # ICE_IO
set_io DEBUG_pad_3 0 16 0 # ICE_IO
set_io DEBUG_pad_4 0 18 1 # ICE_IO
set_io DEBUG_pad_5 8 33 1 # ICE_IO
set_io DEBUG_pad_6 0 18 0 # ICE_IO
set_io DEBUG_pad_7 0 20 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io LED_pad 22 0 1 # ICE_IO
set_io TVP_CLK_pad 17 0 0 # ICE_GB_IO
set_io TVP_VSYNC_pad 15 0 0 # ICE_IO
set_location tx_pll.TX_PLL_inst 16 0 1 # SB_PLL40_CORE
set_location CONSTANT_ONE_LUT4 18 12 4 # SB_LUT4 (LogicCell: LC_89)
