set_location line_buffer.TX_ADDR_11__bdd_4_lut 12 18 6 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_LC_0)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_2373 19 18 7 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_2373_LC_1)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_2378 19 15 1 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_2378_LC_2)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_2383 20 19 1 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_2383_LC_3)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_2402 20 15 4 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_2402_LC_4)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_2407 17 13 4 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_2407_LC_5)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_2412 20 17 2 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_2412_LC_6)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_2417 17 16 6 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_2417_LC_7)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_2422 13 17 6 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_2422_LC_8)
set_location line_buffer.TX_ADDR_11__bdd_4_lut_2427 20 17 0 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_11__bdd_4_lut_2427_LC_9)
set_location line_buffer.TX_ADDR_12__bdd_4_lut 16 17 0 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_12__bdd_4_lut_LC_10)
set_location line_buffer.TX_ADDR_12__bdd_4_lut_2392 16 17 6 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_12__bdd_4_lut_2392_LC_11)
set_location line_buffer.TX_ADDR_12__bdd_4_lut_2397 13 21 2 # SB_LUT4 (LogicCell: line_buffer.TX_ADDR_12__bdd_4_lut_2397_LC_12)
set_location line_buffer.i172111_i1_3_lut 15 18 4 # SB_LUT4 (LogicCell: line_buffer.dout_i0_LC_13)
set_location line_buffer.dout_i0 15 18 4 # SB_DFF (LogicCell: line_buffer.dout_i0_LC_13)
set_location line_buffer.i172714_i1_3_lut 19 17 6 # SB_LUT4 (LogicCell: line_buffer.dout_i1_LC_14)
set_location line_buffer.dout_i1 19 17 6 # SB_DFF (LogicCell: line_buffer.dout_i1_LC_14)
set_location line_buffer.i173920_i1_3_lut 20 17 5 # SB_LUT4 (LogicCell: line_buffer.dout_i3_LC_15)
set_location line_buffer.dout_i3 20 17 5 # SB_DFF (LogicCell: line_buffer.dout_i3_LC_15)
set_location line_buffer.i175126_i1_3_lut 17 18 3 # SB_LUT4 (LogicCell: line_buffer.dout_i5_LC_16)
set_location line_buffer.dout_i5 17 18 3 # SB_DFF (LogicCell: line_buffer.dout_i5_LC_16)
set_location line_buffer.i176332_i1_3_lut 20 18 2 # SB_LUT4 (LogicCell: line_buffer.dout_i7_LC_17)
set_location line_buffer.dout_i7 20 18 2 # SB_DFF (LogicCell: line_buffer.dout_i7_LC_17)
set_location line_buffer.i1_2_lut_3_lut_4_lut 16 13 1 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_LC_18)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_11 16 13 0 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_11_LC_19)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_12 16 11 3 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_12_LC_20)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_13 16 12 5 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_13_LC_21)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_14 16 12 2 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_14_LC_22)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_15 16 11 5 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_15_LC_23)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_16 16 12 4 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_16_LC_24)
set_location line_buffer.i1_2_lut_3_lut_4_lut_adj_17 16 11 4 # SB_LUT4 (LogicCell: line_buffer.i1_2_lut_3_lut_4_lut_adj_17_LC_25)
set_location line_buffer.i2308_3_lut 16 8 6 # SB_LUT4 (LogicCell: line_buffer.i2308_3_lut_LC_26)
set_location line_buffer.i2309_3_lut 17 17 7 # SB_LUT4 (LogicCell: line_buffer.i2309_3_lut_LC_27)
set_location line_buffer.i2314_3_lut 16 18 4 # SB_LUT4 (LogicCell: line_buffer.i2314_3_lut_LC_28)
set_location line_buffer.i2315_3_lut 15 10 1 # SB_LUT4 (LogicCell: line_buffer.i2315_3_lut_LC_29)
set_location line_buffer.i2320_3_lut 13 21 1 # SB_LUT4 (LogicCell: line_buffer.i2320_3_lut_LC_30)
set_location line_buffer.i2321_3_lut 12 21 6 # SB_LUT4 (LogicCell: line_buffer.i2321_3_lut_LC_31)
set_location line_buffer.i2347_3_lut 16 21 7 # SB_LUT4 (LogicCell: line_buffer.i2347_3_lut_LC_32)
set_location line_buffer.i2348_3_lut 16 17 3 # SB_LUT4 (LogicCell: line_buffer.i2348_3_lut_LC_33)
set_location line_buffer.i2350_3_lut 16 9 5 # SB_LUT4 (LogicCell: line_buffer.i2350_3_lut_LC_34)
set_location line_buffer.i2351_3_lut 17 17 3 # SB_LUT4 (LogicCell: line_buffer.i2351_3_lut_LC_35)
set_location line_buffer.i2353_3_lut 14 25 4 # SB_LUT4 (LogicCell: line_buffer.i2353_3_lut_LC_36)
set_location line_buffer.i2354_3_lut 15 21 4 # SB_LUT4 (LogicCell: line_buffer.i2354_3_lut_LC_37)
set_location line_buffer.n3692_bdd_4_lut 19 17 5 # SB_LUT4 (LogicCell: line_buffer.n3692_bdd_4_lut_LC_38)
set_location line_buffer.n3698_bdd_4_lut 17 19 6 # SB_LUT4 (LogicCell: line_buffer.n3698_bdd_4_lut_LC_39)
set_location line_buffer.n3704_bdd_4_lut 21 19 7 # SB_LUT4 (LogicCell: line_buffer.n3704_bdd_4_lut_LC_40)
set_location line_buffer.n3710_bdd_4_lut 20 16 6 # SB_LUT4 (LogicCell: line_buffer.n3710_bdd_4_lut_LC_41)
set_location line_buffer.n3716_bdd_4_lut 16 18 3 # SB_LUT4 (LogicCell: line_buffer.dout_i2_LC_42)
set_location line_buffer.dout_i2 16 18 3 # SB_DFF (LogicCell: line_buffer.dout_i2_LC_42)
set_location line_buffer.n3722_bdd_4_lut 14 21 5 # SB_LUT4 (LogicCell: line_buffer.dout_i6_LC_43)
set_location line_buffer.dout_i6 14 21 5 # SB_DFF (LogicCell: line_buffer.dout_i6_LC_43)
set_location line_buffer.n3728_bdd_4_lut 16 18 5 # SB_LUT4 (LogicCell: line_buffer.dout_i4_LC_44)
set_location line_buffer.dout_i4 16 18 5 # SB_DFF (LogicCell: line_buffer.dout_i4_LC_44)
set_location line_buffer.n3734_bdd_4_lut 17 13 5 # SB_LUT4 (LogicCell: line_buffer.n3734_bdd_4_lut_LC_45)
set_location line_buffer.n3740_bdd_4_lut 20 17 3 # SB_LUT4 (LogicCell: line_buffer.n3740_bdd_4_lut_LC_46)
set_location line_buffer.n3746_bdd_4_lut 16 17 2 # SB_LUT4 (LogicCell: line_buffer.n3746_bdd_4_lut_LC_47)
set_location line_buffer.n3752_bdd_4_lut 14 17 4 # SB_LUT4 (LogicCell: line_buffer.n3752_bdd_4_lut_LC_48)
set_location line_buffer.n3758_bdd_4_lut 20 17 1 # SB_LUT4 (LogicCell: line_buffer.n3758_bdd_4_lut_LC_49)
set_location line_buffer.n3764_bdd_4_lut 13 18 6 # SB_LUT4 (LogicCell: line_buffer.n3764_bdd_4_lut_LC_50)
set_location receive_module.add_12_10_lut 15 12 0 # SB_LUT4 (LogicCell: receive_module.add_12_10_lut_LC_51)
set_location receive_module.add_12_10 15 12 0 # SB_CARRY (LogicCell: receive_module.add_12_10_lut_LC_51)
set_location receive_module.add_12_11_lut 15 12 1 # SB_LUT4 (LogicCell: receive_module.add_12_11_lut_LC_52)
set_location receive_module.add_12_11 15 12 1 # SB_CARRY (LogicCell: receive_module.add_12_11_lut_LC_52)
set_location receive_module.add_12_12_lut 15 12 2 # SB_LUT4 (LogicCell: receive_module.add_12_12_lut_LC_53)
set_location receive_module.add_12_12 15 12 2 # SB_CARRY (LogicCell: receive_module.add_12_12_lut_LC_53)
set_location receive_module.add_12_13_lut 15 12 3 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i11_LC_54)
set_location receive_module.BRAM_ADDR__i11 15 12 3 # SB_DFFESR (LogicCell: receive_module.BRAM_ADDR__i11_LC_54)
set_location receive_module.add_12_13 15 12 3 # SB_CARRY (LogicCell: receive_module.BRAM_ADDR__i11_LC_54)
set_location receive_module.add_12_14_lut 15 12 4 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i12_LC_55)
set_location receive_module.BRAM_ADDR__i12 15 12 4 # SB_DFFESR (LogicCell: receive_module.BRAM_ADDR__i12_LC_55)
set_location receive_module.add_12_14 15 12 4 # SB_CARRY (LogicCell: receive_module.BRAM_ADDR__i12_LC_55)
set_location receive_module.add_12_15_lut 15 12 5 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i13_LC_56)
set_location receive_module.BRAM_ADDR__i13 15 12 5 # SB_DFFESR (LogicCell: receive_module.BRAM_ADDR__i13_LC_56)
set_location receive_module.add_12_2_lut 15 11 0 # SB_LUT4 (LogicCell: receive_module.add_12_2_lut_LC_57)
set_location receive_module.add_12_2 15 11 0 # SB_CARRY (LogicCell: receive_module.add_12_2_lut_LC_57)
set_location receive_module.add_12_3_lut 15 11 1 # SB_LUT4 (LogicCell: receive_module.add_12_3_lut_LC_58)
set_location receive_module.add_12_3 15 11 1 # SB_CARRY (LogicCell: receive_module.add_12_3_lut_LC_58)
set_location receive_module.add_12_4_lut 15 11 2 # SB_LUT4 (LogicCell: receive_module.add_12_4_lut_LC_59)
set_location receive_module.add_12_4 15 11 2 # SB_CARRY (LogicCell: receive_module.add_12_4_lut_LC_59)
set_location receive_module.add_12_5_lut 15 11 3 # SB_LUT4 (LogicCell: receive_module.add_12_5_lut_LC_60)
set_location receive_module.add_12_5 15 11 3 # SB_CARRY (LogicCell: receive_module.add_12_5_lut_LC_60)
set_location receive_module.add_12_6_lut 15 11 4 # SB_LUT4 (LogicCell: receive_module.add_12_6_lut_LC_61)
set_location receive_module.add_12_6 15 11 4 # SB_CARRY (LogicCell: receive_module.add_12_6_lut_LC_61)
set_location receive_module.add_12_7_lut 15 11 5 # SB_LUT4 (LogicCell: receive_module.add_12_7_lut_LC_62)
set_location receive_module.add_12_7 15 11 5 # SB_CARRY (LogicCell: receive_module.add_12_7_lut_LC_62)
set_location receive_module.add_12_8_lut 15 11 6 # SB_LUT4 (LogicCell: receive_module.add_12_8_lut_LC_63)
set_location receive_module.add_12_8 15 11 6 # SB_CARRY (LogicCell: receive_module.add_12_8_lut_LC_63)
set_location receive_module.add_12_9_lut 15 11 7 # SB_LUT4 (LogicCell: receive_module.add_12_9_lut_LC_64)
set_location receive_module.add_12_9 15 11 7 # SB_CARRY (LogicCell: receive_module.add_12_9_lut_LC_64)
set_location receive_module.i1469_3_lut_4_lut 19 19 7 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i3_LC_65)
set_location receive_module.BRAM_ADDR__i3 19 19 7 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i3_LC_65)
set_location receive_module.i1471_3_lut_4_lut 15 31 1 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i4_LC_66)
set_location receive_module.BRAM_ADDR__i4 15 31 1 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i4_LC_66)
set_location receive_module.i1473_3_lut_4_lut 15 31 2 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i5_LC_67)
set_location receive_module.BRAM_ADDR__i5 15 31 2 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i5_LC_67)
set_location receive_module.i1475_3_lut_4_lut 15 31 3 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i6_LC_68)
set_location receive_module.BRAM_ADDR__i6 15 31 3 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i6_LC_68)
set_location receive_module.i1477_3_lut_4_lut 15 31 4 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i7_LC_69)
set_location receive_module.BRAM_ADDR__i7 15 31 4 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i7_LC_69)
set_location receive_module.i1479_3_lut_4_lut 15 31 5 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i8_LC_70)
set_location receive_module.BRAM_ADDR__i8 15 31 5 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i8_LC_70)
set_location receive_module.i1481_3_lut_4_lut 15 31 6 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i9_LC_71)
set_location receive_module.BRAM_ADDR__i9 15 31 6 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i9_LC_71)
set_location receive_module.i1483_3_lut_4_lut 15 23 6 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i10_LC_72)
set_location receive_module.BRAM_ADDR__i10 15 23 6 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i10_LC_72)
set_location receive_module.i1485_3_lut_4_lut 16 7 0 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i0_LC_73)
set_location receive_module.BRAM_ADDR__i0 16 7 0 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i0_LC_73)
set_location receive_module.i1487_3_lut_4_lut 16 7 1 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i1_LC_74)
set_location receive_module.BRAM_ADDR__i1 16 7 1 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i1_LC_74)
set_location receive_module.i1489_3_lut_4_lut 15 19 7 # SB_LUT4 (LogicCell: receive_module.BRAM_ADDR__i2_LC_75)
set_location receive_module.BRAM_ADDR__i2 15 19 7 # SB_DFFSR (LogicCell: receive_module.BRAM_ADDR__i2_LC_75)
set_location receive_module.i245_2_lut_rep_28 16 12 0 # SB_LUT4 (LogicCell: receive_module.i245_2_lut_rep_28_LC_76)
set_location receive_module.rx_counter.FRAME_COUNTER_243_add_4_2_lut 16 5 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i0_LC_77)
set_location receive_module.rx_counter.FRAME_COUNTER_243__i0 16 5 0 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i0_LC_77)
set_location receive_module.rx_counter.FRAME_COUNTER_243_add_4_2 16 5 0 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i0_LC_77)
set_location receive_module.rx_counter.FRAME_COUNTER_243_add_4_3_lut 16 5 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i1_LC_78)
set_location receive_module.rx_counter.FRAME_COUNTER_243__i1 16 5 1 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i1_LC_78)
set_location receive_module.rx_counter.FRAME_COUNTER_243_add_4_3 16 5 1 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i1_LC_78)
set_location receive_module.rx_counter.FRAME_COUNTER_243_add_4_4_lut 16 5 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i2_LC_79)
set_location receive_module.rx_counter.FRAME_COUNTER_243__i2 16 5 2 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i2_LC_79)
set_location receive_module.rx_counter.FRAME_COUNTER_243_add_4_4 16 5 2 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i2_LC_79)
set_location receive_module.rx_counter.FRAME_COUNTER_243_add_4_5_lut 16 5 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i3_LC_80)
set_location receive_module.rx_counter.FRAME_COUNTER_243__i3 16 5 3 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i3_LC_80)
set_location receive_module.rx_counter.FRAME_COUNTER_243_add_4_5 16 5 3 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i3_LC_80)
set_location receive_module.rx_counter.FRAME_COUNTER_243_add_4_6_lut 16 5 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i4_LC_81)
set_location receive_module.rx_counter.FRAME_COUNTER_243__i4 16 5 4 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i4_LC_81)
set_location receive_module.rx_counter.FRAME_COUNTER_243_add_4_6 16 5 4 # SB_CARRY (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i4_LC_81)
set_location receive_module.rx_counter.FRAME_COUNTER_243_add_4_7_lut 16 5 5 # SB_LUT4 (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i5_LC_82)
set_location receive_module.rx_counter.FRAME_COUNTER_243__i5 16 5 5 # SB_DFFESR (LogicCell: receive_module.rx_counter.FRAME_COUNTER_243__i5_LC_82)
set_location receive_module.rx_counter.O_VS_I_0_1_lut_rep_26 15 7 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.O_VS_I_0_1_lut_rep_26_LC_83)
set_location receive_module.rx_counter.X_242_add_4_10_lut 17 11 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_242__i8_LC_84)
set_location receive_module.rx_counter.X_242__i8 17 11 0 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_242__i8_LC_84)
set_location receive_module.rx_counter.X_242_add_4_10 17 11 0 # SB_CARRY (LogicCell: receive_module.rx_counter.X_242__i8_LC_84)
set_location receive_module.rx_counter.X_242_add_4_11_lut 17 11 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_242__i9_LC_85)
set_location receive_module.rx_counter.X_242__i9 17 11 1 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_242__i9_LC_85)
set_location receive_module.rx_counter.X_242_add_4_2_lut 17 10 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_242__i0_LC_86)
set_location receive_module.rx_counter.X_242__i0 17 10 0 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_242__i0_LC_86)
set_location receive_module.rx_counter.X_242_add_4_2 17 10 0 # SB_CARRY (LogicCell: receive_module.rx_counter.X_242__i0_LC_86)
set_location receive_module.rx_counter.X_242_add_4_3_lut 17 10 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_242__i1_LC_87)
set_location receive_module.rx_counter.X_242__i1 17 10 1 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_242__i1_LC_87)
set_location receive_module.rx_counter.X_242_add_4_3 17 10 1 # SB_CARRY (LogicCell: receive_module.rx_counter.X_242__i1_LC_87)
set_location receive_module.rx_counter.X_242_add_4_4_lut 17 10 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_242__i2_LC_88)
set_location receive_module.rx_counter.X_242__i2 17 10 2 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_242__i2_LC_88)
set_location receive_module.rx_counter.X_242_add_4_4 17 10 2 # SB_CARRY (LogicCell: receive_module.rx_counter.X_242__i2_LC_88)
set_location receive_module.rx_counter.X_242_add_4_5_lut 17 10 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_242__i3_LC_89)
set_location receive_module.rx_counter.X_242__i3 17 10 3 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_242__i3_LC_89)
set_location receive_module.rx_counter.X_242_add_4_5 17 10 3 # SB_CARRY (LogicCell: receive_module.rx_counter.X_242__i3_LC_89)
set_location receive_module.rx_counter.X_242_add_4_6_lut 17 10 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_242__i4_LC_90)
set_location receive_module.rx_counter.X_242__i4 17 10 4 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_242__i4_LC_90)
set_location receive_module.rx_counter.X_242_add_4_6 17 10 4 # SB_CARRY (LogicCell: receive_module.rx_counter.X_242__i4_LC_90)
set_location receive_module.rx_counter.X_242_add_4_7_lut 17 10 5 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_242__i5_LC_91)
set_location receive_module.rx_counter.X_242__i5 17 10 5 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_242__i5_LC_91)
set_location receive_module.rx_counter.X_242_add_4_7 17 10 5 # SB_CARRY (LogicCell: receive_module.rx_counter.X_242__i5_LC_91)
set_location receive_module.rx_counter.X_242_add_4_8_lut 17 10 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_242__i6_LC_92)
set_location receive_module.rx_counter.X_242__i6 17 10 6 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_242__i6_LC_92)
set_location receive_module.rx_counter.X_242_add_4_8 17 10 6 # SB_CARRY (LogicCell: receive_module.rx_counter.X_242__i6_LC_92)
set_location receive_module.rx_counter.X_242_add_4_9_lut 17 10 7 # SB_LUT4 (LogicCell: receive_module.rx_counter.X_242__i7_LC_93)
set_location receive_module.rx_counter.X_242__i7 17 10 7 # SB_DFFSR (LogicCell: receive_module.rx_counter.X_242__i7_LC_93)
set_location receive_module.rx_counter.X_242_add_4_9 17 10 7 # SB_CARRY (LogicCell: receive_module.rx_counter.X_242__i7_LC_93)
set_location receive_module.rx_counter.add_5_10_lut 13 11 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i8_LC_94)
set_location receive_module.rx_counter.Y__i8 13 11 0 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i8_LC_94)
set_location receive_module.rx_counter.add_5_2_lut 13 10 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i0_LC_95)
set_location receive_module.rx_counter.Y__i0 13 10 0 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i0_LC_95)
set_location receive_module.rx_counter.add_5_2 13 10 0 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i0_LC_95)
set_location receive_module.rx_counter.add_5_3_lut 13 10 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i1_LC_96)
set_location receive_module.rx_counter.Y__i1 13 10 1 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i1_LC_96)
set_location receive_module.rx_counter.add_5_3 13 10 1 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i1_LC_96)
set_location receive_module.rx_counter.add_5_4_lut 13 10 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i2_LC_97)
set_location receive_module.rx_counter.Y__i2 13 10 2 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i2_LC_97)
set_location receive_module.rx_counter.add_5_4 13 10 2 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i2_LC_97)
set_location receive_module.rx_counter.add_5_5_lut 13 10 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i3_LC_98)
set_location receive_module.rx_counter.Y__i3 13 10 3 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i3_LC_98)
set_location receive_module.rx_counter.add_5_5 13 10 3 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i3_LC_98)
set_location receive_module.rx_counter.add_5_6_lut 13 10 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i4_LC_99)
set_location receive_module.rx_counter.Y__i4 13 10 4 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i4_LC_99)
set_location receive_module.rx_counter.add_5_6 13 10 4 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i4_LC_99)
set_location receive_module.rx_counter.add_5_7_lut 13 10 5 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i5_LC_100)
set_location receive_module.rx_counter.Y__i5 13 10 5 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i5_LC_100)
set_location receive_module.rx_counter.add_5_7 13 10 5 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i5_LC_100)
set_location receive_module.rx_counter.add_5_8_lut 13 10 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i6_LC_101)
set_location receive_module.rx_counter.Y__i6 13 10 6 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i6_LC_101)
set_location receive_module.rx_counter.add_5_8 13 10 6 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i6_LC_101)
set_location receive_module.rx_counter.add_5_9_lut 13 10 7 # SB_LUT4 (LogicCell: receive_module.rx_counter.Y__i7_LC_102)
set_location receive_module.rx_counter.Y__i7 13 10 7 # SB_DFFESR (LogicCell: receive_module.rx_counter.Y__i7_LC_102)
set_location receive_module.rx_counter.add_5_9 13 10 7 # SB_CARRY (LogicCell: receive_module.rx_counter.Y__i7_LC_102)
set_location receive_module.rx_counter.i1286_2_lut_3_lut 15 5 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1286_2_lut_3_lut_LC_103)
set_location receive_module.rx_counter.i129_2_lut_rep_25 15 5 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.i129_2_lut_rep_25_LC_104)
set_location receive_module.rx_counter.i1_2_lut 15 5 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1_2_lut_LC_105)
set_location receive_module.rx_counter.i1_2_lut_3_lut 14 10 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1_2_lut_3_lut_LC_106)
set_location receive_module.rx_counter.i1_2_lut_adj_18 15 4 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.PULSE_1HZ_49_LC_107)
set_location receive_module.rx_counter.PULSE_1HZ_49 15 4 6 # SB_DFFE (LogicCell: receive_module.rx_counter.PULSE_1HZ_49_LC_107)
set_location receive_module.rx_counter.i1_2_lut_adj_20 14 10 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1_2_lut_adj_20_LC_108)
set_location receive_module.rx_counter.i1_2_lut_adj_22 16 10 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1_2_lut_adj_22_LC_109)
set_location receive_module.rx_counter.i1_4_lut 15 10 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.i1_4_lut_LC_110)
set_location receive_module.rx_counter.i2208_4_lut 16 10 5 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2208_4_lut_LC_111)
set_location receive_module.rx_counter.i2302_2_lut 15 5 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2302_2_lut_LC_112)
set_location receive_module.rx_counter.i2360_4_lut 14 11 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.SYNC_46_LC_113)
set_location receive_module.rx_counter.SYNC_46 14 11 3 # SB_DFF (LogicCell: receive_module.rx_counter.SYNC_46_LC_113)
set_location receive_module.rx_counter.i2363_4_lut 16 12 7 # SB_LUT4 (LogicCell: receive_module.rx_counter.O_VISIBLE_53_LC_114)
set_location receive_module.rx_counter.O_VISIBLE_53 16 12 7 # SB_DFF (LogicCell: receive_module.rx_counter.O_VISIBLE_53_LC_114)
set_location receive_module.rx_counter.i248_3_lut_3_lut_3_lut 15 10 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.i248_3_lut_3_lut_3_lut_LC_115)
set_location receive_module.rx_counter.i2_2_lut 14 10 0 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_2_lut_LC_116)
set_location receive_module.rx_counter.i2_2_lut_adj_19 16 10 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_2_lut_adj_19_LC_117)
set_location receive_module.rx_counter.i2_3_lut 14 10 5 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_3_lut_LC_118)
set_location receive_module.rx_counter.i2_4_lut 16 10 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_4_lut_LC_119)
set_location receive_module.rx_counter.i2_4_lut_adj_21 14 10 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.i2_4_lut_adj_21_LC_120)
set_location receive_module.rx_counter.i3_4_lut 14 10 7 # SB_LUT4 (LogicCell: receive_module.rx_counter.i3_4_lut_LC_121)
set_location receive_module.rx_counter.i592_2_lut_rep_24 14 10 3 # SB_LUT4 (LogicCell: receive_module.rx_counter.i592_2_lut_rep_24_LC_122)
set_location receive_module.rx_counter.i59_4_lut 16 11 1 # SB_LUT4 (LogicCell: receive_module.rx_counter.i59_4_lut_LC_123)
set_location receive_module.rx_counter.i5_1_lut_rep_23 17 9 6 # SB_LUT4 (LogicCell: receive_module.rx_counter.i5_1_lut_rep_23_LC_124)
set_location receive_module.rx_counter.i5_4_lut 15 5 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.i5_4_lut_LC_125)
set_location receive_module.rx_counter.i6_4_lut 14 10 2 # SB_LUT4 (LogicCell: receive_module.rx_counter.i6_4_lut_LC_126)
set_location transmit_module.add_13_10_lut 15 14 0 # SB_LUT4 (LogicCell: transmit_module.add_13_10_lut_LC_127)
set_location transmit_module.add_13_10 15 14 0 # SB_CARRY (LogicCell: transmit_module.add_13_10_lut_LC_127)
set_location transmit_module.add_13_11_lut 15 14 1 # SB_LUT4 (LogicCell: transmit_module.add_13_11_lut_LC_128)
set_location transmit_module.add_13_11 15 14 1 # SB_CARRY (LogicCell: transmit_module.add_13_11_lut_LC_128)
set_location transmit_module.add_13_12_lut 15 14 2 # SB_LUT4 (LogicCell: transmit_module.add_13_12_lut_LC_129)
set_location transmit_module.add_13_12 15 14 2 # SB_CARRY (LogicCell: transmit_module.add_13_12_lut_LC_129)
set_location transmit_module.add_13_13_lut 15 14 3 # SB_LUT4 (LogicCell: transmit_module.add_13_13_lut_LC_130)
set_location transmit_module.add_13_13 15 14 3 # SB_CARRY (LogicCell: transmit_module.add_13_13_lut_LC_130)
set_location transmit_module.add_13_14_lut 15 14 4 # SB_LUT4 (LogicCell: transmit_module.add_13_14_lut_LC_131)
set_location transmit_module.add_13_14 15 14 4 # SB_CARRY (LogicCell: transmit_module.add_13_14_lut_LC_131)
set_location transmit_module.add_13_15_lut 15 14 5 # SB_LUT4 (LogicCell: transmit_module.add_13_15_lut_LC_132)
set_location transmit_module.add_13_2_lut 15 13 0 # SB_LUT4 (LogicCell: transmit_module.add_13_2_lut_LC_133)
set_location transmit_module.add_13_2 15 13 0 # SB_CARRY (LogicCell: transmit_module.add_13_2_lut_LC_133)
set_location transmit_module.add_13_3_lut 15 13 1 # SB_LUT4 (LogicCell: transmit_module.add_13_3_lut_LC_134)
set_location transmit_module.add_13_3 15 13 1 # SB_CARRY (LogicCell: transmit_module.add_13_3_lut_LC_134)
set_location transmit_module.add_13_4_lut 15 13 2 # SB_LUT4 (LogicCell: transmit_module.add_13_4_lut_LC_135)
set_location transmit_module.add_13_4 15 13 2 # SB_CARRY (LogicCell: transmit_module.add_13_4_lut_LC_135)
set_location transmit_module.add_13_5_lut 15 13 3 # SB_LUT4 (LogicCell: transmit_module.add_13_5_lut_LC_136)
set_location transmit_module.add_13_5 15 13 3 # SB_CARRY (LogicCell: transmit_module.add_13_5_lut_LC_136)
set_location transmit_module.add_13_6_lut 15 13 4 # SB_LUT4 (LogicCell: transmit_module.add_13_6_lut_LC_137)
set_location transmit_module.add_13_6 15 13 4 # SB_CARRY (LogicCell: transmit_module.add_13_6_lut_LC_137)
set_location transmit_module.add_13_7_lut 15 13 5 # SB_LUT4 (LogicCell: transmit_module.add_13_7_lut_LC_138)
set_location transmit_module.add_13_7 15 13 5 # SB_CARRY (LogicCell: transmit_module.add_13_7_lut_LC_138)
set_location transmit_module.add_13_8_lut 15 13 6 # SB_LUT4 (LogicCell: transmit_module.add_13_8_lut_LC_139)
set_location transmit_module.add_13_8 15 13 6 # SB_CARRY (LogicCell: transmit_module.add_13_8_lut_LC_139)
set_location transmit_module.add_13_9_lut 15 13 7 # SB_LUT4 (LogicCell: transmit_module.add_13_9_lut_LC_140)
set_location transmit_module.add_13_9 15 13 7 # SB_CARRY (LogicCell: transmit_module.add_13_9_lut_LC_140)
set_location transmit_module.i1595_4_lut 14 27 0 # SB_LUT4 (LogicCell: transmit_module.i1595_4_lut_LC_141)
set_location transmit_module.i1600_4_lut 14 15 7 # SB_LUT4 (LogicCell: transmit_module.i1600_4_lut_LC_142)
set_location transmit_module.i1601_4_lut 16 19 0 # SB_LUT4 (LogicCell: transmit_module.i1601_4_lut_LC_143)
set_location transmit_module.i1602_4_lut 16 19 3 # SB_LUT4 (LogicCell: transmit_module.i1602_4_lut_LC_144)
set_location transmit_module.i1603_4_lut 13 15 2 # SB_LUT4 (LogicCell: transmit_module.i1603_4_lut_LC_145)
set_location transmit_module.i1604_4_lut 13 15 7 # SB_LUT4 (LogicCell: transmit_module.i1604_4_lut_LC_146)
set_location transmit_module.i1605_4_lut 14 28 2 # SB_LUT4 (LogicCell: transmit_module.i1605_4_lut_LC_147)
set_location transmit_module.i1606_4_lut 14 31 7 # SB_LUT4 (LogicCell: transmit_module.i1606_4_lut_LC_148)
set_location transmit_module.i1607_4_lut 16 23 1 # SB_LUT4 (LogicCell: transmit_module.i1607_4_lut_LC_149)
set_location transmit_module.i1608_4_lut 16 15 6 # SB_LUT4 (LogicCell: transmit_module.i1608_4_lut_LC_150)
set_location transmit_module.i1609_4_lut 14 19 0 # SB_LUT4 (LogicCell: transmit_module.i1609_4_lut_LC_151)
set_location transmit_module.i1613_4_lut 15 15 5 # SB_LUT4 (LogicCell: transmit_module.i1613_4_lut_LC_152)
set_location transmit_module.i1_3_lut 12 15 5 # SB_LUT4 (LogicCell: transmit_module.i1_3_lut_LC_153)
set_location transmit_module.i246_2_lut_4_lut 13 15 3 # SB_LUT4 (LogicCell: transmit_module.i246_2_lut_4_lut_LC_154)
set_location transmit_module.i246_2_lut_4_lut_rep_30 12 15 7 # SB_LUT4 (LogicCell: transmit_module.i246_2_lut_4_lut_rep_30_LC_155)
set_location transmit_module.i246_2_lut_4_lut_rep_31 13 15 0 # SB_LUT4 (LogicCell: transmit_module.i246_2_lut_4_lut_rep_31_LC_156)
set_location transmit_module.i2_3_lut 12 15 3 # SB_LUT4 (LogicCell: transmit_module.i2_3_lut_LC_157)
set_location transmit_module.i2_3_lut_rep_20 12 15 2 # SB_LUT4 (LogicCell: transmit_module.i2_3_lut_rep_20_LC_158)
set_location transmit_module.mux_12_i10_3_lut 15 15 4 # SB_LUT4 (LogicCell: transmit_module.mux_12_i10_3_lut_LC_159)
set_location transmit_module.mux_12_i11_3_lut 14 15 3 # SB_LUT4 (LogicCell: transmit_module.mux_12_i11_3_lut_LC_160)
set_location transmit_module.mux_12_i1_3_lut 14 19 4 # SB_LUT4 (LogicCell: transmit_module.mux_12_i1_3_lut_LC_161)
set_location transmit_module.mux_12_i2_3_lut 14 15 2 # SB_LUT4 (LogicCell: transmit_module.mux_12_i2_3_lut_LC_162)
set_location transmit_module.mux_12_i3_3_lut 16 18 7 # SB_LUT4 (LogicCell: transmit_module.mux_12_i3_3_lut_LC_163)
set_location transmit_module.mux_12_i4_3_lut 16 19 5 # SB_LUT4 (LogicCell: transmit_module.mux_12_i4_3_lut_LC_164)
set_location transmit_module.mux_12_i5_3_lut 13 15 1 # SB_LUT4 (LogicCell: transmit_module.mux_12_i5_3_lut_LC_165)
set_location transmit_module.mux_12_i6_3_lut 13 15 6 # SB_LUT4 (LogicCell: transmit_module.mux_12_i6_3_lut_LC_166)
set_location transmit_module.mux_12_i7_3_lut 14 17 3 # SB_LUT4 (LogicCell: transmit_module.mux_12_i7_3_lut_LC_167)
set_location transmit_module.mux_12_i8_3_lut 14 11 5 # SB_LUT4 (LogicCell: transmit_module.mux_12_i8_3_lut_LC_168)
set_location transmit_module.mux_12_i9_3_lut 16 15 3 # SB_LUT4 (LogicCell: transmit_module.mux_12_i9_3_lut_LC_169)
set_location transmit_module.mux_14_i10_3_lut 16 15 5 # SB_LUT4 (LogicCell: transmit_module.mux_14_i10_3_lut_LC_170)
set_location transmit_module.mux_14_i11_3_lut 14 15 0 # SB_LUT4 (LogicCell: transmit_module.mux_14_i11_3_lut_LC_171)
set_location transmit_module.mux_14_i1_3_lut 14 15 4 # SB_LUT4 (LogicCell: transmit_module.mux_14_i1_3_lut_LC_172)
set_location transmit_module.mux_14_i2_3_lut 14 15 6 # SB_LUT4 (LogicCell: transmit_module.mux_14_i2_3_lut_LC_173)
set_location transmit_module.mux_14_i3_3_lut 15 18 2 # SB_LUT4 (LogicCell: transmit_module.mux_14_i3_3_lut_LC_174)
set_location transmit_module.mux_14_i4_3_lut 16 19 2 # SB_LUT4 (LogicCell: transmit_module.mux_14_i4_3_lut_LC_175)
set_location transmit_module.mux_14_i5_3_lut 14 14 1 # SB_LUT4 (LogicCell: transmit_module.mux_14_i5_3_lut_LC_176)
set_location transmit_module.mux_14_i6_3_lut 14 14 3 # SB_LUT4 (LogicCell: transmit_module.mux_14_i6_3_lut_LC_177)
set_location transmit_module.mux_14_i7_3_lut 14 14 5 # SB_LUT4 (LogicCell: transmit_module.mux_14_i7_3_lut_LC_178)
set_location transmit_module.mux_14_i8_3_lut 14 14 7 # SB_LUT4 (LogicCell: transmit_module.mux_14_i8_3_lut_LC_179)
set_location transmit_module.mux_14_i9_3_lut 16 15 1 # SB_LUT4 (LogicCell: transmit_module.mux_14_i9_3_lut_LC_180)
set_location transmit_module.mux_18_i12_3_lut 15 17 6 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__rep_1_i0_LC_181)
set_location transmit_module.BRAM_ADDR__rep_1_i0 15 17 6 # SB_DFFESR (LogicCell: transmit_module.BRAM_ADDR__rep_1_i0_LC_181)
set_location transmit_module.mux_18_i13_3_lut 15 16 1 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i12_LC_182)
set_location transmit_module.BRAM_ADDR__i12 15 16 1 # SB_DFFESR (LogicCell: transmit_module.BRAM_ADDR__i12_LC_182)
set_location transmit_module.mux_18_i14_3_lut 15 16 5 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i13_LC_183)
set_location transmit_module.BRAM_ADDR__i13 15 16 5 # SB_DFFESR (LogicCell: transmit_module.BRAM_ADDR__i13_LC_183)
set_location transmit_module.video_signal_controller.VGA_VISIBLE_N_578_I_0_2_lut 13 14 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_VISIBLE_Y_64_LC_184)
set_location transmit_module.video_signal_controller.VGA_VISIBLE_Y_64 13 14 2 # SB_DFF (LogicCell: transmit_module.video_signal_controller.VGA_VISIBLE_Y_64_LC_184)
set_location transmit_module.video_signal_controller.add_35_10_lut 10 16 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i8_LC_185)
set_location transmit_module.video_signal_controller.VGA_X_i8 10 16 0 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i8_LC_185)
set_location transmit_module.video_signal_controller.add_35_10 10 16 0 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_i8_LC_185)
set_location transmit_module.video_signal_controller.add_35_11_lut 10 16 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i9_LC_186)
set_location transmit_module.video_signal_controller.VGA_X_i9 10 16 1 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i9_LC_186)
set_location transmit_module.video_signal_controller.add_35_11 10 16 1 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_i9_LC_186)
set_location transmit_module.video_signal_controller.add_35_12_lut 10 16 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i10_LC_187)
set_location transmit_module.video_signal_controller.VGA_X_i10 10 16 2 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i10_LC_187)
set_location transmit_module.video_signal_controller.add_35_12 10 16 2 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_i10_LC_187)
set_location transmit_module.video_signal_controller.add_35_13_lut 10 16 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i11_LC_188)
set_location transmit_module.video_signal_controller.VGA_X_i11 10 16 3 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i11_LC_188)
set_location transmit_module.video_signal_controller.add_35_2_lut 10 15 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i0_LC_189)
set_location transmit_module.video_signal_controller.VGA_X_i0 10 15 0 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i0_LC_189)
set_location transmit_module.video_signal_controller.add_35_2 10 15 0 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_i0_LC_189)
set_location transmit_module.video_signal_controller.add_35_3_lut 10 15 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i1_LC_190)
set_location transmit_module.video_signal_controller.VGA_X_i1 10 15 1 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i1_LC_190)
set_location transmit_module.video_signal_controller.add_35_3 10 15 1 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_i1_LC_190)
set_location transmit_module.video_signal_controller.add_35_4_lut 10 15 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i2_LC_191)
set_location transmit_module.video_signal_controller.VGA_X_i2 10 15 2 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i2_LC_191)
set_location transmit_module.video_signal_controller.add_35_4 10 15 2 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_i2_LC_191)
set_location transmit_module.video_signal_controller.add_35_5_lut 10 15 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i3_LC_192)
set_location transmit_module.video_signal_controller.VGA_X_i3 10 15 3 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i3_LC_192)
set_location transmit_module.video_signal_controller.add_35_5 10 15 3 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_i3_LC_192)
set_location transmit_module.video_signal_controller.add_35_6_lut 10 15 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i4_LC_193)
set_location transmit_module.video_signal_controller.VGA_X_i4 10 15 4 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i4_LC_193)
set_location transmit_module.video_signal_controller.add_35_6 10 15 4 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_i4_LC_193)
set_location transmit_module.video_signal_controller.add_35_7_lut 10 15 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i5_LC_194)
set_location transmit_module.video_signal_controller.VGA_X_i5 10 15 5 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i5_LC_194)
set_location transmit_module.video_signal_controller.add_35_7 10 15 5 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_i5_LC_194)
set_location transmit_module.video_signal_controller.add_35_8_lut 10 15 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i6_LC_195)
set_location transmit_module.video_signal_controller.VGA_X_i6 10 15 6 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i6_LC_195)
set_location transmit_module.video_signal_controller.add_35_8 10 15 6 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_i6_LC_195)
set_location transmit_module.video_signal_controller.add_35_9_lut 10 15 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_X_i7_LC_196)
set_location transmit_module.video_signal_controller.VGA_X_i7 10 15 7 # SB_DFFSR (LogicCell: transmit_module.video_signal_controller.VGA_X_i7_LC_196)
set_location transmit_module.video_signal_controller.add_35_9 10 15 7 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_X_i7_LC_196)
set_location transmit_module.video_signal_controller.add_42_10_lut 12 14 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i8_LC_197)
set_location transmit_module.video_signal_controller.VGA_Y_i8 12 14 0 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i8_LC_197)
set_location transmit_module.video_signal_controller.add_42_10 12 14 0 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_i8_LC_197)
set_location transmit_module.video_signal_controller.add_42_11_lut 12 14 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i9_LC_198)
set_location transmit_module.video_signal_controller.VGA_Y_i9 12 14 1 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i9_LC_198)
set_location transmit_module.video_signal_controller.add_42_11 12 14 1 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_i9_LC_198)
set_location transmit_module.video_signal_controller.add_42_12_lut 12 14 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i10_LC_199)
set_location transmit_module.video_signal_controller.VGA_Y_i10 12 14 2 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i10_LC_199)
set_location transmit_module.video_signal_controller.add_42_12 12 14 2 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_i10_LC_199)
set_location transmit_module.video_signal_controller.add_42_13_lut 12 14 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i11_LC_200)
set_location transmit_module.video_signal_controller.VGA_Y_i11 12 14 3 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i11_LC_200)
set_location transmit_module.video_signal_controller.add_42_2_lut 12 13 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i0_LC_201)
set_location transmit_module.video_signal_controller.VGA_Y_i0 12 13 0 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i0_LC_201)
set_location transmit_module.video_signal_controller.add_42_2 12 13 0 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_i0_LC_201)
set_location transmit_module.video_signal_controller.add_42_3_lut 12 13 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i1_LC_202)
set_location transmit_module.video_signal_controller.VGA_Y_i1 12 13 1 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i1_LC_202)
set_location transmit_module.video_signal_controller.add_42_3 12 13 1 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_i1_LC_202)
set_location transmit_module.video_signal_controller.add_42_4_lut 12 13 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i2_LC_203)
set_location transmit_module.video_signal_controller.VGA_Y_i2 12 13 2 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i2_LC_203)
set_location transmit_module.video_signal_controller.add_42_4 12 13 2 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_i2_LC_203)
set_location transmit_module.video_signal_controller.add_42_5_lut 12 13 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i3_LC_204)
set_location transmit_module.video_signal_controller.VGA_Y_i3 12 13 3 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i3_LC_204)
set_location transmit_module.video_signal_controller.add_42_5 12 13 3 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_i3_LC_204)
set_location transmit_module.video_signal_controller.add_42_6_lut 12 13 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i4_LC_205)
set_location transmit_module.video_signal_controller.VGA_Y_i4 12 13 4 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i4_LC_205)
set_location transmit_module.video_signal_controller.add_42_6 12 13 4 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_i4_LC_205)
set_location transmit_module.video_signal_controller.add_42_7_lut 12 13 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i5_LC_206)
set_location transmit_module.video_signal_controller.VGA_Y_i5 12 13 5 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i5_LC_206)
set_location transmit_module.video_signal_controller.add_42_7 12 13 5 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_i5_LC_206)
set_location transmit_module.video_signal_controller.add_42_8_lut 12 13 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i6_LC_207)
set_location transmit_module.video_signal_controller.VGA_Y_i6 12 13 6 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i6_LC_207)
set_location transmit_module.video_signal_controller.add_42_8 12 13 6 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_i6_LC_207)
set_location transmit_module.video_signal_controller.add_42_9_lut 12 13 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_Y_i7_LC_208)
set_location transmit_module.video_signal_controller.VGA_Y_i7 12 13 7 # SB_DFFESR (LogicCell: transmit_module.video_signal_controller.VGA_Y_i7_LC_208)
set_location transmit_module.video_signal_controller.add_42_9 12 13 7 # SB_CARRY (LogicCell: transmit_module.video_signal_controller.VGA_Y_i7_LC_208)
set_location transmit_module.video_signal_controller.i10_4_lut 14 15 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_VS_67_LC_209)
set_location transmit_module.video_signal_controller.VGA_VS_67 14 15 5 # SB_DFF (LogicCell: transmit_module.video_signal_controller.VGA_VS_67_LC_209)
set_location transmit_module.video_signal_controller.i1120_1_lut 15 20 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1120_1_lut_LC_210)
set_location transmit_module.video_signal_controller.i1136_2_lut 11 14 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1136_2_lut_LC_211)
set_location transmit_module.video_signal_controller.i1643_2_lut 10 14 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1643_2_lut_LC_212)
set_location transmit_module.video_signal_controller.i1653_2_lut_3_lut 10 14 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1653_2_lut_3_lut_LC_213)
set_location transmit_module.video_signal_controller.i1693_4_lut 11 14 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1693_4_lut_LC_214)
set_location transmit_module.video_signal_controller.i1699_4_lut 11 14 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1699_4_lut_LC_215)
set_location transmit_module.video_signal_controller.i1_2_lut 13 14 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_LC_216)
set_location transmit_module.video_signal_controller.i1_2_lut_3_lut 11 14 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_3_lut_LC_217)
set_location transmit_module.video_signal_controller.i1_2_lut_3_lut_adj_27 13 13 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_3_lut_adj_27_LC_218)
set_location transmit_module.video_signal_controller.i1_2_lut_adj_23 10 14 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_adj_23_LC_219)
set_location transmit_module.video_signal_controller.i1_2_lut_rep_18 13 13 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_rep_18_LC_220)
set_location transmit_module.video_signal_controller.i1_2_lut_rep_19 13 13 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_rep_19_LC_221)
set_location transmit_module.video_signal_controller.i1_2_lut_rep_21 10 14 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_2_lut_rep_21_LC_222)
set_location transmit_module.video_signal_controller.i1_4_lut 13 13 7 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_4_lut_LC_223)
set_location transmit_module.video_signal_controller.i1_4_lut_adj_24 13 13 3 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_4_lut_adj_24_LC_224)
set_location transmit_module.video_signal_controller.i1_4_lut_adj_25 10 14 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_4_lut_adj_25_LC_225)
set_location transmit_module.video_signal_controller.i1_4_lut_adj_26 11 15 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i1_4_lut_adj_26_LC_226)
set_location transmit_module.video_signal_controller.i2288_2_lut 13 14 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2288_2_lut_LC_227)
set_location transmit_module.video_signal_controller.i2292_4_lut 11 15 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2292_4_lut_LC_228)
set_location transmit_module.video_signal_controller.i2300_2_lut 14 13 0 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2300_2_lut_LC_229)
set_location transmit_module.video_signal_controller.i2306_4_lut 13 14 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2306_4_lut_LC_230)
set_location transmit_module.video_signal_controller.i2357_4_lut 11 15 2 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_HS_66_LC_231)
set_location transmit_module.video_signal_controller.VGA_HS_66 11 15 2 # SB_DFF (LogicCell: transmit_module.video_signal_controller.VGA_HS_66_LC_231)
set_location transmit_module.video_signal_controller.i2_2_lut_3_lut 13 13 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2_2_lut_3_lut_LC_232)
set_location transmit_module.video_signal_controller.i2_3_lut_rep_27 11 15 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2_3_lut_rep_27_LC_233)
set_location transmit_module.video_signal_controller.i2_4_lut 13 13 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2_4_lut_LC_234)
set_location transmit_module.video_signal_controller.i2_4_lut_4_lut 11 14 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i2_4_lut_4_lut_LC_235)
set_location transmit_module.video_signal_controller.i483_4_lut 11 14 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i483_4_lut_LC_236)
set_location transmit_module.video_signal_controller.i495_2_lut_rep_22 10 14 6 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i495_2_lut_rep_22_LC_237)
set_location transmit_module.video_signal_controller.i4_4_lut 13 15 5 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.VGA_VISIBLE_65_LC_238)
set_location transmit_module.video_signal_controller.VGA_VISIBLE_65 13 15 5 # SB_DFF (LogicCell: transmit_module.video_signal_controller.VGA_VISIBLE_65_LC_238)
set_location transmit_module.video_signal_controller.i5_4_lut 13 13 4 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i5_4_lut_LC_239)
set_location transmit_module.video_signal_controller.i7_4_lut 14 13 1 # SB_LUT4 (LogicCell: transmit_module.video_signal_controller.i7_4_lut_LC_240)
set_location receive_module.rx_counter.old_HS_51_THRU_LUT4_0 15 10 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.old_HS_51_LC_241)
set_location receive_module.rx_counter.old_HS_51 15 10 4 # SB_DFF (LogicCell: receive_module.rx_counter.old_HS_51_LC_241)
set_location receive_module.rx_counter.old_VS_52_THRU_LUT4_0 15 5 4 # SB_LUT4 (LogicCell: receive_module.rx_counter.old_VS_52_LC_242)
set_location receive_module.rx_counter.old_VS_52 15 5 4 # SB_DFF (LogicCell: receive_module.rx_counter.old_VS_52_LC_242)
set_location sync_buffer.BUFFER_i0_THRU_LUT4_0 16 14 5 # SB_LUT4 (LogicCell: sync_buffer.BUFFER_i0_LC_243)
set_location sync_buffer.BUFFER_i0 16 14 5 # SB_DFFN (LogicCell: sync_buffer.BUFFER_i0_LC_243)
set_location sync_buffer.BUFFER_i1_THRU_LUT4_0 16 14 7 # SB_LUT4 (LogicCell: sync_buffer.BUFFER_i1_LC_244)
set_location sync_buffer.BUFFER_i1 16 14 7 # SB_DFFN (LogicCell: sync_buffer.BUFFER_i1_LC_244)
set_location sync_buffer.WIRE_OUT_8_THRU_LUT4_0 16 14 1 # SB_LUT4 (LogicCell: sync_buffer.WIRE_OUT_8_LC_245)
set_location sync_buffer.WIRE_OUT_8 16 14 1 # SB_DFFN (LogicCell: sync_buffer.WIRE_OUT_8_LC_245)
set_location transmit_module.ADDR_Y_COMPONENT__i0_THRU_LUT4_0 14 18 2 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i0_LC_246)
set_location transmit_module.ADDR_Y_COMPONENT__i0 14 18 2 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i0_LC_246)
set_location transmit_module.ADDR_Y_COMPONENT__i1_THRU_LUT4_0 13 16 1 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i1_LC_247)
set_location transmit_module.ADDR_Y_COMPONENT__i1 13 16 1 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i1_LC_247)
set_location transmit_module.ADDR_Y_COMPONENT__i10_THRU_LUT4_0 13 16 2 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i10_LC_248)
set_location transmit_module.ADDR_Y_COMPONENT__i10 13 16 2 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i10_LC_248)
set_location transmit_module.ADDR_Y_COMPONENT__i11_THRU_LUT4_0 12 17 0 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i11_LC_249)
set_location transmit_module.ADDR_Y_COMPONENT__i11 12 17 0 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i11_LC_249)
set_location transmit_module.ADDR_Y_COMPONENT__i12_THRU_LUT4_0 13 16 0 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i12_LC_250)
set_location transmit_module.ADDR_Y_COMPONENT__i12 13 16 0 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i12_LC_250)
set_location transmit_module.ADDR_Y_COMPONENT__i13_THRU_LUT4_0 16 16 3 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i13_LC_251)
set_location transmit_module.ADDR_Y_COMPONENT__i13 16 16 3 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i13_LC_251)
set_location transmit_module.ADDR_Y_COMPONENT__i2_THRU_LUT4_0 16 19 4 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i2_LC_252)
set_location transmit_module.ADDR_Y_COMPONENT__i2 16 19 4 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i2_LC_252)
set_location transmit_module.ADDR_Y_COMPONENT__i3_THRU_LUT4_0 16 19 6 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i3_LC_253)
set_location transmit_module.ADDR_Y_COMPONENT__i3 16 19 6 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i3_LC_253)
set_location transmit_module.ADDR_Y_COMPONENT__i4_THRU_LUT4_0 13 16 6 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i4_LC_254)
set_location transmit_module.ADDR_Y_COMPONENT__i4 13 16 6 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i4_LC_254)
set_location transmit_module.ADDR_Y_COMPONENT__i5_THRU_LUT4_0 13 16 7 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i5_LC_255)
set_location transmit_module.ADDR_Y_COMPONENT__i5 13 16 7 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i5_LC_255)
set_location transmit_module.ADDR_Y_COMPONENT__i6_THRU_LUT4_0 14 18 1 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i6_LC_256)
set_location transmit_module.ADDR_Y_COMPONENT__i6 14 18 1 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i6_LC_256)
set_location transmit_module.ADDR_Y_COMPONENT__i7_THRU_LUT4_0 13 12 1 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i7_LC_257)
set_location transmit_module.ADDR_Y_COMPONENT__i7 13 12 1 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i7_LC_257)
set_location transmit_module.ADDR_Y_COMPONENT__i8_THRU_LUT4_0 15 14 7 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i8_LC_258)
set_location transmit_module.ADDR_Y_COMPONENT__i8 15 14 7 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i8_LC_258)
set_location transmit_module.ADDR_Y_COMPONENT__i9_THRU_LUT4_0 15 14 6 # SB_LUT4 (LogicCell: transmit_module.ADDR_Y_COMPONENT__i9_LC_259)
set_location transmit_module.ADDR_Y_COMPONENT__i9 15 14 6 # SB_DFFESR (LogicCell: transmit_module.ADDR_Y_COMPONENT__i9_LC_259)
set_location transmit_module.VGA_R__i1_THRU_LUT4_0 14 24 4 # SB_LUT4 (LogicCell: transmit_module.VGA_R__i1_LC_260)
set_location transmit_module.VGA_R__i1 14 24 4 # SB_DFFSR (LogicCell: transmit_module.VGA_R__i1_LC_260)
set_location transmit_module.VGA_R__i2_THRU_LUT4_0 18 21 4 # SB_LUT4 (LogicCell: transmit_module.VGA_R__i2_LC_261)
set_location transmit_module.VGA_R__i2 18 21 4 # SB_DFFSR (LogicCell: transmit_module.VGA_R__i2_LC_261)
set_location transmit_module.VGA_R__i3_THRU_LUT4_0 16 20 7 # SB_LUT4 (LogicCell: transmit_module.VGA_R__i3_LC_262)
set_location transmit_module.VGA_R__i3 16 20 7 # SB_DFFSR (LogicCell: transmit_module.VGA_R__i3_LC_262)
set_location transmit_module.VGA_R__i4_THRU_LUT4_0 20 20 3 # SB_LUT4 (LogicCell: transmit_module.VGA_R__i4_LC_263)
set_location transmit_module.VGA_R__i4 20 20 3 # SB_DFFSR (LogicCell: transmit_module.VGA_R__i4_LC_263)
set_location transmit_module.VGA_R__i5_THRU_LUT4_0 16 20 2 # SB_LUT4 (LogicCell: transmit_module.VGA_R__i5_LC_264)
set_location transmit_module.VGA_R__i5 16 20 2 # SB_DFFSR (LogicCell: transmit_module.VGA_R__i5_LC_264)
set_location transmit_module.VGA_R__i6_THRU_LUT4_0 17 22 3 # SB_LUT4 (LogicCell: transmit_module.VGA_R__i6_LC_265)
set_location transmit_module.VGA_R__i6 17 22 3 # SB_DFFSR (LogicCell: transmit_module.VGA_R__i6_LC_265)
set_location transmit_module.VGA_R__i7_THRU_LUT4_0 14 23 7 # SB_LUT4 (LogicCell: transmit_module.VGA_R__i7_LC_266)
set_location transmit_module.VGA_R__i7 14 23 7 # SB_DFFSR (LogicCell: transmit_module.VGA_R__i7_LC_266)
set_location transmit_module.VGA_R__i8_THRU_LUT4_0 20 22 3 # SB_LUT4 (LogicCell: transmit_module.VGA_R__i8_LC_267)
set_location transmit_module.VGA_R__i8 20 22 3 # SB_DFFSR (LogicCell: transmit_module.VGA_R__i8_LC_267)
set_location transmit_module.X_DELTA_PATTERN_i0_THRU_LUT4_0 14 12 0 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i0_LC_268)
set_location transmit_module.X_DELTA_PATTERN_i0 14 12 0 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i0_LC_268)
set_location transmit_module.X_DELTA_PATTERN_i1_THRU_LUT4_0 7 12 5 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i1_LC_269)
set_location transmit_module.X_DELTA_PATTERN_i1 7 12 5 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i1_LC_269)
set_location transmit_module.X_DELTA_PATTERN_i10_THRU_LUT4_0 9 15 4 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i10_LC_270)
set_location transmit_module.X_DELTA_PATTERN_i10 9 15 4 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i10_LC_270)
set_location transmit_module.X_DELTA_PATTERN_i11_THRU_LUT4_0 9 16 3 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i11_LC_271)
set_location transmit_module.X_DELTA_PATTERN_i11 9 16 3 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i11_LC_271)
set_location transmit_module.X_DELTA_PATTERN_i12_THRU_LUT4_0 9 16 0 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i12_LC_272)
set_location transmit_module.X_DELTA_PATTERN_i12 9 16 0 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i12_LC_272)
set_location transmit_module.X_DELTA_PATTERN_i13_THRU_LUT4_0 9 16 6 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i13_LC_273)
set_location transmit_module.X_DELTA_PATTERN_i13 9 16 6 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i13_LC_273)
set_location transmit_module.X_DELTA_PATTERN_i14_THRU_LUT4_0 9 15 7 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i14_LC_274)
set_location transmit_module.X_DELTA_PATTERN_i14 9 15 7 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i14_LC_274)
set_location transmit_module.X_DELTA_PATTERN_i15_THRU_LUT4_0 9 15 2 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i15_LC_275)
set_location transmit_module.X_DELTA_PATTERN_i15 9 15 2 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i15_LC_275)
set_location transmit_module.X_DELTA_PATTERN_i2_THRU_LUT4_0 7 15 2 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i2_LC_276)
set_location transmit_module.X_DELTA_PATTERN_i2 7 15 2 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i2_LC_276)
set_location transmit_module.X_DELTA_PATTERN_i3_THRU_LUT4_0 7 15 0 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i3_LC_277)
set_location transmit_module.X_DELTA_PATTERN_i3 7 15 0 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i3_LC_277)
set_location transmit_module.X_DELTA_PATTERN_i4_THRU_LUT4_0 7 15 4 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i4_LC_278)
set_location transmit_module.X_DELTA_PATTERN_i4 7 15 4 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i4_LC_278)
set_location transmit_module.X_DELTA_PATTERN_i5_THRU_LUT4_0 9 15 6 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i5_LC_279)
set_location transmit_module.X_DELTA_PATTERN_i5 9 15 6 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i5_LC_279)
set_location transmit_module.X_DELTA_PATTERN_i6_THRU_LUT4_0 9 15 1 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i6_LC_280)
set_location transmit_module.X_DELTA_PATTERN_i6 9 15 1 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i6_LC_280)
set_location transmit_module.X_DELTA_PATTERN_i7_THRU_LUT4_0 9 15 0 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i7_LC_281)
set_location transmit_module.X_DELTA_PATTERN_i7 9 15 0 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i7_LC_281)
set_location transmit_module.X_DELTA_PATTERN_i8_THRU_LUT4_0 7 15 3 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i8_LC_282)
set_location transmit_module.X_DELTA_PATTERN_i8 7 15 3 # SB_DFFESR (LogicCell: transmit_module.X_DELTA_PATTERN_i8_LC_282)
set_location transmit_module.X_DELTA_PATTERN_i9_THRU_LUT4_0 7 15 6 # SB_LUT4 (LogicCell: transmit_module.X_DELTA_PATTERN_i9_LC_283)
set_location transmit_module.X_DELTA_PATTERN_i9 7 15 6 # SB_DFFESS (LogicCell: transmit_module.X_DELTA_PATTERN_i9_LC_283)
set_location transmit_module.Y_DELTA_PATTERN_i0_THRU_LUT4_0 14 16 0 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i0_LC_284)
set_location transmit_module.Y_DELTA_PATTERN_i0 14 16 0 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i0_LC_284)
set_location transmit_module.Y_DELTA_PATTERN_i1_THRU_LUT4_0 14 16 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i1_LC_285)
set_location transmit_module.Y_DELTA_PATTERN_i1 14 16 3 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i1_LC_285)
set_location transmit_module.Y_DELTA_PATTERN_i10_THRU_LUT4_0 14 16 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i10_LC_286)
set_location transmit_module.Y_DELTA_PATTERN_i10 14 16 5 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i10_LC_286)
set_location transmit_module.Y_DELTA_PATTERN_i11_THRU_LUT4_0 17 15 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i11_LC_287)
set_location transmit_module.Y_DELTA_PATTERN_i11 17 15 2 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i11_LC_287)
set_location transmit_module.Y_DELTA_PATTERN_i12_THRU_LUT4_0 17 15 0 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i12_LC_288)
set_location transmit_module.Y_DELTA_PATTERN_i12 17 15 0 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i12_LC_288)
set_location transmit_module.Y_DELTA_PATTERN_i13_THRU_LUT4_0 17 15 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i13_LC_289)
set_location transmit_module.Y_DELTA_PATTERN_i13 17 15 5 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i13_LC_289)
set_location transmit_module.Y_DELTA_PATTERN_i14_THRU_LUT4_0 18 16 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i14_LC_290)
set_location transmit_module.Y_DELTA_PATTERN_i14 18 16 4 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i14_LC_290)
set_location transmit_module.Y_DELTA_PATTERN_i15_THRU_LUT4_0 18 15 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i15_LC_291)
set_location transmit_module.Y_DELTA_PATTERN_i15 18 15 2 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i15_LC_291)
set_location transmit_module.Y_DELTA_PATTERN_i16_THRU_LUT4_0 18 15 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i16_LC_292)
set_location transmit_module.Y_DELTA_PATTERN_i16 18 15 4 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i16_LC_292)
set_location transmit_module.Y_DELTA_PATTERN_i17_THRU_LUT4_0 18 15 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i17_LC_293)
set_location transmit_module.Y_DELTA_PATTERN_i17 18 15 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i17_LC_293)
set_location transmit_module.Y_DELTA_PATTERN_i18_THRU_LUT4_0 18 15 6 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i18_LC_294)
set_location transmit_module.Y_DELTA_PATTERN_i18 18 15 6 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i18_LC_294)
set_location transmit_module.Y_DELTA_PATTERN_i19_THRU_LUT4_0 18 15 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i19_LC_295)
set_location transmit_module.Y_DELTA_PATTERN_i19 18 15 3 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i19_LC_295)
set_location transmit_module.Y_DELTA_PATTERN_i2_THRU_LUT4_0 12 16 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i2_LC_296)
set_location transmit_module.Y_DELTA_PATTERN_i2 12 16 5 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i2_LC_296)
set_location transmit_module.Y_DELTA_PATTERN_i20_THRU_LUT4_0 19 14 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i20_LC_297)
set_location transmit_module.Y_DELTA_PATTERN_i20 19 14 2 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i20_LC_297)
set_location transmit_module.Y_DELTA_PATTERN_i21_THRU_LUT4_0 18 14 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i21_LC_298)
set_location transmit_module.Y_DELTA_PATTERN_i21 18 14 5 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i21_LC_298)
set_location transmit_module.Y_DELTA_PATTERN_i22_THRU_LUT4_0 18 14 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i22_LC_299)
set_location transmit_module.Y_DELTA_PATTERN_i22 18 14 2 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i22_LC_299)
set_location transmit_module.Y_DELTA_PATTERN_i23_THRU_LUT4_0 18 14 7 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i23_LC_300)
set_location transmit_module.Y_DELTA_PATTERN_i23 18 14 7 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i23_LC_300)
set_location transmit_module.Y_DELTA_PATTERN_i24_THRU_LUT4_0 17 14 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i24_LC_301)
set_location transmit_module.Y_DELTA_PATTERN_i24 17 14 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i24_LC_301)
set_location transmit_module.Y_DELTA_PATTERN_i25_THRU_LUT4_0 17 15 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i25_LC_302)
set_location transmit_module.Y_DELTA_PATTERN_i25 17 15 3 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i25_LC_302)
set_location transmit_module.Y_DELTA_PATTERN_i26_THRU_LUT4_0 17 15 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i26_LC_303)
set_location transmit_module.Y_DELTA_PATTERN_i26 17 15 4 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i26_LC_303)
set_location transmit_module.Y_DELTA_PATTERN_i27_THRU_LUT4_0 18 13 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i27_LC_304)
set_location transmit_module.Y_DELTA_PATTERN_i27 18 13 3 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i27_LC_304)
set_location transmit_module.Y_DELTA_PATTERN_i28_THRU_LUT4_0 18 13 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i28_LC_305)
set_location transmit_module.Y_DELTA_PATTERN_i28 18 13 4 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i28_LC_305)
set_location transmit_module.Y_DELTA_PATTERN_i29_THRU_LUT4_0 18 13 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i29_LC_306)
set_location transmit_module.Y_DELTA_PATTERN_i29 18 13 5 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i29_LC_306)
set_location transmit_module.Y_DELTA_PATTERN_i3_THRU_LUT4_0 12 16 7 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i3_LC_307)
set_location transmit_module.Y_DELTA_PATTERN_i3 12 16 7 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i3_LC_307)
set_location transmit_module.Y_DELTA_PATTERN_i30_THRU_LUT4_0 18 13 6 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i30_LC_308)
set_location transmit_module.Y_DELTA_PATTERN_i30 18 13 6 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i30_LC_308)
set_location transmit_module.Y_DELTA_PATTERN_i31_THRU_LUT4_0 18 13 7 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i31_LC_309)
set_location transmit_module.Y_DELTA_PATTERN_i31 18 13 7 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i31_LC_309)
set_location transmit_module.Y_DELTA_PATTERN_i32_THRU_LUT4_0 18 13 0 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i32_LC_310)
set_location transmit_module.Y_DELTA_PATTERN_i32 18 13 0 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i32_LC_310)
set_location transmit_module.Y_DELTA_PATTERN_i33_THRU_LUT4_0 11 12 0 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i33_LC_311)
set_location transmit_module.Y_DELTA_PATTERN_i33 11 12 0 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i33_LC_311)
set_location transmit_module.Y_DELTA_PATTERN_i34_THRU_LUT4_0 11 12 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i34_LC_312)
set_location transmit_module.Y_DELTA_PATTERN_i34 11 12 4 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i34_LC_312)
set_location transmit_module.Y_DELTA_PATTERN_i35_THRU_LUT4_0 11 10 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i35_LC_313)
set_location transmit_module.Y_DELTA_PATTERN_i35 11 10 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i35_LC_313)
set_location transmit_module.Y_DELTA_PATTERN_i36_THRU_LUT4_0 11 10 6 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i36_LC_314)
set_location transmit_module.Y_DELTA_PATTERN_i36 11 10 6 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i36_LC_314)
set_location transmit_module.Y_DELTA_PATTERN_i37_THRU_LUT4_0 12 10 1 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i37_LC_315)
set_location transmit_module.Y_DELTA_PATTERN_i37 12 10 1 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i37_LC_315)
set_location transmit_module.Y_DELTA_PATTERN_i38_THRU_LUT4_0 12 10 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i38_LC_316)
set_location transmit_module.Y_DELTA_PATTERN_i38 12 10 2 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i38_LC_316)
set_location transmit_module.Y_DELTA_PATTERN_i39_THRU_LUT4_0 11 10 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i39_LC_317)
set_location transmit_module.Y_DELTA_PATTERN_i39 11 10 2 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i39_LC_317)
set_location transmit_module.Y_DELTA_PATTERN_i4_THRU_LUT4_0 12 16 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i4_LC_318)
set_location transmit_module.Y_DELTA_PATTERN_i4 12 16 4 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i4_LC_318)
set_location transmit_module.Y_DELTA_PATTERN_i40_THRU_LUT4_0 10 10 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i40_LC_319)
set_location transmit_module.Y_DELTA_PATTERN_i40 10 10 4 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i40_LC_319)
set_location transmit_module.Y_DELTA_PATTERN_i41_THRU_LUT4_0 10 11 6 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i41_LC_320)
set_location transmit_module.Y_DELTA_PATTERN_i41 10 11 6 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i41_LC_320)
set_location transmit_module.Y_DELTA_PATTERN_i42_THRU_LUT4_0 10 13 1 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i42_LC_321)
set_location transmit_module.Y_DELTA_PATTERN_i42 10 13 1 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i42_LC_321)
set_location transmit_module.Y_DELTA_PATTERN_i43_THRU_LUT4_0 10 13 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i43_LC_322)
set_location transmit_module.Y_DELTA_PATTERN_i43 10 13 4 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i43_LC_322)
set_location transmit_module.Y_DELTA_PATTERN_i44_THRU_LUT4_0 10 13 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i44_LC_323)
set_location transmit_module.Y_DELTA_PATTERN_i44 10 13 3 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i44_LC_323)
set_location transmit_module.Y_DELTA_PATTERN_i45_THRU_LUT4_0 10 12 7 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i45_LC_324)
set_location transmit_module.Y_DELTA_PATTERN_i45 10 12 7 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i45_LC_324)
set_location transmit_module.Y_DELTA_PATTERN_i46_THRU_LUT4_0 10 12 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i46_LC_325)
set_location transmit_module.Y_DELTA_PATTERN_i46 10 12 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i46_LC_325)
set_location transmit_module.Y_DELTA_PATTERN_i47_THRU_LUT4_0 10 12 6 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i47_LC_326)
set_location transmit_module.Y_DELTA_PATTERN_i47 10 12 6 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i47_LC_326)
set_location transmit_module.Y_DELTA_PATTERN_i48_THRU_LUT4_0 10 12 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i48_LC_327)
set_location transmit_module.Y_DELTA_PATTERN_i48 10 12 4 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i48_LC_327)
set_location transmit_module.Y_DELTA_PATTERN_i49_THRU_LUT4_0 11 12 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i49_LC_328)
set_location transmit_module.Y_DELTA_PATTERN_i49 11 12 3 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i49_LC_328)
set_location transmit_module.Y_DELTA_PATTERN_i5_THRU_LUT4_0 12 16 1 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i5_LC_329)
set_location transmit_module.Y_DELTA_PATTERN_i5 12 16 1 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i5_LC_329)
set_location transmit_module.Y_DELTA_PATTERN_i50_THRU_LUT4_0 11 11 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i50_LC_330)
set_location transmit_module.Y_DELTA_PATTERN_i50 11 11 5 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i50_LC_330)
set_location transmit_module.Y_DELTA_PATTERN_i51_THRU_LUT4_0 11 11 7 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i51_LC_331)
set_location transmit_module.Y_DELTA_PATTERN_i51 11 11 7 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i51_LC_331)
set_location transmit_module.Y_DELTA_PATTERN_i52_THRU_LUT4_0 11 11 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i52_LC_332)
set_location transmit_module.Y_DELTA_PATTERN_i52 11 11 3 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i52_LC_332)
set_location transmit_module.Y_DELTA_PATTERN_i53_THRU_LUT4_0 11 9 1 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i53_LC_333)
set_location transmit_module.Y_DELTA_PATTERN_i53 11 9 1 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i53_LC_333)
set_location transmit_module.Y_DELTA_PATTERN_i54_THRU_LUT4_0 11 9 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i54_LC_334)
set_location transmit_module.Y_DELTA_PATTERN_i54 11 9 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i54_LC_334)
set_location transmit_module.Y_DELTA_PATTERN_i55_THRU_LUT4_0 11 9 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i55_LC_335)
set_location transmit_module.Y_DELTA_PATTERN_i55 11 9 2 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i55_LC_335)
set_location transmit_module.Y_DELTA_PATTERN_i56_THRU_LUT4_0 11 10 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i56_LC_336)
set_location transmit_module.Y_DELTA_PATTERN_i56 11 10 3 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i56_LC_336)
set_location transmit_module.Y_DELTA_PATTERN_i57_THRU_LUT4_0 12 10 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i57_LC_337)
set_location transmit_module.Y_DELTA_PATTERN_i57 12 10 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i57_LC_337)
set_location transmit_module.Y_DELTA_PATTERN_i58_THRU_LUT4_0 12 10 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i58_LC_338)
set_location transmit_module.Y_DELTA_PATTERN_i58 12 10 3 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i58_LC_338)
set_location transmit_module.Y_DELTA_PATTERN_i59_THRU_LUT4_0 12 10 6 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i59_LC_339)
set_location transmit_module.Y_DELTA_PATTERN_i59 12 10 6 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i59_LC_339)
set_location transmit_module.Y_DELTA_PATTERN_i6_THRU_LUT4_0 12 16 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i6_LC_340)
set_location transmit_module.Y_DELTA_PATTERN_i6 12 16 2 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i6_LC_340)
set_location transmit_module.Y_DELTA_PATTERN_i60_THRU_LUT4_0 12 10 0 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i60_LC_341)
set_location transmit_module.Y_DELTA_PATTERN_i60 12 10 0 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i60_LC_341)
set_location transmit_module.Y_DELTA_PATTERN_i61_THRU_LUT4_0 11 11 1 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i61_LC_342)
set_location transmit_module.Y_DELTA_PATTERN_i61 11 11 1 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i61_LC_342)
set_location transmit_module.Y_DELTA_PATTERN_i62_THRU_LUT4_0 10 11 7 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i62_LC_343)
set_location transmit_module.Y_DELTA_PATTERN_i62 10 11 7 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i62_LC_343)
set_location transmit_module.Y_DELTA_PATTERN_i63_THRU_LUT4_0 10 11 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i63_LC_344)
set_location transmit_module.Y_DELTA_PATTERN_i63 10 11 4 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i63_LC_344)
set_location transmit_module.Y_DELTA_PATTERN_i64_THRU_LUT4_0 10 11 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i64_LC_345)
set_location transmit_module.Y_DELTA_PATTERN_i64 10 11 3 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i64_LC_345)
set_location transmit_module.Y_DELTA_PATTERN_i65_THRU_LUT4_0 10 11 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i65_LC_346)
set_location transmit_module.Y_DELTA_PATTERN_i65 10 11 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i65_LC_346)
set_location transmit_module.Y_DELTA_PATTERN_i66_THRU_LUT4_0 11 11 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i66_LC_347)
set_location transmit_module.Y_DELTA_PATTERN_i66 11 11 2 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i66_LC_347)
set_location transmit_module.Y_DELTA_PATTERN_i67_THRU_LUT4_0 11 13 7 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i67_LC_348)
set_location transmit_module.Y_DELTA_PATTERN_i67 11 13 7 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i67_LC_348)
set_location transmit_module.Y_DELTA_PATTERN_i68_THRU_LUT4_0 11 13 1 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i68_LC_349)
set_location transmit_module.Y_DELTA_PATTERN_i68 11 13 1 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i68_LC_349)
set_location transmit_module.Y_DELTA_PATTERN_i69_THRU_LUT4_0 11 13 0 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i69_LC_350)
set_location transmit_module.Y_DELTA_PATTERN_i69 11 13 0 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i69_LC_350)
set_location transmit_module.Y_DELTA_PATTERN_i7_THRU_LUT4_0 12 16 0 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i7_LC_351)
set_location transmit_module.Y_DELTA_PATTERN_i7 12 16 0 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i7_LC_351)
set_location transmit_module.Y_DELTA_PATTERN_i70_THRU_LUT4_0 11 13 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i70_LC_352)
set_location transmit_module.Y_DELTA_PATTERN_i70 11 13 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i70_LC_352)
set_location transmit_module.Y_DELTA_PATTERN_i71_THRU_LUT4_0 11 12 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i71_LC_353)
set_location transmit_module.Y_DELTA_PATTERN_i71 11 12 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i71_LC_353)
set_location transmit_module.Y_DELTA_PATTERN_i72_THRU_LUT4_0 10 12 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i72_LC_354)
set_location transmit_module.Y_DELTA_PATTERN_i72 10 12 3 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i72_LC_354)
set_location transmit_module.Y_DELTA_PATTERN_i73_THRU_LUT4_0 10 12 0 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i73_LC_355)
set_location transmit_module.Y_DELTA_PATTERN_i73 10 12 0 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i73_LC_355)
set_location transmit_module.Y_DELTA_PATTERN_i74_THRU_LUT4_0 10 12 1 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i74_LC_356)
set_location transmit_module.Y_DELTA_PATTERN_i74 10 12 1 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i74_LC_356)
set_location transmit_module.Y_DELTA_PATTERN_i75_THRU_LUT4_0 10 12 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i75_LC_357)
set_location transmit_module.Y_DELTA_PATTERN_i75 10 12 2 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i75_LC_357)
set_location transmit_module.Y_DELTA_PATTERN_i76_THRU_LUT4_0 9 12 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i76_LC_358)
set_location transmit_module.Y_DELTA_PATTERN_i76 9 12 2 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i76_LC_358)
set_location transmit_module.Y_DELTA_PATTERN_i77_THRU_LUT4_0 9 12 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i77_LC_359)
set_location transmit_module.Y_DELTA_PATTERN_i77 9 12 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i77_LC_359)
set_location transmit_module.Y_DELTA_PATTERN_i78_THRU_LUT4_0 11 13 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i78_LC_360)
set_location transmit_module.Y_DELTA_PATTERN_i78 11 13 2 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i78_LC_360)
set_location transmit_module.Y_DELTA_PATTERN_i79_THRU_LUT4_0 11 13 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i79_LC_361)
set_location transmit_module.Y_DELTA_PATTERN_i79 11 13 4 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i79_LC_361)
set_location transmit_module.Y_DELTA_PATTERN_i8_THRU_LUT4_0 14 16 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i8_LC_362)
set_location transmit_module.Y_DELTA_PATTERN_i8 14 16 4 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i8_LC_362)
set_location transmit_module.Y_DELTA_PATTERN_i80_THRU_LUT4_0 11 12 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i80_LC_363)
set_location transmit_module.Y_DELTA_PATTERN_i80 11 12 2 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i80_LC_363)
set_location transmit_module.Y_DELTA_PATTERN_i81_THRU_LUT4_0 11 12 1 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i81_LC_364)
set_location transmit_module.Y_DELTA_PATTERN_i81 11 12 1 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i81_LC_364)
set_location transmit_module.Y_DELTA_PATTERN_i82_THRU_LUT4_0 11 12 7 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i82_LC_365)
set_location transmit_module.Y_DELTA_PATTERN_i82 11 12 7 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i82_LC_365)
set_location transmit_module.Y_DELTA_PATTERN_i83_THRU_LUT4_0 12 11 7 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i83_LC_366)
set_location transmit_module.Y_DELTA_PATTERN_i83 12 11 7 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i83_LC_366)
set_location transmit_module.Y_DELTA_PATTERN_i84_THRU_LUT4_0 12 11 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i84_LC_367)
set_location transmit_module.Y_DELTA_PATTERN_i84 12 11 4 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i84_LC_367)
set_location transmit_module.Y_DELTA_PATTERN_i85_THRU_LUT4_0 12 11 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i85_LC_368)
set_location transmit_module.Y_DELTA_PATTERN_i85 12 11 2 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i85_LC_368)
set_location transmit_module.Y_DELTA_PATTERN_i86_THRU_LUT4_0 9 11 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i86_LC_369)
set_location transmit_module.Y_DELTA_PATTERN_i86 9 11 4 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i86_LC_369)
set_location transmit_module.Y_DELTA_PATTERN_i87_THRU_LUT4_0 9 11 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i87_LC_370)
set_location transmit_module.Y_DELTA_PATTERN_i87 9 11 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i87_LC_370)
set_location transmit_module.Y_DELTA_PATTERN_i88_THRU_LUT4_0 9 11 6 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i88_LC_371)
set_location transmit_module.Y_DELTA_PATTERN_i88 9 11 6 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i88_LC_371)
set_location transmit_module.Y_DELTA_PATTERN_i89_THRU_LUT4_0 9 11 0 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i89_LC_372)
set_location transmit_module.Y_DELTA_PATTERN_i89 9 11 0 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i89_LC_372)
set_location transmit_module.Y_DELTA_PATTERN_i9_THRU_LUT4_0 14 16 1 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i9_LC_373)
set_location transmit_module.Y_DELTA_PATTERN_i9 14 16 1 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i9_LC_373)
set_location transmit_module.Y_DELTA_PATTERN_i90_THRU_LUT4_0 9 12 3 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i90_LC_374)
set_location transmit_module.Y_DELTA_PATTERN_i90 9 12 3 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i90_LC_374)
set_location transmit_module.Y_DELTA_PATTERN_i91_THRU_LUT4_0 9 12 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i91_LC_375)
set_location transmit_module.Y_DELTA_PATTERN_i91 9 12 4 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i91_LC_375)
set_location transmit_module.Y_DELTA_PATTERN_i92_THRU_LUT4_0 9 12 6 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i92_LC_376)
set_location transmit_module.Y_DELTA_PATTERN_i92 9 12 6 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i92_LC_376)
set_location transmit_module.Y_DELTA_PATTERN_i93_THRU_LUT4_0 9 13 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i93_LC_377)
set_location transmit_module.Y_DELTA_PATTERN_i93 9 13 4 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i93_LC_377)
set_location transmit_module.Y_DELTA_PATTERN_i94_THRU_LUT4_0 9 14 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i94_LC_378)
set_location transmit_module.Y_DELTA_PATTERN_i94 9 14 5 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i94_LC_378)
set_location transmit_module.Y_DELTA_PATTERN_i95_THRU_LUT4_0 9 13 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i95_LC_379)
set_location transmit_module.Y_DELTA_PATTERN_i95 9 13 5 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i95_LC_379)
set_location transmit_module.Y_DELTA_PATTERN_i96_THRU_LUT4_0 10 13 2 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i96_LC_380)
set_location transmit_module.Y_DELTA_PATTERN_i96 10 13 2 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i96_LC_380)
set_location transmit_module.Y_DELTA_PATTERN_i97_THRU_LUT4_0 11 10 4 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i97_LC_381)
set_location transmit_module.Y_DELTA_PATTERN_i97 11 10 4 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i97_LC_381)
set_location transmit_module.Y_DELTA_PATTERN_i98_THRU_LUT4_0 12 11 0 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i98_LC_382)
set_location transmit_module.Y_DELTA_PATTERN_i98 12 11 0 # SB_DFFESS (LogicCell: transmit_module.Y_DELTA_PATTERN_i98_LC_382)
set_location transmit_module.Y_DELTA_PATTERN_i99_THRU_LUT4_0 12 12 5 # SB_LUT4 (LogicCell: transmit_module.Y_DELTA_PATTERN_i99_LC_383)
set_location transmit_module.Y_DELTA_PATTERN_i99 12 12 5 # SB_DFFESR (LogicCell: transmit_module.Y_DELTA_PATTERN_i99_LC_383)
set_location transmit_module.i1595_4_lut_transmit_module.BRAM_ADDR__i0_REP_LUT4_0 14 13 2 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i0_LC_384)
set_location transmit_module.BRAM_ADDR__i0 14 13 2 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i0_LC_384)
set_location transmit_module.i1600_4_lut_transmit_module.BRAM_ADDR__i1_REP_LUT4_0 14 14 4 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i1_LC_385)
set_location transmit_module.BRAM_ADDR__i1 14 14 4 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i1_LC_385)
set_location transmit_module.i1601_4_lut_transmit_module.BRAM_ADDR__i2_REP_LUT4_0 14 14 0 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i2_LC_386)
set_location transmit_module.BRAM_ADDR__i2 14 14 0 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i2_LC_386)
set_location transmit_module.i1602_4_lut_transmit_module.BRAM_ADDR__i3_REP_LUT4_0 16 13 3 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i3_LC_387)
set_location transmit_module.BRAM_ADDR__i3 16 13 3 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i3_LC_387)
set_location transmit_module.i1603_4_lut_transmit_module.BRAM_ADDR__i4_REP_LUT4_0 14 14 2 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i4_LC_388)
set_location transmit_module.BRAM_ADDR__i4 14 14 2 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i4_LC_388)
set_location transmit_module.i1604_4_lut_transmit_module.BRAM_ADDR__i5_REP_LUT4_0 14 13 7 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i5_LC_389)
set_location transmit_module.BRAM_ADDR__i5 14 13 7 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i5_LC_389)
set_location transmit_module.i1605_4_lut_transmit_module.BRAM_ADDR__i6_REP_LUT4_0 14 14 6 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i6_LC_390)
set_location transmit_module.BRAM_ADDR__i6 14 14 6 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i6_LC_390)
set_location transmit_module.i1606_4_lut_transmit_module.BRAM_ADDR__i7_REP_LUT4_0 14 13 4 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i7_LC_391)
set_location transmit_module.BRAM_ADDR__i7 14 13 4 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i7_LC_391)
set_location transmit_module.i1607_4_lut_transmit_module.BRAM_ADDR__i8_REP_LUT4_0 16 15 2 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i8_LC_392)
set_location transmit_module.BRAM_ADDR__i8 16 15 2 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i8_LC_392)
set_location transmit_module.i1608_4_lut_transmit_module.BRAM_ADDR__i9_REP_LUT4_0 16 15 4 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i9_LC_393)
set_location transmit_module.BRAM_ADDR__i9 16 15 4 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i9_LC_393)
set_location transmit_module.i1609_4_lut_transmit_module.BRAM_ADDR__i10_REP_LUT4_0 14 15 1 # SB_LUT4 (LogicCell: transmit_module.BRAM_ADDR__i10_LC_394)
set_location transmit_module.BRAM_ADDR__i10 14 15 1 # SB_DFF (LogicCell: transmit_module.BRAM_ADDR__i10_LC_394)
set_location transmit_module.old_VGA_HS_40_THRU_LUT4_0 12 15 4 # SB_LUT4 (LogicCell: transmit_module.old_VGA_HS_40_LC_395)
set_location transmit_module.old_VGA_HS_40 12 15 4 # SB_DFF (LogicCell: transmit_module.old_VGA_HS_40_LC_395)
set_location GB_BUFFER_TVP_CLK_c_THRU_LUT4_0 16 32 3 # SB_LUT4 (LogicCell: GB_BUFFER_TVP_CLK_c_THRU_LUT4_0_LC_396)
set_io ADV_BLANK_N_pad 20 33 0 # ICE_IO
set_io ADV_B_pad_0 11 33 1 # ICE_IO
set_io ADV_B_pad_1 19 33 1 # ICE_IO
set_io ADV_B_pad_2 20 33 1 # ICE_IO
set_io ADV_B_pad_3 27 33 0 # ICE_IO
set_io ADV_B_pad_4 26 33 1 # ICE_IO
set_io ADV_B_pad_5 28 33 1 # ICE_IO
set_io ADV_B_pad_6 30 33 1 # ICE_IO
set_io ADV_B_pad_7 31 33 1 # ICE_IO
set_io ADV_CLK_pad 29 33 1 # ICE_IO
set_io ADV_G_pad_0 2 33 0 # ICE_IO
set_io ADV_G_pad_1 3 33 1 # ICE_IO
set_io ADV_G_pad_2 4 33 0 # ICE_IO
set_io ADV_G_pad_3 3 33 0 # ICE_IO
set_io ADV_G_pad_4 5 33 0 # ICE_IO
set_io ADV_G_pad_5 9 33 0 # ICE_IO
set_io ADV_G_pad_6 10 33 1 # ICE_IO
set_io ADV_G_pad_7 11 33 0 # ICE_IO
set_io ADV_HSYNC_pad 0 21 0 # ICE_IO
set_io ADV_R_pad_0 0 27 1 # ICE_IO
set_io ADV_R_pad_1 0 27 0 # ICE_IO
set_io ADV_R_pad_2 0 22 0 # ICE_IO
set_io ADV_R_pad_3 0 21 1 # ICE_IO
set_io ADV_R_pad_4 0 25 0 # ICE_IO
set_io ADV_R_pad_5 0 25 1 # ICE_IO
set_io ADV_R_pad_6 0 30 1 # ICE_IO
set_io ADV_R_pad_7 0 30 0 # ICE_IO
set_io ADV_SYNC_N_pad 26 33 0 # ICE_IO
set_io ADV_VSYNC_pad 0 22 1 # ICE_IO
set_io DEBUG_pad_0 0 6 0 # ICE_IO
set_io DEBUG_pad_1 0 6 1 # ICE_IO
set_io DEBUG_pad_2 0 11 0 # ICE_IO
set_io DEBUG_pad_3 0 11 1 # ICE_IO
set_io DEBUG_pad_4 0 16 0 # ICE_IO
set_io DEBUG_pad_5 0 18 1 # ICE_IO
set_io DEBUG_pad_6 0 18 0 # ICE_IO
set_io DEBUG_pad_7 0 20 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io LED_pad 22 0 1 # ICE_IO
set_io TVP_CLK_pad 17 0 0 # ICE_GB_IO
set_io TVP_HSYNC_pad 20 0 0 # ICE_IO
set_io TVP_VIDEO_pad_2 6 0 1 # ICE_IO
set_io TVP_VIDEO_pad_3 7 0 1 # ICE_IO
set_io TVP_VIDEO_pad_4 11 0 1 # ICE_IO
set_io TVP_VIDEO_pad_5 12 0 1 # ICE_IO
set_io TVP_VIDEO_pad_6 12 0 0 # ICE_IO
set_io TVP_VIDEO_pad_7 15 0 1 # ICE_IO
set_io TVP_VIDEO_pad_8 16 0 1 # ICE_IO
set_io TVP_VIDEO_pad_9 24 0 0 # ICE_IO
set_io TVP_VSYNC_pad 15 0 0 # ICE_IO
set_location line_buffer.mem0 25 1 0 # SB_RAM40_4K
set_location line_buffer.mem1 25 3 0 # SB_RAM40_4K
set_location line_buffer.mem10 25 5 0 # SB_RAM40_4K
set_location line_buffer.mem11 25 7 0 # SB_RAM40_4K
set_location line_buffer.mem12 25 9 0 # SB_RAM40_4K
set_location line_buffer.mem13 25 11 0 # SB_RAM40_4K
set_location line_buffer.mem14 25 13 0 # SB_RAM40_4K
set_location line_buffer.mem15 25 15 0 # SB_RAM40_4K
set_location line_buffer.mem16 25 17 0 # SB_RAM40_4K
set_location line_buffer.mem17 25 19 0 # SB_RAM40_4K
set_location line_buffer.mem18 25 21 0 # SB_RAM40_4K
set_location line_buffer.mem19 25 23 0 # SB_RAM40_4K
set_location line_buffer.mem2 25 25 0 # SB_RAM40_4K
set_location line_buffer.mem20 25 27 0 # SB_RAM40_4K
set_location line_buffer.mem21 25 29 0 # SB_RAM40_4K
set_location line_buffer.mem22 25 31 0 # SB_RAM40_4K
set_location line_buffer.mem23 8 1 0 # SB_RAM40_4K
set_location line_buffer.mem24 8 3 0 # SB_RAM40_4K
set_location line_buffer.mem25 8 5 0 # SB_RAM40_4K
set_location line_buffer.mem26 8 7 0 # SB_RAM40_4K
set_location line_buffer.mem27 8 9 0 # SB_RAM40_4K
set_location line_buffer.mem28 8 11 0 # SB_RAM40_4K
set_location line_buffer.mem29 8 13 0 # SB_RAM40_4K
set_location line_buffer.mem3 8 15 0 # SB_RAM40_4K
set_location line_buffer.mem30 8 17 0 # SB_RAM40_4K
set_location line_buffer.mem31 8 19 0 # SB_RAM40_4K
set_location line_buffer.mem4 8 21 0 # SB_RAM40_4K
set_location line_buffer.mem5 8 23 0 # SB_RAM40_4K
set_location line_buffer.mem6 8 25 0 # SB_RAM40_4K
set_location line_buffer.mem7 8 27 0 # SB_RAM40_4K
set_location line_buffer.mem8 8 29 0 # SB_RAM40_4K
set_location line_buffer.mem9 8 31 0 # SB_RAM40_4K
set_location tx_pll.TX_PLL_inst 16 33 1 # SB_PLL40_CORE
set_location INV_ADV_CLK_c -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 17 25 3 # SB_LUT4 (LogicCell: LC_397)
